<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ../../../common/require/head %>
    <Style>
        html,
        body {
            width: 100%;
            height: 100%;
        }
    </Style>
    <script>
        history.pushState(null, null, location.href)
        window.onpageshow = function (event) {
            if ( event.persisted || (window.performance && window.performance.navigation.type === 2)){
                location.replace('/')
            }
        }
    </script>
</head>

<body>
    <% if(thismode == "user") {%>
    <% include ../../../common/require/topnav_usr %>
    <%}else if(thismode == "affiliate"){%>
    <% include ../../../common/require/topnav_aff %>
    <%}else if(thismode == "supplier"){%>
    <% include ../../../common/require/topnav_sup %>
    <%}%>

    <% include components/contents %>

    <% include ../../../common/require/modal %>
    <% include ../../../common/require/foot %>

    <% if(thismode == "user" && isbottomnav) {%>
    <% include ../../../common/require/bottomnav_usr %>
    <%}else if(thismode == "affiliate" && isbottomnav){%>
    <% include ../../../common/require/bottomnav_aff %>
    <%}else if(thismode == "supplier" && isbottomnav){%>
    <% include ../../../common/require/bottomnav_sup %>
    <%}%>

    <% include ./components/script %>
</body>

</html>