.calendar {
    margin: 0;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    color: #333333;
    border: 1px solid #dddddd;
}

.calendar a {
    text-decoration: none;
    color: inherit;
}

.calendar header {
    background: #ffffff;
    height: 3.5rem;
    border-bottom: 1px solid #dddddd;
    padding: 0.75rem 1rem;
}

.calendar header .month {
    padding: 0;
    margin: 0;
}

.calendar table {
    width: 100%;
}

.calendar thead {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: -0.018rem
}

.calendar thead .weekend {
    color: #aaaaaa;
}

.calendar thead td {
    font-size: 0.85rem;
    padding: 1em .1em;
}

.calendar .selected.sup {
    background: #1962aa !important;
    color: #ffffff !important;
    border-color: #0e5499 !important;
}

.calendar .selected.aff {
    background: #23afeb !important;
    color: #ffffff !important;
    border-color: #23afeb !important;
}

.calendar .selected.usr {
    background: #ee7499 !important;
    color: #ffffff !important;
    border-color: #e96d93 !important;
}

.calendar .range.sup {
    background: #87b7e7 !important;
    color: #ffffff !important;
    border-color: #75a7d9 !important;
}

.calendar .range.aff {
    background: #7dd4f9 !important;
    color: #ffffff !important;
    border-color: #60c4ef !important;
}

.calendar .range.usr {
    background: #fc9fbb !important;
    color: #ffffff !important;
    border-color: #f38aaa !important;
}

.calendar tbody td {
    font-weight: 400;
    font-size: 1rem;
    color: #333333;
    width: 2.75rem;
    height: 2.5rem;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}

.calendar tbody tr:nth-last-child(2) {
    border-bottom: 1px solid #f5f5f5;
}

.calendar .today {
    border: 2px solid #1962aa;
}

.calendar .today.aff{
    border: 2px solid #23afeb;
}

.calendar .today .aff{
    border: 2px solid #23afeb;
}

.calendar .today.usr{
    border: 2px solid #ee7499;
}

.calendar .wrongday {
    color: #dddddd;
}

.calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
}
