/* common icon */

.icon-main {
    margin-top: 0.5rem;
    background: url(/img/icon/bottomnav/main.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-plus {
    background: url(/img/icon/plus.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrowdown {
    position: absolute;
    margin-top:0.313rem;
    margin-left:1.125rem;
    background: url(/img/icon/i_btn_arrow_small.png);
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrowdown.usr {
  position: absolute;
    margin-top:0.313rem;
    margin-left:1.125rem;
    background: url(/img/icon/i_btn_arrow_small_usr.png);
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrowup {
    position: absolute;
    margin-top:0.313rem;
    margin-left:1.125rem;
    background: url(/img/icon/i_btn_arrowup_small.png);
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrowup.usr {
  position: absolute;
    margin-top:0.313rem;
    margin-left:1.125rem;
    background: url(/img/icon/i_btn_arrowup_small_usr.png);
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-leftmenu {
    background: url(/img/icon/i_menu.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.125rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-storecode {
    background: url(/img/icon/i_storecode.png);
    background-size: 6rem;
    width: 6rem;
    height: 6rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-emptyStore {
    background: url(/img/icon/i_store_empty.png);
    background-size: 6rem;
    width: 6rem;
    height: 6rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-bstorecode {
    margin-top: 0.5rem;
    background: url(/img/icon/bottomnav/bstorecode.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.25rem;
    display: inline-block;
    
    background-repeat: no-repeat;
}
.icon-ticket {
    margin-top: 0.425rem;
    background: url(/img/icon/i_pd.png);
    background-size: 2.125rem;
    width: 2.125rem;
    height: 1.125rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-search {
    margin-top: 0.5rem;
    background: url(/img/icon/bottomnav/search.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-plusfriend{
     margin-top: 0.5rem;    
    margin-left:4px;
    background: url(/img/icon/bottomnav/plusfriend.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.3rem;
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-sugest {
    margin-left:4px;
    background: url(/img/icon/sugest.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-voucher {
    margin-top: 0.25rem;
    background: url(/img/icon/bottomnav/voucher.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-position: 0 0.5rem;
    background-repeat: no-repeat;
}

.icon-remind {
    margin-top: 0.5rem;
    background: url(/img/icon/bottomnav/remind.png);
    background-size: 0.85rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-settings {

    background: url(/img/icon/icon_cog.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-myinfo {
    margin-top: 0.5rem;
    background: url(/img/icon/bottomnav/myinfo.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-profile {
    background: url(/img/icon/profile.png);
    background-size: 1.2rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-profile-usr {
    background: url(/img/icon/profile_user.png);
    background-size: 1.7rem;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}


.icon-like.usr {
    background: url(/img/icon/i_like_usr.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.125rem;
    display: inline-block;
    background-repeat: no-repeat;

}

.icon-link.usr {
    background: url(/img/icon/i_link_usr.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;

}

.icon-like.sup {
    background: url(/img/icon/i_like_sup.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.125rem;
    display: inline-block;
    background-repeat: no-repeat;

}


.icon-link.sup {
    background: url(/img/icon/i_link_sup.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;

}

.icon-like.aff {
    background: url(/img/icon/i_like_aff.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.125rem;
    display: inline-block;
    background-repeat: no-repeat;

}


.icon-link.aff {
    background: url(/img/icon/i_link_aff.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;

}




.icon-search.sup.text {
    position: absolute;
    top: 10px;
    right: 22px;
}

.icon-search.aff {
    background: url(/img/icon/search_aff.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-search.aff.text {
    position: absolute;
    top: 10px;
    right: 22px;
}

.icon-search.usr {
    background: url(/img/icon/search_usr.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-search.usr.text {
    position: absolute;
    top: 10px;
    right: 22px;
}

.icon-before {
    background: url(/img/icon/privious.png);
    background-size: 0.688rem;
    width: 0.688rem;
    height: 1.313rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-close {

    background: url(/img/icon/icon_close.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-close.leftmenu {
    margin-top:3px;
    background: url(/img/icon/icon_close.png);
    background-size: 1.25rem;
    position:absolute;
    right:0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-change {
    background: url(/img/icon/change.png);
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    right: 3.6rem;
    top: 0.3rem;
}

.icon-change.additem {
    position: absolute;
    right: 3.5rem;
    top: 1.4rem;
}

.icon-plusbig {
    background: url(/img/icon/iPlusBig@3x.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-plusbig.center {
    background-position: center;
}

.icon-expose {
    width: 8vw;
    height: 1.5rem;
    position: absolute;
    background: rgba(25, 98, 170, 0.7);
    color: #ffffff;
    font-weight: 350;
    font-size: 1rem;
    letter-spacing: -0.037rem;
    z-index: 9999;
    text-align: center;
}

.icon-exposeslide {
    width: 8vw;
    height: 2.5vh;
    background: rgba(25, 98, 170, 0.7);
    color: #ffffff;
    font-weight: 350;
    font-size: 1.5vh;
    line-height: 2.6vh;
    letter-spacing: -0.037rem;
    text-align: center;
}

.icon-exposeslider::before {
    width: 2rem;
    height: 1.5rem;
    background: rgba(25, 98, 170, 0.7);
    color: #ffffff;
    font-weight: 350;
    font-size: 0.85rem;
    line-height: 1.5rem;
    letter-spacing: -0.037rem;
    text-align: center;
    position: absolute;
    content: '대표'
}

.icon-imgdel {
    background: url(/img/icon/imgdel.png);
    width: 1.85rem !important;
    height: 1.25rem;
    margin-left: 2px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-bgdel {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    background: rgba(85, 85, 85, 0.9);
    color: #ffffff;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: -0.037rem;
    text-align: center;
    right: 0
}

.icon-img {
    background: url(/img/icon/blankimg.png);
    background-size: 2.125rem;
    width: 2.125rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-img.center {
    background-position: center;
}

.icon-imgnumber {
    width: 3vh;
    height: 3vh;
    position: absolute;
    background: white;
    color: #ffffff;
    font-size: 1.75vh;
    line-height: 2.6vh;
    letter-spacing: -0.037rem;
    z-index: 9999;
    text-align: center;
    right: 1vw;
    top: 1vw;
    border-radius: 50%;
    border: 1px solid #1962aa
}

.icon-imgnumber.active {
    color: #ffffff;
    background: #1962aa;
    font-weight: 500;
}

.icon-green {
    background: url(/img/icon/green.png);
    background-size: 3.625rem;
    width: 3.625rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-yellow {
    background: url(/img/icon/yellow.png);
    background-size: 3.625rem;
    width: 3.625rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-purple {
    background: url(/img/icon/purple.png);
    background-size: 3.625rem;
    width: 3.625rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-cyan {
    background: url(/img/icon/cyan.png);
    background-size: 3.625rem;
    width: 3.625rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-green.clist,
.icon-yellow.clist,
.icon-purple.clist,
.icon-cyan.clist {
    position: absolute;
    top: -0.063rem;
    margin-left: 0.5rem;
    font-size: 0.688rem;
    text-align: center;
    line-height: 0.75rem;
    letter-spacing: -0.051rem;
    color: white
}


.icon-green.clist:before {
    position: absolute;
    right: 0.438rem;
    top: 0.125rem;
    content: '예약상품';
}

.icon-purple.clist.fresh:before {
    position: absolute;
    right: 0.438rem;
    top: 0.125rem;
    content: '신선배송';
}

.icon-purple.clist.parcel:before {
    position: absolute;
    right: 0.438rem;
    top: 0.125rem;
    content: '일반배송';
}

.icon-cyan.clist:before {
    position: absolute;
    right: 0.438rem;
    top: 0.125rem;
    content: '할인상품';
}

.icon-yellow.clist:before {
    position: absolute;
    right: 0.438rem;
    top: 0.125rem;
    content: '할인쿠폰';
}

.icon-text {
    background-size: 1.875rem;
    width: 1.875rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
    border: 1px solid #dddddd;
}

.icon-text.prepaid:before {
    position: absolute;
    right: 0.438rem;
    top: 0.125rem;
    content: '선불';
}

.icon-member {
    background: url(/img/icon/member.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-calc {
 
    background: url(/img/icon/icon_calculator.png);
    background-size: 1.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-member.sup {
    background: url(/img/icon/member_sup.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-member.aff {
    background: url(/img/icon/member_aff.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-member.usr {
    background: url(/img/icon/member_usr.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-calendar.sup {
    background: url(/img/icon/calendarsup.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-calendar.sup.text {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.icon-calendar.sup.additem {
    position: absolute;
    right: 0.75rem;
    top: 1.25rem;
}

.icon-calendar.aff {
    background: url(/img/icon/calendar_aff.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-calendar.aff.text {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.icon-calendar.aff.additem {
    position: absolute;
    right: 0.75rem;
    top: 1.25rem;
}

.icon-calendar.usr {
    background: url(/img/icon/calendar_usr.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-calendar.usr.text {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.icon-check {
    background: url(/img/icon/check_off.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-check.cancel {
    background: url(/img/icon/check_off.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-check.cancel.active.sup {
    background: url(/img/icon/check_on_sup.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-check.active.usr {
    background: url(/img/icon/check_on_usr.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-check.active.aff {
    background: url(/img/icon/check_on_aff.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-check.active.sup {
    background: url(/img/icon/check_on_sup.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-bronze {
    background: url(/img/icon/grade/b@3x.png);
    background-size: 1.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-silver {
    background: url(/img/icon/grade/s@3x.png);
    background-size: 1.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-gold {
    background: url(/img/icon/grade/g@3x.png);
    background-size: 1.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-diamond {
    background: url(/img/icon/grade/d@3x.png);
    background-size: 1.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-master {
    background: url(/img/icon/grade/m@3x.png);
    background-size: 1.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-amtplus {
    background: url(/img/icon/amtplus.png);
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-amtminus {
    background: url(/img/icon/amtminus.png);
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.063rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-more {
    background: url(/img/icon/more.png);
    background-size: 0.5rem;
    width: 0.5rem;
    height: 0.875rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-mode {
    background: url(/img/icon/i_rotate.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-balance {
    background: url(/img/icon/i_price.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-friends {
    background: url(/img/icon/friends.png);
    background-size: 2.25rem;
    width: 2.25rem;
    height: 1.375rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-friends.bottomnav {
    margin-top:0.5rem;
    background: url(/img/icon/bottomnav/friends_black.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.2rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-star {
    background: url(/img/icon/star.png);
    background-size: 0.781rem;
    width: 0.781rem;
    height: 0.781rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-modifymy {
    background: url(/img/icon/modify.png);
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-userinfo {
    background: url(/img/icon/myinfo.png);
    background-size: 1.625rem;
    width: 1.625rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-store {
    background: url(/img/icon/store.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-store.bottomnav {
    margin-top: 0.45rem;
    background: url(/img/icon/bottomnav/store_black.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.33rem;
    display: inline-block;
    background-repeat: no-repeat;
}
   
.icon-request {
    background: url(/img/icon/i_request.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-suggest {
    background: url(/img/icon/i_suggest.png);
    background-size: 1.35rem;
    width: 1.35rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-photo {
    background: url(/img/icon/i_photo.png);
    background-size: 0.875rem;
    width: 0.875rem;
    height: 0.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-photo.aff {
    background: url(/img/icon/i_photo_aff.png);
    background-size: 0.875rem;
    width: 0.875rem;
    height: 0.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-photo.usr {
    background: url(/img/icon/i_photo_usr.png);
    background-size: 0.875rem;
    width: 0.875rem;
    height: 0.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-partner{
    background: url(/img/icon/partnerblack.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;   
}

.icon-partner.white{
    background: url(/img/icon/partnerwhite.png);
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.5rem;
    display: inline-block;
    background-repeat: no-repeat;   
}

.icon-photo-aff {
    background: url(/img/icon/i_photo_aff.png);
    background-size: 0.875rem;
    width: 0.875rem;
    height: 0.75rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-del {
	background: url(/img/icon/i_delete.png);
    background-size: 0.63rem;
    width: 0.63rem;
    height: 0.63rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-nblog {
    position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/nblog.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-band {
       position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/band.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-branch {
        position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/branch.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-youtube {
        position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/youtube.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-insta {
        position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/insta.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-kakaostory {
        position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/kakaostory.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-twitter {
        position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/twitter.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-tstory {
    position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/tstory.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-facebook {
        position:absolute;
    margin-top:3px;
    background: url(/img/icon/sns/facebook.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-gift {
    background: url(/img/icon/gift.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrow-pink {
	background: url(/img/icon/arrow_pink.png);
    background-size: 0.5rem;
    width: 0.5rem;
    height: 0.813rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrow-sup {
	background: url(/img/icon/arrow_sup.png);
    background-size: 0.3rem;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrow-aff {
	background: url(/img/icon/arrow_aff.png);
    background-size: 0.3rem;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-arrow {
    background: url(/img/icon/i_arrow.png);
    background-size: 0.3rem;
    width: 0.4rem;
    height: 0.5rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-food {
    background: url(/img/icon/i_food.png);
    background-size: 1.1rem;
    width: 1.063rem;
    height: 1.625rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-hotel {
    background: url(/img/icon/i_hotel.png);
    background-size: 1.5rem;
    width: 1.625rem;
    height: 1.345rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-hotplace {
    background: url(/img/icon/i_hotplace.png);
    background-size: 1.1rem;
    width: 1.188rem;
    height: 1.625rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-festival {
    background: url(/img/icon/i_festival.png);
    background-size: 1.3rem;
    width: 1.312rem;
    height: 1.688rem;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-tip {
    background: url(/img/icon/i_tip.png);
    background-size: 1rem;
    width: 1.063rem;
    height: 1.688rem;
    display: inline-block;
    background-repeat: no-repeat;
}

/* reserve */
.icon-reserve img{
    vertical-align:middle;
}