<!-- 사용자 상품 수량 선택 -->
<div class="user search detail button fixed-bottom fixed-border-top">
    <div class="totheTop p-0 mr-3" style="display:none;top: -5px;right: -82%;">
        <img src="/img/icon_tothetop.png" style="width: 85px;" onclick="totheTop()">
    </div>

    <div class="gift btnarea usr" style="display: none">
        <div class="row m-0">
            <div class="col p-0 "></div>
            <div class="col-down p-0 " onclick="hideInfo();">
                <div class="btnarrow usr">
                    <i class="icon-arrowdown usr"></i>
                </div>
            </div>
            <div class="col p-0 "></div>
        </div>
    </div>

    <div id="loa" class="gift area leftoverarea" style="height: auto !important; display: none">
        <div class="row m-0 p-2">
            <div class="col p-0 background" style="height:auto !important; padding:5px !important">
                <div class="row m-0 px-2 py-1">
                    <div class="col col-img m-0 p-0 ">
                        <img class="product " src="<%=itempic[0].Filepath%><%=itempic[0].Filename%>">
                    </div>
                    <div class="col col m-0 p-0 ml-2">
                        <div class="row m-0 p-0 ">
                            <div class="col-12 m-0 p-0">
                                <span class="list-itemtitle mb-1" style="font-weight: 400;"><%=iteminfo[0].ItemTitle%></span>
                            </div>
                            <%if(iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR') {%>
                                <div class="col-12 p-0 m-0">
                                    <!-- <p class=""
                                    style="font-weight: 500; font-size: 0.75rem; line-height: 1.188rem; letter-spacing: -0.018rem; ">
                                    <span style="color: #333333;">잔여인원&nbsp;&nbsp;</span><span style="color: #ee7499">
                                        <% if(iteminfo[0].LeftoverNo>0) {%>
                                        <%=iteminfo[0].LeftoverNo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                                        <span style="color: #333333">개</span><%}else{%>품절<%}%></span></p> -->
                                    <%if (iteminfo[0].ItemType_CD != 'ATR') {%>
                                        <p class="resvleftover" style="font-weight: 500; font-size: 0.75rem; line-height: 1.188rem; letter-spacing: -0.018rem; ">
                                            잔여인원 : <%=iteminfo[0].LeftOverQty %></p>
                                    <%}%>
                                </div>
                            <%} else {%>
                                <div class="col-12 p-0 m-0">
                                    <p style="font-weight: 500; font-size: 0.75rem; line-height: 1.188rem; letter-spacing: -0.018rem; ">
                                        <span style="color: #333333;">남은수량&nbsp;&nbsp;</span><span style="color: #ee7499">
                                            <% if(iteminfo[0].LeftoverNo <= iteminfo[0].Qty && iteminfo[0].LeftoverNo > 0 ) {%>
                                                <%=iteminfo[0].LeftoverNo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                                                <span style="color: #333333">개</span>
                                            <% } else if(iteminfo[0].LeftoverNo> iteminfo[0].Qty && iteminfo[0].Qty > 0) {%>
                                                <%=iteminfo[0].Qty.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                                                <span style="color: #333333">개</span>
                                            <%}else{%>
                                                품절
                                            <%}%>
                                        </span>
                                    </p>
                                </div>
                            <%}%>
                        </div>
                        <% if(iteminfo[0].ItemType_CD != 'ATR') { %>
                            <div class="row m-0 p-0 ">
                                <div class="col p-0">
                                    <div class="row m-0 ">
                                        <div class="col col-amtbtn p-0 border minus text-center t-05" onclick="changeAmount('maxpersonroom',-1);updatePrice()">
                                            <span class="icon amtminus s-24">minus_s</span>
                                        </div>
                                        <div class="col col-amttxt p-0 border ">
                                            <input type="text" class="form-control border-0 text-center text _ee7499 amount w500 maxpersonroom txt-qty" 
                                                value="1" onclick="this.blur();" readonly>
                                        </div>
                                        <div class="col col-amtbtn p-0 border pluss text-center t-05" onclick="changeAmount('maxpersonroom',1);updatePrice()">
                                            <span class="icon amtplus s-24 ">plus_s</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col p-0 text-right justify-content-center align-self-center">
                                    <%if(iteminfo[0].ItemType_CD != 'DCO') {%>
                                        <span class="price">금액&nbsp;&nbsp;<span class="bold"><%=iteminfo[0].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></span>원</span>
                                    <%}%>
                                </div>
                            </div>
                        <% } %>

                        <!--예약상품 옵션별 가격 노출 (가격 설정 창)-->
                        <% if(iteminfo[0].ItemType_CD == 'ATR') { %>
                            <% for (var i = 0; i < itemoption.length; i++) { %>
                                <div class="row m-0 p-0 mb-1">
                                    <div class="col p-0">
                                        <div class="col p-0 text-left "><%=itemoption[i].OptName%></div>
                                        <div class="row m-0 ">
                                            <div class="col col-amtbtn p-0 border minus<%=i%> text-center t-05" onclick="updateOptionPrice('<%=i%>', -1)">
                                                <span class="icon amtminus s-24">minus_s</span>
                                            </div>
                                            <div class="col col-amttxt p-0 border ">
                                                <input type="text" class="form-control border-0 text-center text _ee7499 amount<%=i%> w500 atrmaxpersonroom<%=i%> txt-qty<%=i%>"
                                                    value="0" onclick="this.blur();" readonly>
                                            </div>
                                            <div class="col col-amtbtn p-0 border pluss<%=i%> text-center t-05" onclick="updateOptionPrice('<%=i%>', 1)">
                                                <span class="icon amtplus s-24 ">plus_s</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col p-0 text-right justify-content-center align-self-center">
                                        <span class="priceoption">금액&nbsp;&nbsp;<span class="priceoption<%=i%> bold">0</span> 원</span>
                                        <!-- <span class="priceoption">금액&nbsp;&nbsp;<span class="priceoption<%=i%> bold"><%=itemoption[i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></span>원</span> -->
                                    </div>
                                </div>
                            <%}%>
                            <div class="row p-0 m-0">
                                <div class="col p-0 text-left ">총수량<span class="totalqty bold mr-1 ml-1">0</span> 개</div>
                                <div class="col p-0 text-right ">총금액<span class="totalamount bold mr-1 ml-1">0</span> 원</div>
                            </div>
                        <%}%>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="giftup btnarea usr" style="display: none">
        <div class="row m-0">
            <div class="col p-0 "></div>
            <div class="col-up p-0 " onclick="showInfo();">
                <div class="btnarrow usr">
                    <i class="icon-arrowup usr"></i>
                </div>
            </div>
            <div class="col p-0 "></div>
        </div>
    </div>

    <div id="btnarea" class="row m-0 buttonarea">

        <% if (sess.saleid > 0 && sess.itemid == iteminfo[0].Item_ID )  { %>
            <div class="col p-0  ">
                <button class="btn btn-ok usr" onclick="getGift();">선물받기</button>
            </div>
        <% } else if (iteminfo[0].ItemType_CD == 'DCO') { %>

            <% if (iteminfo[0].LeftoverNo <= iteminfo[0].Qty && iteminfo[0].LeftoverNo > 0 ) {%>
                <div class="col p-0  ">
                    <button class="btn btn-ok usr" onclick="showGift();">다운로드</button>
                </div>
            <%} else if (iteminfo[0].LeftoverNo> iteminfo[0].Qty && iteminfo[0].Qty > 0) {%>
                <div class="col p-0  ">
                    <button class="btn btn-ok usr" onclick="showGift();">다운로드</button>
                </div>
            <%} else {%>
                <div class="col p-0  ">
                    <button class="btn btn-ok usr">품절</button>
                </div>
            <%}%>


        <%} else if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR' ){ %>

            <div class="col p-0  ">
                <button class="btn btn-ok usr" onclick="showGift();setRedirect('/user/search/detail/?Contract_ID=<%=Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>',1)">예약하기</button>
            </div>

        <%} else {%>

            <% if(iteminfo[0].LeftoverNo <= iteminfo[0].Qty && iteminfo[0].LeftoverNo > 0 ) {%>
                <div class="col p-0  ">
                    <button class="btn btn-ok usr" onclick="showGift();setRedirect('/user/search/detail/?Contract_ID=<%=Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>',1)">수량선택
                    </button>
                </div>
            <% } else if(iteminfo[0].LeftoverNo> iteminfo[0].Qty && iteminfo[0].Qty > 0) {%>
                <div class="col p-0  ">
                    <button class="btn btn-ok usr" onclick="showGift();setRedirect('/user/search/detail/?Contract_ID=<%=Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>',1)">수량선택
                    </button>
                </div>
            <% } else if(iteminfo[0].LeftoverNo == 0) { %>
                <div class="col p-0  ">
                    <button class="btn btn-ok usr" onclick="modal('현재 해당상품은 품절상태입니다. <br /> 중개자에게 문의하세요', 'ok', 'hide');">품절</button>
                </div>
            <% } else { %>
                <div class="col p-0  ">
                    <button class="btn btn-ok usr" onclick="modal('현재 해당상품은 재고부족상태입니다. ', 'ok', 'hide');">재고부족</button>
                </div>
            <% } %>

        <%}%>

    </div>
</div>
