

<div class="affiliate store detail delv delv-detail">

    <div id="event-cal-container" class="calendar-container px-12 mt-3" style="background: white; width: 100%;"></div>
    <div id = "delv">
        <div class="row m-0 mx-12 mt-2 invisible">
            <div class="col p-0">
                <button class="btn btn-common" name="timetable" onclick="selectOne('timetable', this, 'usr'); selectOneDay(this)">09:00 
                    <span class="light" style="line-height: 20px;">(잔여: 7개)</span> 
                </button>
            </div>
        </div>
    </div>

</div>

