<div class="affiliate store detail slider">
    <div class="bxslider">

        <%for(var i=0; i<itempic.length; i++) {%>
        <div>
            <img class="picture detail" src="<%=itempic[i].Filepath%><%=itempic[i].Filename%>" title="" />
        </div>
        <%}%>
           
    </div>
 
</div>