<!-- 사용자 상품상세내역 -->
<div class="affiliate store detail info ">

    <ul class="itemlist border-0 m-0 m-3">
        <li class="border-0 m-0" style="box-shadow: none; height:100%;">
            <div class="row m-0 ">

                <%
                if(iteminfo[0].ItemType_CD == 'DCO') {
                    var ItemType_CD = '할인쿠폰'
                    var color = 'icon-yellow'
                } else if(iteminfo[0].ItemType_CD == 'DVO'){
                    var ItemType_CD = '할인상품'
                    var color = 'icon-cyan'
                }else if(iteminfo[0].ItemType_CD == 'DCA'){
                    var ItemType_CD = '예약상품'
                    var color = 'icon-green'
                }else if(iteminfo[0].ItemType_CD == 'DTC'){
                    var ItemType_CD = '예약상품'
                    var color = 'icon-green'
                }else if(iteminfo[0].ItemType_CD == 'ATR'){
                    var ItemType_CD = '예약상품'
                    var color = 'icon-green'
                }else if(iteminfo[0].ItemType_CD == 'FDE'){
                    var ItemType_CD = '신선배송'
                    var color = 'icon-purple'
                }else if(iteminfo[0].ItemType_CD == 'DEL'){
                    var ItemType_CD = '일반배송'
                    var color = 'icon-purple'
                }
                %>
                <!-- <%
                if(iteminfo[0].SettleType_CD == 'PRE') {
                    var SettleType_CD = '선불'
                } else if(iteminfo[0].SettleType_CD == 'DFP'){
                    var SettleType_CD = '후불'
                }
                %> -->

                <div class="col p-0 ">
                    <div class="row m-0" style="height: 1rem;">
                        <div class="col col-category p-0 font-11">
                                        <span class="<%= color %> d-flex justify-content-end">
                                            <span class="category p-0 pr-2 align-self-center"><%= ItemType_CD %></span>
                                        </span>
                        </div>

                        <div class="col p-0 text-right">
                            <p class="text-right" style="font-weight: 500; font-size: 0.75rem; line-height: 1rem; letter-spacing: -0.018rem; ">
                                <% console.log(iteminfo) %>
                                <% if (ItemType_CD === '예약상품') { %>
                                    &nbsp;
                                <% } else {%>
                                    <span style="color: #333333;;">남은수량&nbsp;&nbsp;</span><span style="color: #ee7499">
                                        <% if(iteminfo[0].LeftoverNo <= iteminfo[0].Qty && iteminfo[0].LeftoverNo > 0 ) {%>

                                            <%=iteminfo[0].LeftoverNo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                                            <span style="color: #333333">개</span>

                                            <% if(iteminfo[0].ItemType_CD === 'DCO') { %>
                                                <%
                                                    if(iteminfo[0].Cp_DownloadNum == 0){
                                                        var Cp_DownloadNum = '제한없음'
                                                    }else{
                                                        var Cp_DownloadNum = iteminfo[0].Cp_DownloadNum
                                                    }
                                                %>
                                                <span style="color: #333333;;">최대발행&nbsp;&nbsp;</span><span style="color: #ee7499"><%=Cp_DownloadNum%><% if(iteminfo[0].Cp_DownloadNum != 0){ %><span style="color: #333333"> 개<%}%></span></span>
                                            <%}%>

                                        <% } else if(iteminfo[0].LeftoverNo> iteminfo[0].Qty && iteminfo[0].Qty > 0) {%>

                                            <%=iteminfo[0].Qty.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                                            <span style="color: #333333">개</span>

                                        <% } else if(iteminfo[0].Qty == 0) { %>
                                            재고부족
                                        <% } else if(iteminfo[0].LeftoverNo == 0) { %>
                                            품절
                                        <% } %>
                                    </span>
                                <%}%>
                            </p>
                        </div>
                    </div>

                    <div class="row mt-2" style="height: 0.875rem">
                        <div class="col font-11 p-0" style="flex: 0 0 2rem;" >
                            <span class="icon s-50 type gray" style="display: inline-block; width: 30px; margin-left: -5px">place</span>
                        </div>
                        <div class="col font-11 p-0" style="margin-left: -8px">
                            <span class="addr">
                                <% if(iteminfo[0].Addr == 'noaddr') { %>
                                    위치정보없음
                                <% }else { %>
                                    <%=iteminfo[0].Addr %>
                                    <%=iteminfo[0].AddrEtc %>
                                <%}%>
                            </span>
                        </div>
                    </div>

                    <div class="row m-0 mt-2">
                        <div class="col p-0">
                            <p class="list-itemtitle list-itemtitle-detail"><%=iteminfo[0].ItemTitle%></p>
                        </div>
                    </div>

                    <div class="row m-0 mt-2">
                        <% if (iteminfo[0].ItemType_CD == 'DCO') { %>
                            <p class="itemdetailcommission mr-1" style="margin-top: 1px;"> 할인금액</p>
                            <span class="number selPrice m-0 pl-1" style="font-size: 1rem; line-height: 1.500rem; letter-spacing: -0.025rem; font-weight: 600; ">
                                <span class="usr m-0 pl-1"><%= iteminfo[0].DiscountAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></span>
                                <span class="usr ">원</span>
                            </span>
                        <%} else {%>

                        <% } %>
                    </div>

                    <% if(iteminfo[0].ItemType_CD != 'ATR') { %>
                        <div class="row m-0 mt-1">
                            <% if(iteminfo[0].ItemType_CD == 'DCO') { %>
                                <p class="itemdetailcommission mr-1" style="margin-top: 1px;">할인가</p>
                            <% } else { %>
                                <p class="itemdetailcommission mr-1" style="margin-top: 1px;">판매가</p>
                            <%}%>
                            <span class="number selPrice m-0 pl-1" style="font-size: 1rem; line-height: 1.500rem; letter-spacing: -0.025rem; font-weight: 800;">
                                <!-- <%=iteminfo[0].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %> -->
                                <% if(iteminfo[0].SalePrice == 0) {%>
                                    <span class="usr m-0 mr-2" style="margin-top:-5px; color:#ee7499;">무료</span>
                                <%} else {%>
                                    <span class="usr m-0 pl-1" style="color:#ee7499;"><%=iteminfo[0].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></span>
                                    <span class="usr " style="color:#ee7499;">원</span>
                                    <span class="dcprice mr-2" style="font-weight: 400; color:#333333;">
                                        <!-- 판매가=소비자가 일 경우, ( %)를 보여주지 않음 -->
                                        <% if(iteminfo[0].ItemType_CD == 'DCO' && iteminfo[0].SalePrice == 0) { %>
                                            &nbsp;
                                        <% } else { %>
                                            <% if ( iteminfo[0].SalePrice < iteminfo[0].MarketPrice ) { %>
                                                (<%=parseFloat((100 - (iteminfo[0].SalePrice / (iteminfo[0].MarketPrice / 100))).toFixed(1).toString()) %>%)
                                            <% } %>
                                        <% } %>
                                    </span>
                                
                                    <span class="priceinfo">
                                        <span class="origin">
                                            <!-- 판매가=소비자가 일 경우, 소비자가를 보여주지 않음 -->
                                            <% if ( iteminfo[0].SalePrice < iteminfo[0].MarketPrice ) { %>
                                                <del><%= iteminfo[0].MarketPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>원</del>
                                            <% } else { %>
                                                &nbsp;
                                            <% } %>
                                        </span>
                                    </span>
                                <%}%>
                            </span>
                        </div>
                    <%}%>

                    <!--예약상품 옵션별 가격 노출 (판매 가격 정보)-->
                    <% if(iteminfo[0].ItemType_CD == 'ATR') {%>
                        <% for (var i = 0; i < itemoption.length; i++) {%>

                            <div class="row m-0 mt-1">
                                <% if (i < 1) { %>
                                    <p class="itemdetailcommission mr-1" style="margin-top: 1px;">판매가</p>
                                <% } else { %>
                                    <p class="itemdetailcommission mr-2" style="padding-left: 34px; margin-top: 1px;"></p>
                                <% } %>
                                <span class="number selPrice m-0 pl-1 " style="font-size: 1rem; line-height: 1.500rem; letter-spacing: -0.025rem; font-weight: 800;">
                                    <!-- <%=itemoption[i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %> -->
                                    <% if(itemoption[i].SalePrice == 0) {%>
                                        <span class="usr m-0 mr-2" style="margin-top:-5px; color:#ee7499;">무료</span>
                                    <%} else {%>
                                        <span class="usr m-0 pl-1" style="color:#ee7499;">
                                            <%=itemoption[i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                                        </span>
                                        <span class="usr " style="color:#ee7499;">원</span>
                                        <span class="dcprice mr-2" style="font-weight: 400; color:#333333;">
                                            <!-- 판매가=소비자가 일 경우, ( %)를 보여주지 않음 -->
                                            <% if(itemoption[i].ItemType_CD === 'DCO' && itemoption[i].SalePrice === 0) { %>
                                                &nbsp;
                                            <% } else { %>
                                                <% if ( itemoption[i].SalePrice < itemoption[i].MarketPrice ) { %>
                                                    (<%=parseFloat((100 - (itemoption[i].SalePrice / (itemoption[i].MarketPrice / 100))).toFixed(1).toString()) %>%)
                                                <% } %>
                                            <% } %>
                                        </span>
                                    <%}%>
                                </span>
                                <!-- <span class="priceinfo usr mr-1" style="margin-top: -3px;"><%=itemoption[i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%><span
                                        class="unit">원</span></span> -->
                                <!-- <span class="priceinfo usr mr-2"> -->
                                <!-- <span class="dcprice mr-2">
                                        (<%= parseInt(100 - ( itemoption[i].SalePrice / ( itemoption[i].MarketPrice / 100 ))) %>%)
                                    
                                    </span> -->
                                <!-- </span> -->
                                <span class="priceinfo">
                                    <span class="origin">
                                        <!-- 판매가=소비자가 일 경우, 소비자가를 보여주지 않음 -->
                                        <% if ( itemoption[i].SalePrice < itemoption[i].MarketPrice ) { %>
                                            <del><%= itemoption[i].MarketPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>원</del>
                                        <% } else { %>
                                            &nbsp;
                                        <% } %>
                                    </span>
                                </span>
                                <% if(iteminfo[0].ItemType_CD == 'ATR') { %>
                                    <span class="itemdetailcommission ml-2" style="margin-top: 2px;"><%=itemoption[i].OptName%></span>
                                <%}%>
                            </div>
                        <%}%>
                    <%}%>

                    <% if(iteminfo[0].ItemType_CD == 'DEL' || iteminfo[0].ItemType_CD == 'FDE') {%>
                        <div class="row m-0 mt-1">
                            <p class="itemdetailcommission mr-2" style="margin-top: 1px;">배송비</p>
                            <span class="number m-0 pl-1" style="font-size: 0.8rem; line-height: 1.500rem; letter-spacing: -0.025rem; font-weight: 600;"></span>
                            <% if (delvinfo[0].ShippingFeeType_CD == 'FRE') { %>
                                <span class="usr m-0 mr-2" style="font-size: 0.8rem; margin-top: 2px !important;">무료배송</span>
                            <%} else if (delvinfo[0].ShippingFeeType_CD == 'FBA') { %>
                                <span class="usr m-0 mr-2" style="font-size: 0.8rem; margin-top: 2px !important;"><%=delvinfo[0].Fee.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %> 원 </span>
                                <% if (delvinfo[0].FBA_Amount) { %>
                                    <span class="usr m-0 mr-2" style="font-size: 0.8rem; margin-top: 2px !important;">| &nbsp <%=delvinfo[0].FBA_Amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %> 원 이상 무료배송</span>
                                <%}%>
                            <%} else if (delvinfo[0].ShippingFeeType_CD == 'CHA') { %>
                                <span class="usr m-0 mr-2" style="font-size: 0.8rem; margin-top: 2px !important;"><%=delvinfo[0].Fee.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %> 원 </span>
                            <%} else if (delvinfo[0].ShippingFeeType_CD == 'POD') { %>
                                <span class="usr m-0 mr-2" style="font-size: 0.8rem; margin-top: 2px !important;">착불배송</span>
                            <% } %>
                            </span>
                            <% if (delvinfo[0].ShipCourier_ID == 1) { %>
                                <span class="usr m-0 mr-2" style="font-size: 0.8rem; margin-top: 2px !important;">| &nbsp 직접수령 가능 </span>
                            <% } %>
                        </div>
                    <%}%>

                    <div class="row m-0 mt-2">
                        <div class="col p-0 ">
                            <p class="info expire">유효기간 :
                                <%= iteminfo[0].Started.toString().substring(0,10) %> ~ <%= iteminfo[0].Ended.toString().substring(0,10) %>
                            </p>
                        </div>
                        <div class="col p-0 text-right">
                            <p class="info date"><%= iteminfo[0].RegisteredDate.toString().substring(0,10) %> 등록</p>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>