
<% if(iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA'){ %>
<div class="affiliate store detail memo ">
    <%}else{%>
    <div class="affiliate store detail memo ">
        <%}%>
        <div class="row m-0 short-detail" style="height: auto;">
            <div class="col p-0 p-3" style="border-top:4px solid #ee7499">

                <%
                if(iteminfo[0].ItemType_CD == 'DCO') {
                    var ItemType_CD = '할인쿠폰'
                    var color = 'icon-yellow'
                } else if(iteminfo[0].ItemType_CD == 'DVO'){
                    var ItemType_CD = '할인상품'
                    var color = 'icon-cyan'
                } else if(iteminfo[0].ItemType_CD == 'DCA'){
                    var ItemType_CD = '예약상품'
                    var color = 'icon-green'
                } else if(iteminfo[0].ItemType_CD == 'DTC'){
                    var ItemType_CD = '예약상품'
                    var color = 'icon-green'
                } else if(iteminfo[0].ItemType_CD == 'ATR'){
                    var ItemType_CD = '예약상품'
                    var color = 'icon-green'
                } else if(iteminfo[0].ItemType_CD == 'FDE'){
                    var ItemType_CD = '신선배송 상품'
                    var color = 'icon-purple'
                } else if(iteminfo[0].ItemType_CD == 'DEL'){
                    var ItemType_CD = '일반배송 상품'
                    var color = 'icon-purple'
                }
                %>

                <span class="notice usr d-block">* 이 상품은 <%=ItemType_CD %>입니다.</span>
                <% if (iteminfo[0].MinAutoCancel == 'T') { %>
                    <span class="notice usr d-block" style="font-size: 0.5rem;">- 최소 예약인원 미달 시 자동취소 될 수 있는 상품입니다</span>
                <% } %>
                <% if (iteminfo[0].Memo !== '<p>&nbsp;</p>') { %>
                <span class="explain d-block mt-3">
                    <%- iteminfo[0].Memo %>
                </span>
                <% } %>
            </div> 
        </div>
        <% // editor 사용시 조건 변경 %>
        <% if(detimg[0]) {  %>
        <div class="row m-0 mt-1 short-detail-img" style="height: 300px;">
            <div class="col p-0 px-3"> 
                    <span class="explain d-block mt-1">
                        <img id="detail-img" src="<%=detimg[0].Filepath %><%=detimg[0].Filename.replace('_resize_240', '') %>" style="width: 100%;">
                    </span>
            </div>
        </div>
        <div class="row m-0">
            <div class="col px-3 pb-2 pt-1">
                <button class="btn btn-common selected usr memeOpen" onclick="movePage('memoDetail')">
                    <!--                    상품 자세히 보기-->
                    상품정보 더보기
                </button>
            </div>
        </div>
        <%}%>
    </div>
</div>