

<div class="suppplier store detail profile py-2 px-3" style="border-bottom:2px dashed #dddddd;border-spacing: 5px;">
     
    <div class="member">
     
        <div class="row m-0 ">
            <div class="left">
                <div style="box-shadow: 0px -3px 8px 0.5px rgba(0, 0, 0, 0.2) inset;" class="w-100 h-100 ">
                    
                </div>
            </div>

            <div class="col p-0 col-profile">
                <img class="profile" src="<%= iteminfo[0].Filepath %><%= iteminfo[0].Filename %>">
            </div> 
            <div class="col p-0 ml-1 justify-content-center align-self-center" style="width: 120px">
                <span class="nick pl-1" ><%=iteminfo[0].Nickname%></span>
            </div> 

            <!-- 사용자 챗봇 -->
            <!-- <div class="col p-0 justify-content-center align-self-center mt-1 text-right">
                <button class="btn btn-usr" style="width: 120px;"
                    onclick="move('/user/chatbot/chat/?Contract_ID=<%=Contract_ID %>&itemid=<%=Item_ID %>');setRedirect('<%=url%>',2)">챗봇상담</button>
            </div> -->
             
             <div class="right">
                 <div style="box-shadow: 0px -3px 8px 0.5px rgba(0, 0, 0, 0.2) inset;" class="w-100 h-100 ">
                    
                </div>
            </div>
        </div>
    </div>
</div>



 