<!-- 환불규정, 환불 규정 자세히 보기 -->
<% if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA') { %>
     <div class="user store detail refund refund-detail usr mt-3" style="margin-bottom: -4.75rem;">
<% } else if (iteminfo[0].ItemType_CD == 'DEL' || iteminfo[0].ItemType_CD == 'FDE') {%>
     <div class="user store detail refund refund-detail usr mt-3 mb-5">
<%} else {%>
     <div class="user store detail refund refund-detail usr mt-3 mb-5">
<%}%>
          <div class="row m-0 mt-3 ">
               <div class="col p-0 px-3">
          
                    <span class="refund usr d-block">* 환불규정</span>
                    
                    <!-- 예약 상품 일 경우 -->
                    <% if(iteminfo[0].ItemType_CD == 'ATR' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'DTC') { %>  
                         <% if(iteminfo[0].RefundableDay == 0) { %>
                              <span class="refund usr d-block">- 예약 당일까지 환불신청이 가능합니다.</span>
                              <!-- <span class="refund usr d-block">- 환불 가능기간 이후 및 상품 유효기간 이후 환불은 불가능합니다.</span> -->
                         <% } else if (iteminfo[0].RefundableDay == 99999) { %>
                              <span class="refund usr d-block">- 해당 상품은 환불신청이 불가능합니다.</span>
                         <% } else { %>
                              <span class="refund usr d-block">- 예약일 <%= iteminfo[0].RefundableDay %>일 전까지 환불신청이 가능합니다.</span>
                              <!-- <span class="refund usr d-block">- 환불 가능기간 이후 및 상품 유효기간 이후 환불은 불가능합니다.</span> -->
                         <% } %>
                    <!-- 배송 상품 일 경우 -->
                    <!-- (2021.07.15 유효경) '환불 -> 반품 및 교환' 으로 변경 -->
                    <% } else if (iteminfo[0].ItemType_CD == 'FDE' || iteminfo[0].ItemType_CD == 'DEL'){ %>
                         <% if(iteminfo[0].RefundableDay == 99999) { %>
                              <span class="refund usr d-block">- 해당 상품은 반품 및 교환이 불가능합니다.</span>
                         <% } else { %>
                              <span class="refund usr d-block">- 상품 수령 후 <%= iteminfo[0].RefundableDay %>일까지 반품 및 교환 신청이 가능합니다.</span>
                              <!-- <span class="refund usr d-block">- 환불 가능기간 이후 및 상품 유효기간 이후 환불은 불가능합니다.</span> -->
                         <% } %>
                    <% } else { %> 
                         <% if(iteminfo[0].RefundableDay == 99999) { %>
                              <span class="refund usr d-block">- 해당 상품은 환불신청이 불가능합니다.</span>
                         <% } else { %>
                              <span class="refund usr d-block">- 상품 구매 후 <%= iteminfo[0].RefundableDay %>일까지 환불신청이 가능합니다.</span>
                              <!-- <span class="refund usr d-block">- 환불 가능기간 이후 및 상품 유효기간 이후 환불은 불가능합니다.</span> -->
                         <% } %>
                    <% }  %> 

                    <br />
                    <a href="javascript:void(0)"><span class="refund d-block" onclick="move('/member/refundpolicy?Item_ID=<%=iteminfo[0].Item_ID%>')">* 환불 규정 자세히 보기</span></a>
               </div>
          </div>

     </div>

  