<!-- 

<div class="affiliate store detail reserve reservedetail">
        <span class="text subject usr d-block mx-12">예약현황보기</span>
    <div id="event-cal-container" class="calendar-container px-12 mt-3" style="background: white; width: 100%;"></div>
    <div id="resv">
          
    </div>
 
</div>
 -->

 <div class="affiliate store detail resv reserve-detail">

    <div id="event-cal-container" class="calendar-container font-0p75rem px-12 mt-3" style="background: white; width: 100%;"></div>
    <div id="resv">
        <div class="row m-0 pt-2 invisible">
            <div class="col p-0 px-12">
                <button class="btn btn-common option-btn" name="timetable" onclick="selectOneDay(this)">09:00 <span class="light">(잔여: 7개)</span> </button>
                <!-- <button class="btn btn-common" name="timetable" onclick="selectOneDay('timetable', this, 'usr')">09:00 <span class="light">(잔여: 7개)</span> </button> -->
            </div>
        </div>
    </div>

</div> 