<Script>

    const slider = document.getElementsByClassName('slider');
    const info = document.getElementsByClassName('info');
    const profile = document.getElementsByClassName('profile');
    const memo = document.getElementsByClassName('memo');
    const memoDetail = document.getElementsByClassName('memo-detail');
    const refundDetail = document.getElementsByClassName('refund-detail');

    <% if (iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'ATR') { %>
    const reserveDetail = document.getElementsByClassName('reserve-detail');
    <% } %>

    <% if (iteminfo[0].ItemType_CD == 'FDE' ) { %>
    const delvDetail = document.getElementsByClassName('delv-detail');
    <% } %>

    //상품 자세히보기 Flag
    let memoOpenFlag = false;

    let selectOneDayFlag = false;
    let resvmax;
    let oldObj;
    let seq;
    let timename;
    let itemoptionContractID = []
    let itemoptionPriceArr = []
    let itemoptionQtyArr = []
    let seldate = false
    let val = 0;
    let selday = ''

    // 상품재고 (공급자)
    let storeQty = parseInt('<%=iteminfo[0].Qty%>')
    // 잔여계약수량 (중개자)
    let leftoverNo = parseInt('<%=iteminfo[0].LeftoverNo%>')

    // console.log('재고 ' + storeQty )
    // console.log('잔여계약수량 ' + leftoverNo )

    var hideall = function () {

        slider[0].style.display = 'none';
        info[0].style.display = 'none';
        profile[0].style.display = 'none';
        <% if (iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'ATR') { %>
        reserveDetail[0].style.display = 'none';
        <% } %>
        <% if (iteminfo[0].ItemType_CD == 'FDE' ) { %>
        delvDetail[0].style.display = 'none';
        <% } %>
        memo[0].style.display = 'none';
        memoDetail[0].style.display = 'none';
        refundDetail[0].style.display = 'none';

    }


    var showDetail = function () {
        slider[0].style.display = 'block';
        info[0].style.display = 'block';
        profile[0].style.display = 'block';
        <% if (iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'ATR') { %>
        reserveDetail[0].style.display = 'block';
        <% } %>
        <% if (iteminfo[0].ItemType_CD == 'FDE' ) { %>
        delvDetail[0].style.display = 'block';
        <% } %>
        memo[0].style.display = 'block';
        refundDetail[0].style.display = 'block';

    }


    var movePage = function (str) {
        let back = ''
        if (str == 'memoDetail') {
            if(memoOpenFlag === false) {
                $('.short-detail-img').css('height', 'auto')
                $('.memeOpen').html('상품정보 접기')
                memoOpenFlag = true;
            } else {
                $('.short-detail-img').css('height', '300px')
                $('.memeOpen').html('상품정보 더보기')
                memoOpenFlag = false;
            }
            //상품정보 View 방식변경으로인한 주석처리
            // hideall();
            // back = '<span class="icon before align-middle" onclick="movePage(\'detail\')">before</span>';
            // changeTitle(back, '상품상세정보', '');
            // memoDetail[0].style.display = 'block'
        } else if (str == 'detail') {
            hideall();
            back = '<span class="icon before align-middle" onclick="history.back();">before</span>';
            changeTitle(back, '상품상세정보', '');
            showDetail();
        }

        pcresize();
    }


    var getGift = function() {
        <% if (sess.AccountID) { %>
        let data = new Object();
        data.Member_ID = <%= sess.Member_ID %>
            data.VoucherSale_ID = <%= sess.saleid %>
                data.uri = "/api/v1/item/updategift"

        $.post("/api/execute", data, function (jqXHR) {
            if (jqXHR.msg == 'SUCCESS') {
                modal('선물받기 완료', 'ok', 'move(\'/user/myvoucher\')')
                <% sess.saleid = 0; sess.itemid = 0; %>
            } else {
                modal('예상치 못한 오류로 선물을 받을 수 없습니다.', 'ok', 'move(\'/user/myvoucher\')')
            }
        })

        <% } else { %>
        move('/member/login?redirect=/user/search/detail/?Contract_ID=<%= sess.Contract_ID %>&itemid=<%= sess.itemid %>')
        <% } %>
    }

    var updatePrice = function () {
        let updateQty = $('.txt-qty').val()
        let verseQty = 0
        if (storeQty<leftoverNo) {
            verseQty = storeQty
        } else {
            verseQty = leftoverNo
        }

        if( verseQty<updateQty ) {
            modal('최대 '+verseQty + '개까지 가능합니다.', 'ok', 'hide')
            $('.txt-qty').val(verseQty)
        }

        <% if (iteminfo[0].ItemType_CD == 'DCO') { %>
        let saleprice = <%= iteminfo[0].SalePrice %>
            let max = <%= iteminfo[0].Cp_DownloadNum %>

        if (max == 0) {
            saleprice = saleprice * $('.txt-qty').val()
            $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
        } else if (max < $('.txt-qty')) {
            saleprice = saleprice * $('.txt-qty').val()
            $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
        } else if (max < $('.txt-qty').val()) {
            modal('최대 '+max + '개까지 가능합니다.', 'ok', 'hide')
            $('.txt-qty').val(max)
        } else {
            saleprice = saleprice * $('.txt-qty').val()
            $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
        }

        <% } else if (iteminfo[0].ItemType_CD == 'DVO') { %>
        let max = <%= iteminfo[0].LeftoverNo %>
        if (max < $('.txt-qty').val()) {
            modal(max + '개를 초과 하여 구매 할 수 없습니다.', 'ok', 'hide');
            $('.txt-qty').val(max)
        }
        let saleprice = <%= iteminfo[0].SalePrice %>
            saleprice = saleprice * $('.txt-qty').val()
        $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))

        <% } else if (iteminfo[0].ItemType_CD == 'DCA') { %>
        // let max = <%= iteminfo[0].LeftoverNo %>
        let max = resvmax //예약상품권(날짜)일 경우, 최대예약인원으로 수량 제한
        if (max < $('.txt-qty').val()) {
            if ($('.txt-qty').val() <= 0) {
                modal('예약이 모두 찼습니다.', 'ok', 'hide');
            } else {
                modal(max + '개를 초과 하여 구매 할 수 없습니다.', 'ok', 'hide');
                $('.txt-qty').val(max)
            }
        }
        let saleprice = <%= iteminfo[0].SalePrice %>
            saleprice = saleprice * $('.txt-qty').val()
        $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
        <% } else if (iteminfo[0].ItemType_CD == 'FDE') { %>
        let max = <%= iteminfo[0].LeftoverNo %>
        if (max < $('.txt-qty').val()) {
            modal(max + '개를 초과 하여 구매 할 수 없습니다.', 'ok', 'hide');
            $('.txt-qty').val(max)
        }
        let saleprice = <%= iteminfo[0].SalePrice %>
            saleprice = saleprice * $('.txt-qty').val()
        $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))

        <% } else if (iteminfo[0].ItemType_CD == 'DEL') { %>

        let max = <%= iteminfo[0].LeftoverNo %>
        if (max < $('.txt-qty').val()) {
            modal(max + '개를 초과 하여 구매 할 수 없습니다.', 'ok', 'hide');
            $('.txt-qty').val(max)
        }

        let saleprice = <%= iteminfo[0].SalePrice %>
            saleprice = saleprice * $('.txt-qty').val()
        $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))

        <% } else if (iteminfo[0].ItemType_CD == 'DTC') { %>
        // let max = <%= iteminfo[0].LeftoverNo %>
        let max = resvmax //예약상품권(날짜+시간)일 경우, 최대예약인원으로 수량 제한
        if (max < $('.txt-qty').val()) {
            if ($('.txt-qty').val() <= 0) {
                modal('예약이 모두 찼습니다.', 'ok', 'hide');
            } else {
                modal(max + '개를 초과 하여 구매 할 수 없습니다.', 'ok', 'hide');
                $('.txt-qty').val(max)
            }
        }
        let saleprice = <%= iteminfo[0].SalePrice %>
            saleprice = saleprice * $('.txt-qty').val()
        $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
        <% } else if (iteminfo[0].ItemType_CD == 'ATR') { %>

        <% } %>

    }


    var updateOptionPrice = function (idx, value) {

        console.log("idx: ", idx)
        console.log("value: ", value)

        // const atrmaxpersonroom = document.getElementsByClassName('atrmaxpersonroom');

        <% if (iteminfo[0].ItemType_CD == 'ATR') { %>

        $('.totalqty').html((parseInt($('.totalqty').html()) + parseInt(value)).toString())

        if (parseInt($('.atrmaxpersonroom'+idx).val()) + parseInt(value) >= 0) {
            $('.atrmaxpersonroom'+idx).val(parseInt($('.atrmaxpersonroom'+idx).val()) + parseInt(value))
        }

        // let max = <%= iteminfo[0].LeftoverNo %>
        let max = resvmax //예약상품권(날짜+시간)일 경우, 최대예약인원으로 수량 제한

        console.log("max:", max)
        console.log("totalqty: ", parseInt($('.totalqty').html()))

        if (max < parseInt($('.totalqty').html()) ) {
            if (parseInt($('.totalqty').html()) <= 0) {
                modal('예약이 모두 찼습니다.', 'ok', 'hide');
                return
            } else {
                $('.totalqty').html(max)
                modal(max + '개를 초과 하여 구매 할 수 없습니다.', 'ok', 'hide');
                $('.txt-qty'+idx).val(parseInt($('.txt-qty'+idx).val()) - 1)
                return
            }
        } else {
            let saleprice = itemoptionPriceArr[idx]
            saleprice = saleprice * $('.txt-qty'+idx).val()
            $('.priceoption'+idx).html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))

            let totalQty = 0
            let totalAmount = 0

            <% for (var i = 0; i < itemoption.length; i++) { %>
            <% if (i == 0) {%>
            totalQty += parseInt($('.amount0').val().replace(/,/g,''))
            totalAmount += parseInt($('.priceoption0').html().replace(/,/g,''))
            <%} else if (i == 1) {%>
            totalQty += parseInt($('.amount1').val().replace(/,/g,''))
            totalAmount += parseInt($('.priceoption1').html().replace(/,/g,''))
            <%} else if (i == 2) {%>
            totalQty += parseInt($('.amount2').val().replace(/,/g,''))
            totalAmount += parseInt($('.priceoption2').html().replace(/,/g,''))
            <%}%>
            <% } %>

            console.log("totalQty:", totalQty)
            console.log("totalAmount", totalAmount)

            $('.totalqty').html(totalQty.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            $('.totalamount').html(totalAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))

        }

        // if (max < $('.txt-qty'+idx).val()) {
        //     if ($('.txt-qty'+idx).val() <= 0) {
        //         modal('예약이 모두 찼습니다.', 'ok', 'hide');
        //     } else {
        //         modal(max + '개를 초과 하여 구매 할 수 없습니다.', 'ok', 'hide');
        //         $('.txt-qty'+idx).val(max)
        //     }
        // }

        // var saleprice = itemoptionPriceArr[idx]
        // saleprice = saleprice * $('.txt-qty'+idx).val()
        // $('.priceoption'+idx).html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))

        // updateTotalPrice()

        <%}%>
    }


    var hideInfo = function () {
        $(".gift").slideUp();
        $(".giftup").slideDown();

        // 0406 예약상품일때 giftup 화살표 제거 이병주
        <% if (iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'ATR') { %>
        let giftUp = window.document.getElementsByClassName("giftup btnarea");
        giftUp[0].childNodes[1].style.display = "none"
        <% } %>

        val = 0;
    }


    var showInfo = function () {
        $(".gift").slideDown();
        $(".giftup").hide();
        // $(".btnarrow").css("display" , "block");
        val = 0;
    }


    var showReserve = function () {
        if (val == 0) {
            $(".gift").slideDown();
            val = 1;
        } else {
            $(".gift").slideUp();
            val = 0;
            move('/user/search/detail/reserve');
        }
        move('/user/search/detail/reserve');
    }


    var selectDay = function (obj) {

        let filter = "win16|win32|win64|mac|macintel";
        if (navigator.platform) {
            if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {

            } else {
                $('body').css('height', $(document).height())

            }
        }

        let finalstr = ''
        if (new Date().format('yyyy-MM-dd') > new Date($(obj).attr('data-date')).format('yyyy-MM-dd')) {
            modal('오늘 날짜보다 이전 입니다.', 'ok', 'hide')
            return;
        }

        selday = new Date($(obj).attr('data-date')).format('yyyy-MM-dd')

        let selTime = new Date(selday).getTime()

        Date.prototype.YYYYMMDD = function () {
            let yyyy = this.getFullYear().toString();
            let MM = pad(this.getMonth() + 1,2);
            let dd = pad(this.getDate(), 2);
            return yyyy +'-'+ MM +'-'+ dd;
        };
        let curDate = new Date().YYYYMMDD()
        let curTime = new Date(curDate).getTime()

        // console.log("curDate: ", curDate)
        // console.log("curTime: ", curTime)

        // console.log("selday: ", selday)
        // console.log("selTime: ", selTime)
        setCookie("selday", selday)

        $('.selected.usr').removeClass('selected usr')
        $(obj).addClass('selected usr')
        $('.today').addClass('usr')

        //예약상품권(날짜, 날짜+시간, 관광지) 일 때
        <% if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR') { %>

        let senddata = new Object();
        senddata.username = '<%= sess.AccountID %>'
        senddata.AccountID = '<%= sess.AccountID %>'
        senddata.Item_ID = <%= Item_ID %>
            senddata.ResvDate = selday
        senddata.uri = '/api/v1/item/getresvlist'

        // console.log(senddata)

        $.post("/api/execute", senddata, function (jqXHR) {

            if (jqXHR.result[0] && jqXHR.result[0].length > 0) {
                hideInfo();
                selectOneDayFlag = false;
                let elem = document.getElementById('resv');
                const cl = document.querySelectorAll('#resv .row');
                let row = cl[0].cloneNode(true);
                elem.innerHTML = ''
                elem.appendChild(row);
                for (var i = 0; i < jqXHR.result[0].length; i++) {

                    // console.log(jqXHR.result[0][i])
                    // return

                    const btn = document.querySelectorAll('#resv .row');
                    seldate = true
                    let cln = btn[0].cloneNode(true);

                    let span = document.createElement("span");

                    <% if(iteminfo[0].ItemType_CD == 'DCA') { %>
                    span.classList.add('light')
                    span.style.lineHeight = "30px";
                    if (jqXHR.result[0][i].MinResvQty == null) {
                        if(jqXHR.result[0][i].MaxResvQty  == 9999){
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : 제한없음 / 최대인원 : 제한없음)'
                        }else{
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : 제한없음 / 최대인원 : ' + jqXHR.result[0][i].MaxResvQty + '명' + ')'
                        }
                    } else {
                        if(jqXHR.result[0][i].MaxResvQty  == 9999){
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : ' + jqXHR.result[0][i].MinResvQty + '명 / 최대인원 : 제한없음)'
                        }else{
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : ' + jqXHR.result[0][i].MinResvQty + '명 / 최대인원 : ' + jqXHR.result[0][i].MaxResvQty + '명' + ')'
                        }
                    }

                    $(cln).find('.btn-common').html('<b>' + selday + '</b><br>')

                    $(cln).find('.btn-common').attr('data-seq', jqXHR.result[0][i].ItemResvOpt_Seq)
                    $(cln).find('.btn-common').css('line-height', 'unset')

                    $(cln).find('.btn-common').addClass('h-auto')
                    $(cln).find('.btn-common').append(span)

                    <% }else if(iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'ATR') { %>
                    span.classList.add('light')
                    span.style.lineHeight = "30px";

                    if (jqXHR.result[0][i].MinResvQty == null) {
                        if(jqXHR.result[0][i].MaxResvQty  == 9999){
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : 없음 / 최대인원 : 제한없음)'
                        }else{
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : 없음 / 최대인원 : ' + jqXHR.result[0][i].MaxResvQty + '명' + ')'
                        }
                    } else {

                        if(jqXHR.result[0][i].MaxResvQty  == 9999){
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : ' + jqXHR.result[0][i].MinResvQty + '명 / 최대인원 : 제한없음)'

                        }else{
                            span.innerHTML = '<b style="color:#ee7499">현재인원 : ' + jqXHR.result[0][i].ResvQty + '명</b>' + ' (최소인원 : ' + jqXHR.result[0][i].MinResvQty + '명 / 최대인원 : ' + jqXHR.result[0][i].MaxResvQty + '명' + ')'
                        }
                    }
                    // 방문 시작 시간 방문 종료 시간 (추가 20210317 이병주) 0427 <b style="color:#ee7499">  </b> 제거
                    span.innerHTML = span.innerHTML + '<br />방문 시작 시간  : ' + jqXHR.result[0][i].ResvTime +
                        '&nbsp; / &nbsp; '+
                        '  방문 종료 시간 : ' + jqXHR.result[0][i].ResvEndTime +' &nbsp;'

                    $(cln).find('.btn-common').html('<b>' + jqXHR.result[0][i].ResvOptName + '</b><br>')

                    $(cln).find('.btn-common').attr('data-seq', jqXHR.result[0][i].ItemResvOpt_Seq)
                    $(cln).find('.btn-common').css('line-height', 'unset')

                    $(cln).find('.btn-common').addClass('h-auto')

                    // 현재시간보다 과거이면 예약불가 (비활성화)

                    

                    if (selTime <= curTime) { // 의미없는 분기처리로 추정 2021.07.30 이병주
                    
                        let nowTime = new Date();
                        let nowMinTime = (nowTime.getHours() * 60) + (nowTime.getMinutes())

                        // console.log("nowMinTime: ", nowMinTime)

                        ResvTimeArr = jqXHR.result[0][i].ResvTime.split(':')
                        let ResvMinTime = (parseInt(ResvTimeArr[0]) * 60) + (parseInt(ResvTimeArr[1]))

                        let AutoCancelScheduleTime = ''  // MinTime
                        AutoCancelScheduleTime = jqXHR.result[0][i].AutoCancelScheduleTime
                        // console.log('AutoCancelScheduleTime',AutoCancelScheduleTime)
                        if(AutoCancelScheduleTime > 0 ) { // 자동취소시간이 있을경우
                            FixResvMinTime = ResvMinTime - AutoCancelScheduleTime
                            if (FixResvMinTime <= nowMinTime) {
                                $(cln).find('.btn-common').addClass('disable')
                                if ( jqXHR.result[0][i].MinAutoCancel == 'T' && ResvMinTime > nowMinTime) { // 자동취소대상이고 현재시간보다 예약시간이 이후지만 자동취소때문에 만료일경우
                                    $(cln).find('.btn-common').find('b').html(jqXHR.result[0][i].ResvOptName+'<br /><span class="usr" style="font-size:0.625rem">최소인원 미달로 인하여 예약이 마감되었습니다.</span') // 타이틀변경
                                }
                            }
                        } else { // 자동취소시간이 없을경우
                            if (ResvMinTime <= nowMinTime) {
                                $(cln).find('.btn-common').addClass('disable')
                                
                            }
                        }

                        // console.log("ResvMinTime: ", ResvMinTime)

                        
                    }

                    $(cln).find('.btn-common').append(span)

                    <% } %>

                    cln.classList.remove('invisible');
                    elem.appendChild(cln);
                }

                $('.resvleftover').html('잔여인원 : ' + (jqXHR.result[0][0].MaxResvQty - jqXHR.result[0][0].ResvQty) + '명')

                // for(var i =0; i<$('[name=timetable]').length; i++ ){
                //     if($('[name=timetable]').eq(i).hasClass('selected')){

                //         $('.resvleftover').html(jqXHR.result[0][i].MaxResvQty-jqXHR.result[0][i].ResvQty)
                //     }
                // }

            } else {
            }
        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {
            })
            .fail(function (jqXHR) {
            })
            .always(function (jqXHR) {
            });

        <%}%>

        pcresize()
    }


    var addToShoppingcart = function () {

        // 장바구니 DB에 해당 상품 저장(업데이트)하는 프로시저 실행 API 구현 후 코드 작성 필요
        // 넘겨줄 파라미터는 상품을 구분하는 Contract_ID 및 선택된 수량의 IssueQty

        let qty = document.getElementsByClassName('txt-qty')

        if ('<%= sess.Member_ID %>') {
            let data = new Object();
            data.Member_ID = <%= sess.Member_ID %>
                data.username = '<%= sess.AccountID %>'
            data.Contract_ID = <%= Contract_ID %>
                data.Item_ID = <%= Item_ID %>
                    data.IssueQty = qty[0].value
            let StartDate = new Date('<%= iteminfo[0].Started.toString().substring(0, 10) %>').format('yyyy-MM-dd')
            let EndDate = new Date('<%= iteminfo[0].Ended.toString().substring(0, 10) %>').format('yyyy-MM-dd')
            data.Started = StartDate
            data.Ended = EndDate
            data.uri = "/api/v1/item/insertcartitem"

            $.post("/api/execute", data, function (jqXHR) {
                if (jqXHR.msg == 'SUCCESS') {
                    modal('상품을 장바구니에 담았습니다.<br>장바구니로 이동하시겠습니까?','yesno', '', 'move("/user/shoppingcart?path=store");', 'hide', '예', '아니오');
                } else {
                    modal('상품 장바구니 담기 실패', 'ok', 'hide');
                }

            }, 'json' /* xml, text, script, html */)
                .done(function (jqXHR) {
                    console.log(jqXHR)
                })
                .fail(function (jqXHR) {
                    console.log(jqXHR)
                })
                .always(function (jqXHR) {
                    console.log(jqXHR)
                });
        } else {
            modal('로그인 또는 회원가입이 필요한 페이지 입니다. 로그인 페이지로 이동하시겠습니까?', 'yesno', '', 'move(\'/member/login\')', 'hide');
        }

        // modal('상품을 장바구니에 담았습니다. 장바구니로 이동하시겠습니까?','yesno', '', 'move("/user/shoppingcart?path=store");', 'hide', '예', '아니오');

    }


    var showGift = function () {

        // console.log("selectOneDayFlag: ", selectOneDayFlag)
        // console.log("selday: ", selday)

        if (!'<%= sess.Member_ID %>') {
            modal('로그인 또는 회원가입이 필요한 페이지 입니다. <br> 로그인 페이지로 이동하시겠습니까?', 'yesno', '', 'move(\'/member/login\')', 'hide');
            $(".gift").slideUp();
            pcresize();
            val = 0;
            return
        }

        <% if (iteminfo[0].ItemType_CD == 'ATR') { %>
        let totalqty = parseInt($('.totalqty').html())
        <%} else {%>
        let qty = document.getElementsByClassName('txt-qty')
        <%}%>

        <% if (iteminfo[0].ItemType_CD == 'ATR') { %>
        sendqty = totalqty
        <% } else { %>
        sendqty = qty[0].value
        <% } %>

        // 202010409 이병주 console 조작 검증
        if (sendqty>storeQty) { // 수량이 재고보다 클 떄
            if(storeQty==0){
                modal('잘못된 접근 입니다. ( 재고0 상품 구매시도 )', 'ok', 'move(getRedirectURL(2))')
                return
            }
            modal('잘못된 접근 입니다. ( 상품재고 보다 많은 수량 구매시도) ', 'ok', 'move(getRedirectURL(2))')
            return
        } else if (sendqty>leftoverNo) { // 수량이 잔여 계약 수량보다 클 떄
            if(leftoverNo==0){
                modal('잘못된 접근 입니다 ( 계약수량0 상품 구매시도 )', 'ok', 'move(getRedirectURL(2))')
                return
            }
            modal('잘못된 접근 입니다. ( 잔여계약수량 보다 많은 수량 구매시도) ', 'ok', 'move(getRedirectURL(2))')
            return
        }

        let dtcdca = false;

        <% if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR') { %>
        dtcdca = true;
        //예약상품권에서 날짜와 하단 옵션을 선택하지 않았을 때
        if (!selectOneDayFlag && selday == '') {
            modal('날짜와 하단의 옵션을 선택해주세요.', 'ok', 'hide')
            $(".gift").slideUp();
            return
        }
        <% } %>

        // console.log("val: ", val)

        if (val == 0) {
 
            <% if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR') { %>
            if (selectOneDayFlag) {
                $(".gift").slideDown();
                val = 1;
                selectOndeDayFlag = false;
                $('.btn-ok').html("예약하기")
            }else {
                // return
            }
            <% } else if (iteminfo[0].ItemType_CD == 'DEL' || iteminfo[0].ItemType_CD == 'FDE' || iteminfo[0].ItemType_CD == 'DVO') { %>
            $(".gift").slideDown();
            showInfo();
            val = 1;
            $('#btnarea .btn-ok').html("바로 구매하기")
            if ($('#btnarea').children().hasClass('shoppingcart')) {
            } else {
                $('#btnarea').prepend("<div class='col p-0 shoppingcart'><button class='btn btn-sub usr-sub' onclick='addToShoppingcart()';>장바구니 담기</button></div>")
            }
            <% } else { %>
            $(".gift").slideDown();
            val = 1;
            <% } %>
        } else {
            console.log("val 1")
            if (dtcdca && selday == '') {
                $(".gift").slideUp();
                val = 1;
                selectOndeDayFlag = false;
            } else {
                $(".gift").slideUp();
                pcresize();
                val = 0;

                if (sendqty == 0) { // 수량을 선택하지 않았을 때

                    <% if (iteminfo[0].ItemType_CD == 'DCO') { %>

                    if ('<%= sess.Member_ID %>') {
                        let data = new Object();
                        data.username = '<%= sess.AccountID %>'
                        data.Member_ID = <%= sess.Member_ID %>
                            data.Contract_ID = <%= Contract_ID %>
                                data.IssueQty = qty[0].value
                        data.uri = "/api/v1/item/downcoupon"

                        $.post("/api/execute", data, function (jqXHR) {
                            <% if (iteminfo[0].Cp_DownloadNum > 0) {
                                let Cp_DownloadNum = iteminfo[0].Cp_DownloadNum
                            } else {
                                let Cp_DownloadNum = '제한없음'
                            }
                            %>

                            if (jqXHR.msg == 'SUCCESS') {
                                modal('쿠폰 다운로드 완료<br>나의발행개수 :' + (parseInt(jqXHR.result[0][0].MyDownNum) + parseInt(qty[0].value))+' / 최대발행개수 : <%= Cp_DownloadNum %>'+'<br><br>내상품권 페이지로 이동하시겠습니까?', 'yesno', '', 'move(\'/user/myvoucher\')', 'hide')
                            } else {
                                modal('더 이상 쿠폰을 받을 수 없습니다.<br>최대발행개수 : <%= Cp_DownloadNum %> / 나의발행개수 :' + jqXHR.result[0][0].MyDownNum, 'ok', 'hide')
                            }

                        }, 'json' /* xml, text, script, html */)
                            .done(function (jqXHR) {
                                console.log(jqXHR)
                            })
                            .fail(function (jqXHR) {
                                console.log(jqXHR)
                            })
                            .always(function (jqXHR) {
                                console.log(jqXHR)
                            });
                    } else {
                        // modal('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?', 'yesno', '', 'move(\'/member/login\')', 'hide');
                    }

                    <% } else if (iteminfo[0].ItemType_CD == 'DVO') { %>
                    $.redirect("/user/search/detail/buy?Contract_ID=<%=Contract_ID %>&itemid=<%=iteminfo[0].Item_ID %>&qty=" + qty[0].value+ "",
                        {Contract_ID: "<%= Contract_ID %>", Item_ID: "<%= iteminfo[0].Item_ID %>", qty: qty[0].value}, "POST");

                    // move('/user/search/detail/buy/?Contract_ID=<%= Contract_ID %>&Item_ID=<%= iteminfo[0].Item_ID %>&qty=' + qty[0].value);
                    // move('/user/search/detail/buy/?reqid=<%= iteminfo[0].Item_ID %>')
                    <% } %>

                    modal('수량이 선택되지 않았습니다', 'ok', 'hide')
                    return

                } else if (sendqty > 0) {

                    // 구매 기록(구매정보 페이지 진입 시) 히스토리 저장
                    // var historyData = payHistoryData()

                    // $.post("/api/execute", historyData, function (jqXHR) {

                    //     if (jqXHR.msg == 'SUCCESS') {
                    //         modal('구매기록성공', 'ok', 'hide')
                    //     } else {
                    //         modal('구매기록실패', 'ok', 'hide')
                    //     }
                    // }, 'json' /* xml, text, script, html */)
                    // .done(function (jqXHR) {console.log(jqXHR)})
                    // .fail(function (jqXHR) {console.log(jqXHR)})
                    // .always(function (jqXHR) {console.log(jqXHR)});

                    <% if (iteminfo[0].ItemType_CD == 'DCO') { %>

                        if ('<%= sess.Member_ID %>') {
                            let data = new Object();
                            data.username = '<%= sess.AccountID %>'
                            data.Member_ID = <%= sess.Member_ID %>
                                data.Contract_ID = <%= Contract_ID %>
                                    data.IssueQty = qty[0].value
                            data.uri = "/api/v1/item/downcoupon"

                            $.post("/api/execute", data, function (jqXHR) {
                                <% if (iteminfo[0].Cp_DownloadNum > 0) {
                                    let Cp_DownloadNum = iteminfo[0].Cp_DownloadNum
                                } else {
                                    let Cp_DownloadNum = '제한없음'
                                }
                                %>
                                if (jqXHR.msg == 'SUCCESS') {
                                    modal('쿠폰 다운로드 완료<br>나의발행개수 :' + (parseInt(jqXHR.result[0][0].MyDownNum) + parseInt(qty[0].value))+' / 최대발행개수 : <%= Cp_DownloadNum %>'+'<br><br>내상품권 페이지로 이동하시겠습니까?', 'yesno', '', 'move(\'/user/myvoucher\')', 'hide')
                                } else {
                                    modal('더 이상 쿠폰을 받을 수 없습니다.<br>최대발행개수 : <%= Cp_DownloadNum %> /  나의발행개수 :' + jqXHR.result[0][0].MyDownNum, 'ok', 'hide')
                                }

                            }, 'json' /* xml, text, script, html */)
                                .done(function (jqXHR) {
                                    console.log(jqXHR)
                                })
                                .fail(function (jqXHR) {
                                    console.log(jqXHR)
                                })
                                .always(function (jqXHR) {
                                    console.log(jqXHR)
                                });
                        } else {
                            // modal('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?', 'yesno', '', 'move(\'/member/login\')', 'hide');
                        }

                    <% } else if (iteminfo[0].ItemType_CD == 'DVO') { %> // 할인상품 일 때
                        $.redirect("/user/search/detail/buy?Contract_ID=<%= Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>&qty=" + qty[0].value+ "",
                            {Contract_ID: "<%= Contract_ID %>", Item_ID: "<%= iteminfo[0].Item_ID %>", ItemType_CD: '<%=iteminfo[0].ItemType_CD%>', qty: qty[0].value}, "POST");

                        //   move('/user/search/detail/buy/?Contract_ID=<%= Contract_ID %>&Item_ID=<%= iteminfo[0].Item_ID %>&qty=' + qty[0].value);
                        //  move('/user/search/detail/buy/?reqid=<%= iteminfo[0].Item_ID %>')

                    <% } else if (iteminfo[0].ItemType_CD == 'FDE') { %> // 신선배송 일 때
                        $.redirect("/user/search/detail/buy?Contract_ID=<%= Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>&qty=" + qty[0].value+ "",
                            {Contract_ID: "<%= Contract_ID %>", Item_ID: "<%= iteminfo[0].Item_ID %>", ItemType_CD: '<%=iteminfo[0].ItemType_CD%>', qty: qty[0].value}, "POST");

                        // move('/user/search/detail/buy/?Contract_ID=<%= Contract_ID %>&Item_ID=<%= iteminfo[0].Item_ID %>&qty=' + qty[0].value);
                        //  move('/user/search/detail/buy/?reqid=<%= iteminfo[0].Item_ID %>')

                    <% } else if (iteminfo[0].ItemType_CD == 'DEL') { %> // 일반배송 일 때
                        let SendData = new Object();

                        SendData.Member_ID = <%=sess.Member_ID%>
                        SendData.Page = 'Single'
                        SendData.BuyQty = qty[0].value
                        SendData.Contract_ID = <%=Contract_ID%>

                        SendData.uri = '/api/v1/item/checkoutofbuy'
                        $.post("/api/execute", SendData, function (jqXHRResult) {
                            if (jqXHRResult.msg === 'SUCCESS'){
                                $.redirect("/user/search/detail/buy?Contract_ID=<%= Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>&qty=" + qty[0].value+ "",
                                    {Contract_ID: "<%= Contract_ID %>", Item_ID: "<%= iteminfo[0].Item_ID %>", ItemType_CD: '<%=iteminfo[0].ItemType_CD%>', qty: qty[0].value}, "POST");

                                // move('/user/search/detail/buy/?Contract_ID=<%= Contract_ID %>&Item_ID=<%= iteminfo[0].Item_ID %>&qty=' + qty[0].value);
                                //  move('/user/search/detail/buy/?reqid=<%= iteminfo[0].Item_ID %>')
                            } else if (jqXHRResult.msg === 'NOTENOUGHINVENTORY') {  //재고소진
                                modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>재고가 부족합니다.<br>잔여재고 : ' + jqXHRResult.result[0][0].Stock + '개', 'ok', 'hide');
                                return;
                            } else  if (jqXHRResult.msg === 'NEEDINVENTORY') {  // 품절
                                modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>품절된 상품입니다.<br>잔여재고 : ' + jqXHRResult.result[0][0].Stock + '개', 'ok', 'hide');
                                return;
                            } else  if (jqXHRResult.msg === 'PERIODPASSED') {  // 유효기간 지남
                                modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>구매가능기간이 지난 상품입니다.', 'ok', 'hide');
                                return;
                            } else {
                                modal('예기치 못한 오류가 발생하였습니다.','ok','hide');
                                return;
                            }
                        }, 'json' /* xml, text, script, html */)
                            .done(function (jqXHRResult) {
                            })
                            .fail(function (jqXHRResult) {
                            })
                            .always(function (jqXHRResult) {
                            });



                    <% } else { %>

                    if (seldate && selectOneDayFlag) {

                        if ('<%=iteminfo[0].ItemType_CD%>' === 'ATR') {
                            let SendData = new Object();

                            SendData.Member_ID = <%=sess.Member_ID%>
                            SendData.Page = 'Option'
                            SendData.BuyQty = sendqty

                            SendData.Item_ID = <%= iteminfo[0].Item_ID %>
                            SendData.ResvDate = selday
                            SendData.ItemResvOpt_Seq = seq

                            SendData.uri = '/api/v1/item/checkoutofbuy'

                            console.log(SendData)
                            $.post("/api/execute", SendData, function (jqXHRResult) {
                                if ( jqXHRResult.msg === 'SUCCESS' ) {
                                    <% for (var i = 0; i < itemoption.length; i++) { %>
                                    itemoptionQtyArr.push(parseInt($('.txt-qty'+'<%=i%>').val()))
                                    <%}%>

                                    console.log("itemoptionContractID: ", itemoptionContractID)
                                    console.log("itemoptionPriceArr: ", itemoptionPriceArr)
                                    console.log("itemoptionQtyArr: ", itemoptionQtyArr)

                                    let totalPrice = (itemoptionPriceArr[0] * itemoptionQtyArr[0]) + (itemoptionPriceArr[1] * itemoptionQtyArr[1]) + (itemoptionPriceArr[2] * itemoptionQtyArr[2])
                                    console.log("totalPrice: ", totalPrice)

                                    $.redirect("/user/search/detail/buy?Contract_ID=<%= Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>&qty=" + sendqty+ "", {
                                        Contract_ID: "<%= Contract_ID %>",
                                        Item_ID: "<%= iteminfo[0].Item_ID %>",
                                        ItemType_CD: '<%=iteminfo[0].ItemType_CD%>',
                                        itemoptionContractID: itemoptionContractID,
                                        itemoptionPriceArr: itemoptionPriceArr,
                                        totalPrice: totalPrice,
                                        itemoptionQtyArr: itemoptionQtyArr,
                                        // qtyAdult: parseInt($('.txt-qty0').val()),
                                        // qtyTeen: parseInt($('.txt-qty1').val()),
                                        // qtyChild: parseInt($('.txt-qty2').val()),
                                        qty: sendqty,
                                        selday: selday,
                                        seq: seq,
                                        timename: timename
                                    }, "POST");
                                } else if ( jqXHRResult.msg === 'OVERBOOKING' ) {   //오버부킹
                                    modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약가능 인원수가 부족합니다.<br>예약가능 인원 : ' + jqXHRResult.result[0][0].Stock + '명', 'ok', 'hide');
                                    return
                                } else if ( jqXHRResult.msg === 'NEEDINVENTORY' ) { //품절 - 해당시간대 예약불가
                                    modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약상품이 품절되었습니다.<br>예약가능 인원 : ' + jqXHRResult.result[0][0].Stock + '명', 'ok', 'hide');
                                    return
                                } else if ( jqXHRResult.msg === 'RESVTIMEAUTOCANCELED' ) {  //예약시간대 자동취소됨
                                    modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약 가능시간이 지난 시간대 입니다.', 'ok', 'hide');
                                    return
                                } else if ( jqXHRResult.msg === 'RESVTIMEPASSED' ) {  //예약시간대가 이미지남
                                    modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약 가능시간이 지난 시간대 입니다.', 'ok', 'hide');
                                    return
                                } else if ( jqXHRResult.msg === 'SELDAYPASSED' ) {  //예약일이 지남
                                    modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약 할 수 없는 날짜 입니다.', 'ok', 'hide');
                                    return
                                } else {
                                    modal('예기치 못한 오류가 발생하였습니다.','ok','hide');
                                    return;
                                }

                            }, 'json' /* xml, text, script, html */)
                                .done(function (jqXHR) {})
                                .fail(function (jqXHR) {})
                                .always(function (jqXHR) {});

                        } else {
                            $.redirect("/user/search/detail/buy?Contract_ID=<%= Contract_ID %>&itemid=<%= iteminfo[0].Item_ID %>&qty=" + sendqty+ "", {
                                Contract_ID: "<%= Contract_ID %>",
                                Item_ID: "<%= iteminfo[0].Item_ID %>",
                                ItemType_CD: '<%=iteminfo[0].ItemType_CD%>',
                                qty: sendqty,
                                selday: selday,
                                seq: seq,
                                timename: timename
                            }, "POST");

                            //  move('?=&=&qty=' +  + '&selday=' + selday + '&seq=' + seq);
                        }
                    } else {
                        modal('예약현황보기를 통해 먼저 예약상태를 확인해주세요', 'ok', 'hide')
                    }

                    <% } %>

                }
            }
        }

        <% if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR') { %>
        //예약상품권에서 날짜와 하단 옵션을 선택하지 않았을 때
        if (!selectOneDayFlag && '<%= sess.Member_ID %>') {
            modal('날짜와 하단의 옵션을 선택해주세요.', 'ok', 'hide')
            $(".gift").slideUp();
            return
        }
        <% } %>

    }


    var payHistoryData = function () {

        let data= new Object();
        data.uri = '/api/v1/item/inserpaymentpagehistory'

        data.Contract_ID = '<%= Contract_ID %>'
        data.Item_ID= '<%= Item_ID %>'
        data.User_ID = '<%= sess.Member_ID %>'
        data.Amount = <%= iteminfo[0].SalePrice %> * $('.txt-qty').val()

        return data;
    }

    // updateCalender --> updatecal 이병주
    var updatecal = function () {

        //예약상품권(날짜, 날짜+시간, 관광지) 일 때
        <% if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR') { %>

        let elem = document.getElementById('resv');
        const cl = document.querySelectorAll('#resv .row');
        let row = cl[0].cloneNode(true);
        elem.innerHTML = ''

        elem.appendChild(row);
        //  $('.wrongday').removeClass('wrongday')
        let StartDate = new Date('<%= iteminfo[0].Started.toString().substring(0, 10) %>').format('yyyy-MM-dd')
        let EndDate = new Date('<%= iteminfo[0].Ended.toString().substring(0, 10) %>').format('yyyy-MM-dd')
        let days = $('.calendar').find('.day').length

        for (var i = 0; i < days; i++) {

            let daylist = '<%= iteminfo[0].ResvDayList.toUpperCase().trim() %>'
            daylist = daylist.split('/')

            let date = new Date($('.calendar').find('.day').eq(i).attr('data-date')).format('yyyy-MM-dd')

            // console.log(date, dayOfWeek, daylist)

            if (date > EndDate || StartDate > date) {
                $('.calendar').find('.day').eq(i).addClass('wrongday')
                $('.calendar').find('.day').eq(i).attr('onclick', 'unableResvDay()')
            } else {
                let daydate = ''
                let week = ['S', 'M', 'T', 'W', 'H', 'F', 'A'];
                let dayOfWeek = week[new Date(date).getDay()];

                for (var j = 0; j < daylist.length; j++) {

                    if (dayOfWeek == daylist[j]) {
                        daydate = date
                    }
                }

                if (daydate != date) {
                    $('.calendar').find('.day').eq(i).addClass('wrongday')
                    $('.calendar').find('.day').eq(i).attr('onclick','unableResvDay()')
                }
            }
        }

        if (new Date().format('yyyy-MM-dd') > new Date($('.calendar').find('[data-date=' + StartDate + ']').attr('data-date')).format('yyyy-MM-dd')) {
            $('.calendar').find('[data-date=' + new Date().format('yyyy-MM-dd') + ']').addClass('selected usr')
        } else {
            $('.calendar').find('[data-date=' + StartDate + ']').addClass('selected usr')
        }

        $('.selected').removeClass('selected')
        $('.selected').removeClass('selected')
        $('.today').addClass('usr')

        <%}%>

        //신선배송 상품일 때
        <% if (iteminfo[0].ItemType_CD == 'FDE') { %>

        let elem = document.getElementById('delv');
        const cl = document.querySelectorAll('#delv .row');
        let row = cl[0].cloneNode(true);
        elem.innerHTML = ''

        elem.appendChild(row);
        //  $('.wrongday').removeClass('wrongday')
        let StartDate = new Date('<%= iteminfo[0].Started.toString().substring(0, 10) %>').format('yyyy-MM-dd')
        let EndDate = new Date('<%= iteminfo[0].Ended.toString().substring(0, 10) %>').format('yyyy-MM-dd')
        let days = $('.calendar').find('.day').length

        for (var i = 0; i < days; i++) {

            let daylist = '<%= iteminfo[0].ResvDayList.toUpperCase().trim() %>'
            daylist = daylist.split('/')

            let date = new Date($('.calendar').find('.day').eq(i).attr('data-date')).format('yyyy-MM-dd')

            // console.log(date, dayOfWeek, daylist)

            if (date > EndDate || StartDate > date) {
                $('.calendar').find('.day').eq(i).addClass('wrongday')
                $('.calendar').find('.day').eq(i).attr('onclick', 'unableResvDay()')
            } else {
                let daydate = ''
                let week = ['S', 'M', 'T', 'W', 'H', 'F', 'A'];
                let dayOfWeek = week[new Date(date).getDay()];

                for (var j = 0; j < daylist.length; j++) {

                    if (dayOfWeek == daylist[j]) {
                        daydate = date
                    }
                }

                if (daydate != date) {
                    $('.calendar').find('.day').eq(i).addClass('wrongday')
                    $('.calendar').find('.day').eq(i).attr('onclick','unableResvDay()')
                }
            }
        }

        if (new Date().format('yyyy-MM-dd') > new Date($('.calendar').find('[data-date=' + StartDate + ']').attr('data-date')).format('yyyy-MM-dd')) {
            $('.calendar').find('[data-date=' + new Date().format('yyyy-MM-dd') + ']').addClass('selected usr')
        } else {
            $('.calendar').find('[data-date=' + StartDate + ']').addClass('selected usr')
        }

        $('.selected').removeClass('selected')
        $('.selected').removeClass('selected')
        $('.today').addClass('usr')

        <%}%>

    }


    var unableResvDay = function () {
        modal('예약 할 수 없는 날짜 입니다.', 'ok', 'hide');

        $('.selected.usr').removeClass('selected usr');
        $('.h-auto').remove();
        // $('#resv').children('div').remove();

        selday = '';
        $(".gift").slideUp();
        val = 1;
        selectOneDayFlag = false;

        return;
    }

    //예약상품권에서 하단 옵션을 선택했을 때
    var selectOneDay = function (btn) {

        if ($(btn).hasClass('disable') == true) {
            modal("마감된 예약 은 선택할 수 없습니다.", 'ok', 'hide')
            return
        }

        val = 1;
        $(".gift").slideDown();

        //구매수량과 총 금액 초기화
        <% if (iteminfo[0].ItemType_CD == 'ATR') {%>
        selectOneDayFlag = true;
        <% for (var i = 0; i < itemoption.length; i++) {%>
        <% if (i == 0) {%>
        $('.txt-qty0').val(0);
        $('.priceoption0').html(0)
        updateOptionPrice(0, 0)
        <%} else if (i == 1) {%>
        $('.txt-qty1').val(0);
        $('.priceoption1').html(0)
        updateOptionPrice(1, 0)
        <%} else if (i == 2) {%>
        $('.txt-qty2').val(0);
        $('.priceoption2').html(0)
        updateOptionPrice(2, 0)
        <%}%>
        <%}%>
        // updateTotalPrice()

        <%} else {%>
        selectOneDayFlag = true;
        $('.txt-qty').val(1);
        var saleprice = <%= iteminfo[0].SalePrice %> // let 선언방식 사용불가
            saleprice = saleprice * $('.txt-qty').val()
        $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
        <%}%>

        $('.option-btn').removeClass('selected usr')
        // $('#resv').children('div').children('div').children('button').removeClass('selected usr')

        seq = $(btn).attr('data-seq')

        // console.log(seq)

        if ($(btn).hasClass('selected usr')) {
            $(btn).removeClass('selected usr')
            selectOneDayFlag = false
            // return
        } else {
            $(btn).addClass('selected usr')
        }

        let senddata = new Object();
        senddata.username = parseInt('<%= sess.AccountID %>')
        senddata.AccountID = parseInt('<%= sess.AccountID %>')
        senddata.Item_ID = parseInt('<%= Item_ID %>')
        senddata.ResvDate = selday
        senddata.uri = '/api/v1/item/getresvlist'

        $.post("/api/execute", senddata, function (jqXHR) {

            timename = jqXHR.result[0][seq].ResvOptName
            resvmax = jqXHR.result[0][seq].MaxResvQty - jqXHR.result[0][seq].ResvQty

            console.log("resvmax:", resvmax)

            if (jqXHR.result[0][$(btn).attr('data-seq')].MaxResvQty == '9999') {
                $('.resvleftover').html('')
                $('.resvleftover').addClass('mb-1')
            } else {
                $('.resvleftover').html('잔여인원 : ' + (jqXHR.result[0][$(btn).attr('data-seq')].MaxResvQty - jqXHR.result[0][seq].ResvQty) + '명')
            }

            if ((jqXHR.result[0][seq].MaxResvQty - jqXHR.result[0][seq].ResvQty) <= 0) {
                $('.txt-qty').val(0);
                var saleprice = <%= iteminfo[0].SalePrice %>
                    saleprice = saleprice * $('.txt-qty').val()
                $('.price .bold').html(saleprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            }

        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {
            })
            .fail(function (jqXHR) {
            })
            .always(function (jqXHR) {
            });

    }

    window.onload = function() {
        //상품이미지 크기에따른 버튼처리
        <% if ( detimg[0] ) { %>
        if ( $('#detail-img').height() <= 300 ) {
            $('.memeOpen').css('display','none')
            $('.short-detail-img').css('height',$('#detail-img').height())
        }
        pcresize();
        <% } %>
    }

    $(document).ready(function () {
        $('.fixed-border-top').css('border-top','none')
        pcresize();
        setCookie("itemdetailURL", String(document.location.href).substr(21,));

        // changeTitle('<span class="icon before align-middle" onclick="move(\'/affiliate/showstore/<%=supinfo[0].Affiliate_ID%>\')">before</span>', '', '');

        //예약상품권(날짜, 날짜+시간, 관광지) 일 때
        <% if (iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR') { %>
        let StartDate = new Date().format('yyyy-MM-dd')
        // console.log(StartDate)
        $('#event-cal-container').simpleCalendar({
            StartDate: StartDate,
            selectCallback: function (date) {
            }
        });

        $('.today').addClass('usr');
        // $('.wrongday').removeClass('wrongday')
        $('.bxslider').bxSlider({
            mode: 'fade',
            controls: false
        });



        //배송상품 (일반배송, 신선배송) 일 때
        <%} else if (iteminfo[0].ItemType_CD == 'DEL' || iteminfo[0].ItemType_CD == 'FDE') {%>
        let StartDate = new Date().format('yyyy-MM-dd')
        // console.log(StartDate)
        $('#event-cal-container').simpleCalendar({
            StartDate: StartDate,
            selectCallback: function (date) {
            }
        });

        $('.today').addClass('usr');
        // $('.wrongday').removeClass('wrongday')
        $('.bxslider').bxSlider({
            mode: 'fade',
            controls: false
        });



        <%}%>

        <% if (iteminfo[0].ItemType_CD == 'ATR') { %>
        <% for (var i = 0; i < itemoption.length; i++) { %>
        itemoptionContractID.push(<%=itemoption[i].Contract_ID%>)
        itemoptionPriceArr.push(<%=itemoption[i].SalePrice%>)
        <%}%>


        <% } %>

        updatecal();
    });
    //스크롤 이벤트
    window.onscroll = function (e) {
        if($(window).height() < $(window).scrollTop()) { //스크롤이 화면크기보다 커질경우
            $('.totheTop').css('display','block')
        }
        if($(window).height() > $(window).scrollTop()) { //스크롤이 화면크기보다 작아질경우
            $('.totheTop').css('display','none')
        }
    }
</Script>