
<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../../../common/require/head %> 
</head>
<body>

    <% if(thismode == "user") { %>
        <% include ../../../common/require/topnav_usr %>
    <% } else if(thismode == "affiliate") { %>
        <% include ../../../common/require/topnav_aff %>
    <% } else if(thismode == "supplier") { %>
        <% include ../../../common/require/topnav_sup %>
    <% } %>
    
    <% include ./components/imgslider %>
    <% include ./components/profile %>
    <% include ./components/info %>
    <% include ./components/memo %>

    <% if(iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR'){ %>
        <% include ./components/reserve_detail %>
    <% } %>

    <% if(iteminfo[0].ItemType_CD == 'FDE' ){ %>
        <% include ./components/delv_detail %>
    <% } %>

    <% include ./components/refund_detail %>
    <% include ./components/button %>

    <% include ../../../common/require/modal %>
    <% include ../../../common/require/foot %>

    <% if(thismode == "user" && isbottomnav) { %>
        <% include ../../../common/require/bottomnav_usr %>
    <% } else if(thismode == "affiliate" && isbottomnav) { %>
        <% include ../../../common/require/bottomnav_aff %>
    <% } else if(thismode == "supplier" && isbottomnav) { %>
        <% include ../../../common/require/bottomnav_sup %>
    <% } %>

    <% include ./components/script %>
    
    <Script>
        $(function () {
            $('.bxslider').bxSlider({
                mode: 'fade',
                controls: false
            });

            pcresize()

        });
    </Script>
</body>
</html>