<div class="join info affiliate coperation fixedbottom" >
 
    <div class="px-12">
        <p class="subject">공급자 유형</p>                
    </div>
    
    <ul class="category">
        <li>
            <div class="row m-0 border-bottom ">
                <div class="col p-0 pb-2">
                    <p class="text title">유형</p>
                    <div class="row m-0 mt-2">
                        <div class="col p-0">
                            <button class="btn btn-common">개인사업자</button>
                        </div>
                        <div class="col col-split p-0"></div>
                        <div class="col p-0">
                            <button class="btn btn-common">법인사업자</button>
                        </div>
                        <div class="col col-split p-0"></div>
                        <div class="col p-0"></div>                                                
                    </div>
                </div>
            </div>
        </li>    
    </ul>

    <div class="px-12 pt-3">
        <p class="subject">증빙 서류 업로드</p>                
    </div>

    <ul class="upload">
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">법인사업자 등록증 사본</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="법인사업자 등록증 사본 이미지" >   
                        </div>
                        <div class="col col-upload p-0 ">
                            <button type="button" class="btn btn-upload join aff">업로드</button>
                        </div>
                    </div>                          
                </div>
            </div>
        </li> 
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">법인인감 증명서 사본</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="법인인감 증명서 사본 이미지">   
                        </div>
                        <div class="col col-upload p-0 ">
                            <button type="button" class="btn btn-upload join aff">업로드</button>
                        </div>
                    </div>                          
                </div>
            </div>
        </li> 
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">통장 사본</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="법인명의 통장 사본 이미지">   
                        </div>
                        <div class="col col-upload p-0 ">
                            <button type="button" class="btn btn-upload join aff">업로드</button>
                        </div>
                    </div>                          
                </div>
            </div>
        </li> 
    </ul>

    <div class="px-12 pt-3">
        <p class="subject">사업장 정보 입력</p>                
    </div>
    <ul class="companyinfo">
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">상호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="상호명 입력" >   
                        </div>
       
                    </div>                          
                </div>
            </div>
        </li> 
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">대표자</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="대표자명 입력" >   
                        </div>
       
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">공동대표자</p>
                    <div class="row m-0 mt-2 pb-2">
                        <div class="col col-check p-0">                      
                            <span class="icon-check"></p>
                        </div>
                        <div class="col p-0 h-100 mt-1 ml-2">                      
                            <p class="text check">여부</p>
                        </div>
                    </div>                          
                </div>
            </div>
        </li> 
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">등록번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="- 없이 숫자만 입력" >   
                        </div>
       
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">법인 등록번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="- 없이 숫자만 입력" >   
                        </div>
       
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">사업장 소재지</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="우편번호 검색" >   
                        </div>
                        <div class="col col-addrfind p-0">
                            <button type="button" class="btn btn-addrfind join aff">우편번호 찾기</button>
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
        <li class="addr">
            <div class="row m-0 border-bottom h-100">
                <div class="col p-0 ">
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="주소" >   
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
        <li class="addr">
            <div class="row m-0 border-bottom h-100">
                <div class="col p-0 ">
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="상세주소 입력" >   
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">사업장 전화번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="- 없이 숫자만 입력" >   
                        </div>
       
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">본점 소재지</p>
                    <div class="row m-0 mt-2 pb-2">
                        <div class="col col-check p-0">                      
                            <span class="icon-check"></p>
                        </div>
                        <div class="col p-0 h-100 mt-1 ml-2">                      
                            <p class="text check">사업장 소재지와 동일</p>
                        </div>
                    </div>                          
                </div>
            </div>
        </li> 
        <li class="addr">
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="우편번호 검색" >   
                        </div>
                        <div class="col col-addrfind p-0">
                            <button type="button" class="btn btn-addrfind join aff" onclick="searchAddr('coperation')">우편번호 찾기</button>
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
        <li class="addr">
            <div class="row m-0 border-bottom h-100">
                <div class="col p-0 ">
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="주소 입력" >   
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
        <li class="addr">
            <div class="row m-0 border-bottom h-100">
                <div class="col p-0 ">
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="상세주소 입력" >   
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">본점 전화번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="- 없이 숫자만 입력" >   
                        </div>
    
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">업태</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="업태 입력" >   
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title">종목</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="종목 입력" >   
                        </div>       
                    </div>                          
                </div>
            </div>
        </li>
         <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">                    
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <p class="text title">한줄소개</p>  
                        </div>
                        <div class="col p-0 text-right">
                            <p class="text remain">0/32</p>  
                        </div>
                    </div>  
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo" placeholder="한줄소개 32자 이내 입력" >   
                        </div>
                    </div>                          
                </div>
            </div>
        </li>
    </ul>

    <div class="row m-0 mt-3 fixed-bottom">
        <div class="col p-0 ">
            <button type="button" class="btn btn-ok aff">완료</button>
        </div>
    </div>
</div>
