<div class="affiliate myprofile myinfo mb-3" >
    <div class="mx-12 row m-0 border-bottom">
        <div class="col p-0 ">
            <p class="subject aff border-0 ">기업 정보</p>
        </div>
        <div class="col p-0 text-right ">

        </div>
    </div>
    <ul class="companyinfo">
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">상호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=info.CompanyName%>"
                                disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">주소</p>
                    <div class="row m-0 ">
                        <div class="col p-0">
                            <!-- <span class="form-control text joininfo mt-2" style="line-height: 1rem;"><%=info.Postcode%>
                                <%=info.Addr%> <%=info.AddrEtc%></span> -->
                            <input type="text " class="form-control text joininfo"
                                value="<%=info.Postcode%> <%=info.Addr%> <%=info.AddrEtc%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">사업장전화번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=info.BizPhone%>" disabled>
                        </div>

                    </div>
                </div> 
            </div>
        </li>

        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">사업자등록번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=info.BizCode%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <% if (info.BizType_CD=="COR" ) { %>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">법인등록번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=info.CorpCode%>"
                                disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <%}%>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">대표자</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=info.President%>"
                                disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">이메일</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=info.AccountID%>"
                                disabled>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    <% if (SNScnt >0) {%>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">SNS정보</p>
                    <div class="row m-0 mt-1 mb-1 ">
                    <% for (var i=0; i<SNScnt; i++) { %>
                        <div class="snsImg<%=i%>" >
                            <!-- makeSnsList() -->
                        </div>    
                    <% } %>
                    </div>
                </div>
            </div>
        </li>
    <% } %>
    </ul>
</div>
