<div class="affiliate myprofile myinfo mb-3" >

    <div class="mx-12 row m-0 border-bottom">
        <div class="col p-0 ">
            <p class="subject border-0 aff">기업 정보</p>
        </div>
        <div class="col p-0 text-right ">
            <!-- <button type="button" class="btn btn-modify aff mt-3" onclick="move('/affiliate/profile/modify/corporation'); setRedirect('/affiliate/profile/<%=id%>',2)">수정신청</button> -->
            <button type="button" class="btn btn-modify aff mt-3" onclick="modal('고객센터: 064-900-3658 으로 연락주시기 바랍니다. <br>운영시간: 월~금 09:00~18:00','ok','hide')" >수정신청</button>
        </div>
    </div>
    <ul class="companyinfo">
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">상호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo"  value="<%=sess.CompanyName%>"  disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 "> 
                    <p class="text title ">주소</p>
                    <div class="row m-0 ">
                        <div class="col p-0">
                            <!-- <span class="form-control text joininfo mt-2" style="line-height: 1rem;"><%=sess.Postcode%> <%=sess.Addr%> <%=sess.AddrEtc%></span> -->
                            <input type="text " class="form-control text joininfo" value="<%=sess.Postcode%> <%=sess.Addr%> <%=sess.AddrEtc%>">
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">사업장전화번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=sess.BizPhone%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">사업자등록번호</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=sess.BizCode%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <% if (sess.BizType_CD == "COR") { %>
            <li>
                <div class="row m-0 border-bottom">
                    <div class="col p-0 ">
                        <p class="text title ">법인등록번호</p>
                        <div class="row m-0 ">
                            <div class="col p-0 ">
                                <input type="text " class="form-control text joininfo" value="<%=sess.CorpCode%>" disabled>
                            </div>
    
                        </div>
                    </div>
                </div>
            </li>
            <%}%>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">대표자</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo" value="<%=sess.President%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">이메일</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo"  value="<%=sess.AccountID%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <% if (SNScnt >0) {%>
            <li>
                <div class="row m-0 border-bottom">
                    <div class="col p-0 ">
                        <p class="text title ">SNS정보</p>
                        <div class="row m-0 mt-1  mb-1 ">
                        <% for (var i=0; i<SNScnt; i++) { %>
                            <div class="snsImg<%=i%>" >
                                <!-- makeSnsList() -->
                            </div>    
                        <% } %>
                        </div>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>

    <div class="mx-12 row m-0 border-bottom ">
        <div class="col p-0">
            <p class="subject border-0 aff">개인정보</p>
        </div>
        <div class="col p-0 text-right">
            <button type="button" class="btn btn-modify aff mt-3" onclick="move('/affiliate/profile/modify/info'); setRedirect('/affiliate/profile/<%=id%>',2)">수정</button>
        </div>
    </div>

    <ul class="companyinfo fixedbottom">
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">이름</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text" class="form-control text joininfo "  value="<%=sess.MemberName%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">이메일</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo "  value="<%=sess.AccountID%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">휴대폰</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo "  value="<%=sess.Phone%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">휴대폰   </p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="tel" class="form-control text joininfo "  value="<%=sess.Phone%>" disabled>
                        </div>
                        <div class="col col-btn p-0 pb-2 justify-content-center align-self-center text-right">
                        <button type="button" class="btn btn-modify aff none">                                        
                                    <% if(sess.ConfirmTel != 'Y'){ %>
                                        미인증
                                    <% }else{%>
                                        인증완료
                                    <%}%>                                                                                       
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row m-0 border-bottom">
                <div class="col p-0 ">
                    <p class="text title ">생년월일</p>
                    <div class="row m-0 ">
                        <div class="col p-0 ">
                            <input type="text " class="form-control text joininfo " value="<%=sess.Birthday%>" disabled>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>