<div class="afflilate myprofile mypage">
    <div class="top h-50">
        <div class="noimg"><img src="<%=sess.CoverFilepath%><%=sess.CoverFilename%>" class="w-100" style="max-height:275px;"></div>
    </div>
    <div class="bottom h-50 ">
        <div class="row m-0">
            <div class="col p-0">
                <div class="row m-0 w-100 info ">
                    <div class="col p-0 text-center justify-content-center align-self-center ">
                        <div class="row m-0 h-100 mt-1 invisible">
                            <div class="col p-0 justify-content-center align-self-center d-flex ">
                                <div class="wish aff">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center">위시리스트</p>

                                </div>
                                <div class="wishcount aff">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center pb-1">13</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-img p-0 text-center  ">
                            <img src="<%=sess.Filepath%><%=sess.Filename%>" class="w-100 h-100 rounded-circle" style="background: #ffffff;" onclick="move('/affiliate/profile/modify/intro')">
                    
                    </div>
                    <div class="col p-0 text-center justify-content-center align-self-center ">
                        <div class="row m-0 h-100 mt-1 invisible">
                            <div class="col p-0 justify-content-center align-self-center d-flex ">
                                <div class="wish ">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center">위시리스트</p>

                                </div>
                                <div class="wishcount ">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center pb-1">13</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 h-100">
            <div class="col p-0 justify-content-center align-self-center mt-5">
                <div class="row m-0 ">
                    <div class="col-1 p-0"></div>
                    <div class="col p-0 text-center">
                        <p class="text mynick"><%=sess.Nickname%></p>
                    </div>
                    <div class="col-1 p-0"></div>
                </div>

                <div class="row m-0 mt-4">
                    <Div class="col p-0 px-3">
                        <p class="text introrow text-center"><%=sess.MemberIntro%></p>
                    </Div>
                </div>

                <div class="row m-0 mt-4 px-12 justify-content-center align-self-center">
                    <div class="col p-0"></div>
               
                    <div class="col col-iconbox p-0 " onclick="move('/affiliate/profile/modify/intro'); setRedirect('/affiliate/profile/<%=id%>',2)">
                        <div class="iconbox p-3">
                            <span class="icon s-30">modifymy</span>
                        </div>
                        <p class="text icondesc text-center">프로필수정</p>
                    </div>
                        
                    <div class="col col-iconbox p-0 ml-4 mr-4" onclick="myinfo()">
                        <div class="iconbox p-3">
                            <span class="icon s-30">userinfo</span>
                        </div>
                        <p class="text icondesc text-center">회원정보</p>
                    </div>

                    <div class="col col-iconbox  p-0" onclick="move('/affiliate/showstore/<%= id %>');setRedirect('/affiliate/profile/<%= id %>',2)">
                        <div class="iconbox p-3 ">
                            <span class="icon s-30">store</span>
                        </div>
                        <p class="text icondesc text-center">스토어</p>
                    </div>

                    <div class="col p-0"></div>
                </div>
            </div>
        </div>

    </div>

</div>