<script>

    const modifyMyinfo = document.querySelectorAll('modifyMyinfo');
    var readonly = document.querySelectorAll('input[readonly]')[0];
    const gender = document.getElementsByName('gender');

    // readonly.style.backgroundColor = '#ffffff';

    // (20210621 유효경 추가) 제휴신청 철회
    var cancelfff = function (id) {
        var data = new Object();
        data.uri = '/api/v1/member/updatefriend'
        data.FriendType_CD = 'AFF'
        data.Member_ID = <%= sess.Member_ID %>
        data.Member_FID = id
        // data.MemberFriendReq_ID = reqid
        // data.MemberFriendReq_FID = reqid2

        // (20210621 유효경 추가) 'DEN'은 제휴신청을 거절하는 값이지만, 임시로 제휴신청 철회에서 사용
        data.FriendStatus_CD = 'DEN'
        data.username = '<%=sess.AccountID%>'
    
        $.post("/api/execute", data, function (jqXHR) {
            console.log(jqXHR)

            if (jqXHR.msg == 'SUCCESS') {
                modal('제휴신청이 철회되었습니다.', 'ok', 'move(\'/supplier/partner/\')');
                // 알람 레거시 코드 주석처리 20210325 이병주 (알림)
                // data.event = 'newalarm'
                // ws.send(JSON.stringify(data));
            } else {
                modal('제휴신청 철회가 실패되었습니다.', 'ok', 'hide')
            }

        }, 'json' /* xml, text, script, html */)
        
        .done(function (jqXHR) { })
        .fail(function (jqXHR) { })
        .always(function (jqXHR) { });
  }

    var data = new Object();
    var id = 1;
    data.gender = '<%=sess.Gender%>'
    data.auth = 'yes'
    data.changephone = 'no'
        <%  if (sess.Birthday && sess.Birthday != '') {%>
            data.year = '<%=sess.Birthday.substr(0,4)%>'
            data.month = '<%=sess.Birthday.substr(5,2)%>'
            data.day = '<%=sess.Birthday.substr(8,2)%>'
            data.Birthday = data.year + '-' + data.month + '-' + data.day
                <% } else {%>
                    data.Birthday = ''
                        <%  } %>
      

    var validName = function (obj) {
        if (checkName(obj)) {
            $('.nvname').addClass('invisible');
            return true
        } else {
            $('.nvname').removeClass('invisible');
            return false
        }
    }

    var validPhone = function (obj) {
        if (phoneCheck(obj)) {
            $('.nvphone').addClass('invisible');
            return true
        } else {
            $('.nvphone').removeClass('invisible');
            return false
        }
    }

    var validGender = function () {
        for (var i = 0; i < gender.length; i++) {
            if (!$(gender).hasClass('selected')) {
                $('.nvgender').removeClass('invisible')
            } else {
                $('.nvgender').addClass('invisible')
            }
        }
    }

    var validBirth = function () {

        if ($('.year').html() == '미입력') {
            $('.nvbirth').removeClass('invisible')
        } else if ($('.month').html() == '미입력') {
            $('.nvbirth').removeClass('invisible')
        } else if ($('.day').html() == '미입력') {
            $('.nvbirth').removeClass('invisible')
        } else {
            $('.nvbirth').addClass('invisible')
        }
    }


    function store() {
        var offset = $('.store').offset();
        var winH = $(window).height();
        $('html, body').animate({ scrollTop: (offset.top - winH / 2) }, 0);
    }
    function myinfo() {
        var offset = $('.companyinfo').offset();
        var winH = $(window).height();
        $('html, body').animate({ scrollTop: (offset.top - winH / 2) }, 0);
    }
    function authCheck() {
        data.uri = '/api/v1/member/checkcode'
        data.code = $('.authcode').val();
        data.Phone = $('.phone').val();
        data.CheckMode = 'CONFIRM'

        $.post("/api/execute", data, function (jqXHR) {
            if (jqXHR.msg == 'SUCCESS') {
                data.auth = 'yes'
                data.ConfirmTel = 'Y'
                // modal('authok', 'ok', 'hide')
                modal('인증에 성공하였습니다.', 'ok', 'hide')
            } else {
                data.auth = 'no'
                // modal('authfail', 'ok', 'hide')
                modal('인증에 실패하였습니다.', 'ok', 'hide')
            }

        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {

            })
            .fail(function (jqXHR) {

            })
            .always(function (jqXHR) {

            });
    }
    function phoneAuth() {
        data.uri = '/api/v1/member/gencode'

        data.smsphone = $('.phone').val();
        $.post("/api/execute", data, function (jqXHR) {

            if (jqXHR.msg == 'SUCCESS') {
                $('.btnauth').html('코드확인')
                $('.btnauth').attr('onclick', 'authCheck()')

                //  modal('sendsuccess', 'ok', 'hide')
                data.auth = 'no'
                modal('인증 번호가 전송되었습니다.', 'ok', 'hide')
            } else {
                //  modal('sendfail', 'ok', 'hide')
                modal('인증 번호 전송에 실패하였습니다.', 'ok', 'hide')
            }

        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {

            })
            .fail(function (jqXHR) {

            })
            .always(function (jqXHR) {

            });


    }
    var checkAuthPhone = function () {
        <% if (sess.ConfirmTel == 'Y') { %>
            
            if ($('.phone').val() == '<%=sess.Phone%>') {
                $('.phoneauth').addClass('invisible')
                data.changephone = 'yes'
            } else {
                $('.phoneauth').removeClass('invisible')
                data.changephone = 'no'
            }
        <%}%>  
    }
    var page = function (str) {
        var chk = new Object();
        chk.valid = "valid"
        // 폼체크 후 페이지 넘어가야 함
        if (str == 'modifyMyinfo') {
            if (!validName($('.name:eq(0)')[0])) {
                chk.valid = "이름이 비었거나 형식이 맞지않습니다."
            }

            if (!validPhone($('.phone:eq(0)')[0])) {
                chk.valid = "휴대폰이 비었거나 형식이 맞지않습니다."
            }
            if ($('.gender').eq(0).hasClass('.selected') || $('.gender').eq(1).hasClass('.selected')) {
                console.log($('.gender').hasClass('.selected').val())
            }
            if (!validBirth(data.Birthday)) {
                chk.Birthday = '<%=sess.Birthday%>'
            }

            if (data.year) {
                if (!data.month) {
                    chk.valid = "월을 입력하세요."
                }
                if (!data.day) {
                    chk.valid = "일을 입력하세요."
                }
            }

            if (data.month) {
                if (!data.year) {
                    chk.valid = "년도를 입력하세요."
                }
                if (!data.day) {
                    chk.valid = "일을 입력하세요."
                }
            }

            if (data.day) {
                if (!data.year) {
                    chk.valid = "년도를 입력하세요."
                }
                if (!data.month) {
                    chk.valid = "달을 입력하세요."
                }
            }

            if (data.auth == 'no') {
                chk.valid = "핸드폰 인증코드를 확인하세요."
            }

            <% if (sess.ConfirmTel == 'Y') { %>
            
            if ($('.phone').val() != '<%=sess.Phone%>') {

                    chk.valid = "핸드폰인증이 필요합니다."
                }
            <%}%>  

            if (chk.valid != 'valid') {
                modal(chk.valid, 'ok', 'hide');
                return;
            } else {

                var send = new Object();

                send.uri = '/api/v1/member/updatememberinfo'


                send.username = '<%=sess.AccountID%>'
                send.Member_ID = '<%=sess.Member_ID%>'
                send.Nickname = '<%=sess.Filepath%>'
                send.MemberIntro = '<%=sess.MemberIntro%>'
                send.Filename = '<%=sess.Filename%>'
                send.Filepath = '<%=sess.Filepath%>'
                send.CoverFilename = '<%=sess.CoverFilename%>'
                send.CoverFilepath = '<%=sess.CoverFilepath%>'


                if (data.ConfirmTel == 'Y')
                    send.ConfirmTel = 'Y'
                else
                    send.ConfirmTel = '<%=sess.ConfirmTel%>'

                send.MemberName = $('.name').val()
                send.Nickname = '<%=sess.Nickname%>'
                send.MemberType_CD = '<%=sess.MemberType_CD%>'
                send.MemberMode_CD = '<%=sess.MemberMode_CD%>'
                send.MemberGrade_CD = '<%=sess.MemberGrade_CD%>'
                send.AuthModeStep = '<%=sess.AuthModeStep%>'




                send.Gender = data.gender
                send.Birthday = data.Birthday
                send.MaritalStatus = '<%=sess.MaritalStatus%>'
                send.Area = '<%=sess.Area%>'
                send.Phone = $('.phone').val()
                send.PhoneEtc = '<%=sess.PhoneEtc%>'
                send.Email = '<%= sess.AccountID %>'
                send.ConfirmEMail = '<%=sess.ConfirmEMail%>'
                send.Addr = '<%=sess.Addr%>'
                send.AddrEtc = '<%=sess.AddrEtc%>'
                send.Postcode = '<%=sess.Postcode%>'
                console.log(send)

                $.post("/api/execute", send, function (jqXHR) {

                    console.log(jqXHR)
                    if (jqXHR.msg == 'SUCCESS') {
                        //modal('변경완료', 'ok', 'move(\'/affiliate/profile/' + send.Member_ID+ '\')' )
                        modal('수정이 완료되었습니다.', 'ok', 'move(\'/affiliate/profile/<%=sess.Member_ID%>\')')
                    } else {
                        modal('예상치못한 오류로 변경에 실패 했습니다.', 'ok', 'move(\'/affiliate/profile/<%=sess.Member_ID%>\')')
                    }

                }, 'json' /* xml, text, script, html */)
                    .done(function (jqXHR) { })
                    .fail(function (jqXHR) { })
                    .always(function (jqXHR) { });

            }

        }

    }
    var selGender = function (gender, val) {

        $('.gender').removeClass('aff');
        $('.gender').removeClass('selected');

        $('.gender').eq(val).addClass('aff');
        $('.gender').eq(val).addClass('selected');

        data.gender = gender

    }


    var selyear = function (year) {
        $('.year').html(year)
        selYear = year;
        $('.year').addClass('pr-2')

        data.year = selYear

        data.Birthday = data.year + '-' + data.month + '-' + data.day
    }

    var selmonth = function (month) {
        if (month < 10) {
            $('.month').html("0" + month)
            selMonth = "0" + month;
        } else {
            $('.month').html(month)
            selMonth = month;
        }
        $('.month').addClass('pr-2')
        data.month = selMonth
        data.Birthday = data.year + '-' + data.month + '-' + data.day
    }

    var selday = function (day) {
        if (day < 10) {
            $('.day').html("0" + day)
            selDay = "0" + day;
        } else {
            $('.day').html(day)
            selDay = day;
        }
        $('.day').addClass('pr-2')
        data.day = selDay
        data.Birthday = data.year + '-' + data.month + '-' + data.day
    }


    for (var i = 2019; i >= 1900; i--) {
        $('.dropdown-menu:eq(0)').append("<a class='dropdown-item' onclick='selyear(" + i + ")'>" + i + "</a>");
    }

    for (var i = 1; i <= 12; i++) {
        if (i < 10) {
            $('.dropdown-menu:eq(1)').append("<a class='dropdown-item' onclick='selmonth(" + i + ")'>" + "0" + i + "</a>");
        } else {
            $('.dropdown-menu:eq(1)').append("<a class='dropdown-item' onclick='selmonth(" + i + ")'>" + i + "</a>");
        }
    }


    for (var i = 1; i <= 31; i++) {
        if (i < 10) {
            $('.dropdown-menu:eq(2)').append("<a class='dropdown-item' onclick='selday(" + i + ")'>" + "0" + i + "</a>");
        } else {
            $('.dropdown-menu:eq(2)').append("<a class='dropdown-item' onclick='selday(" + i + ")'>" + i + "</a>");
        }
    }

    // SNS 정보 불러오기 이병주 
    let SNScnt = parseInt('<%=SNScnt%>')
    var makeSnsList = function() {    
        let html1 = '<div class="col p-0 mt-1 mb-1" style="padding-right:1rem!important; max-width:64px;">'
        let html2 = ''
        let html3 = '</div>'
        let snsInnerHtml = ''
    '<%for(var i = 0; i<SNScnt; i++) {%>'
        html2 = setSnsChannel(0,parseInt('<%=SNSData[i].SNSImgNum%>'),'Y',32)
        html2 = '<a href="<%=SNSData[i].SNSLinkURL%>" target="_blank" >'+html2+'</a>'
        snsInnerHtml =html1+html2+html3
        $(".snsImg<%=i%>").html(snsInnerHtml)
        $(".snsImg<%=i%> span").hide() // 텍스트 제거
    '<% } %>'
        pcresize()
    }

    $(document).ready(function(){
        makeSnsList()
        // pcresize()
    })

</script>