<div class="affiliate fixedbottom store">

    <div class="row px-12">
        <div class="col">
            <p class="subject aff">전체상품 
                <select name="product_category" style="float:right; margin-top:-10px; height:30px;">
                    <option value="all" selected="selected">전체상품</option>
                    <option value="marine_leisure">해양레저</option>
                    <option value="sports_leisure">스포츠레저</option>
                    <option value="restaurant">음식점</option>
                    <option value="cafe">카페</option>
                    <option value="show_display_museum">공연/전시/박물관</option>
                    <option value="horse_riding">승마</option>
                    <option value="fishing">낚시</option>
                    <option value="submarine_cruise">잠수함/유람선</option>
                    <option value="experience">체험</option>
                    <option value="theme_park">테마파크</option>
                    <option value="tour">투어</option>
                    <option value="snapshot">스냅사진</option>
                    <option value="special_product">특산물</option>
                </select>
            </p>
        </div>
    </div>

    <!-- <div class="row m-0 px-12">


        <% for(var i=0; i<storelist[0].length; i++) { %>


        <Div class="col-6 p-2 storelistborder" onclick="">
            <img src="<%= storelist[0][i].Filepath %><%= storelist[0][i].Filename %>" class="img-fluid">
            <p class="text sitem"><%= storelist[0][i].ItemTitle %> </p>
            <p class="text sprice"><%= storelist[0][i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
                <span class="won">원</span>
            </p>
        </Div>

        <%}%>
            
    
    </div> -->

    <div class="row m-0">
        <%  if( storelist[0].length > 0 ) {  %>

        <% for(var i=0; i<storelist[0].length; i++) { %>
        <% if(storelist[0][i].Exposure == 'Y') { %>

        <% if(storelist[0][i].ItemType_CD == 'DCO') {
                var ItemType_CD = '할인쿠폰'
                var color = 'yellow'
            } else if(storelist[0][i].ItemType_CD == 'DVO'){
                 var ItemType_CD = '할인상품'
                 var color = 'cyan'                      
            }else if(storelist[0][i].ItemType_CD == 'DCA'){
                var ItemType_CD = '예약상품'
                var color = 'green'
            }else if(storelist[0][i].ItemType_CD == 'DTC'){
                var ItemType_CD = '예약상품'
                var color = 'green'
            }else if(storelist[0][i].ItemType_CD == 'ATR'){
                var ItemType_CD = '예약상품'
                var color = 'green'
            }else if(storelist[0][i].ItemType_CD == 'FDE'){
                var ItemType_CD = '신선배송'
                var color = 'purple'
            }else if(storelist[0][i].ItemType_CD == 'DEL'){
                var ItemType_CD = '일반배송'
                var color = 'purple'
            }                                        
        %>

        <Div class="col-6 p-2 storelistborder"
            onclick="move('/affiliate/store/detail/?id=<%= storelist[0][i].Item_ID %>&Contract_ID=<%= storelist[0][i].Contract_ID %>');setRedirect('/affiliate/profile/<%=id%>',0)">

            <img src="<%= storelist[0][i].Filepath %><%= storelist[0][i].Filename %>" class="img-fluid">

            <div class="row m-0 p-0" style="height:20px;">
                <div class="col col-40 m-0 p-0">
                    <span class="icon type s-60 mr-1 <%= color%>" style="width: 60px; height: 16px; padding-top: 8px;">
                        type<span class="title"><%= ItemType_CD%></span>
                    </span>
                </div>
                <div class="col col-60 p-0">
                    <p class="text float-right m-0 p-0 mt-1"
                        style="color:#777777; font-size:11px; margin-top:-3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <%= storelist[0][i].SupNickname %> </p>
                </div>
            </div>
            <div class="row m-0 p-0">
                <p class="text sitem m-0 p-0 mt-2"><%= storelist[0][i].ItemTitle %> </p>
            </div>

            <div class="row m-0 p-0">
                <div class="col p-0" style="margin-top: -4px;">
                    <span class="won_profile" style="margin-top: -2px;">중개수수료</span>
                </div>
                <span class="text aff commission_profile float-right">

                    <%= storelist[0][i].Commission.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                    원
                </span>
            </div>

            <div class="row m-0 p-0">
                <div class="col p-0" style="margin-top: -4px;">
                    <span class="won_profile" style="margin-top: -2px;">판매가</span>
                </div>
                <span class="text aff sprice_profile float-right">
                    <%= storelist[0][i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                    원
                    <!-- <span class="won">
                            <% if(storelist[0][i].SalePrice == 0) {%>
                            <%} else {%>
                            (
                            <% if (isNaN(parseInt(100 - ( storelist[0][i].SalePrice / ( storelist[0][i].MarketPrice / 100 )) ))) {%>
                            0%
                            <%} else {%>
                            <%= parseInt(100 - ( storelist[0][i].SalePrice / ( storelist[0][i].MarketPrice / 100 )))%>%
                            <%}%>
                                    )
                                    <%}%>
                        </span> -->
                </span>
            </div>

        </Div>
        <%}%>
            <%}%>
        <%}else{%>
        <Div class="col" onclick="">
            <div class="col text joininfo noitem text-center mt-5">
                <img src="/img/noitem.png">
                <input type="text " class="form-control text joininfo noitem text-center" value="등록 상품이 없습니다." disabled>
            </div>
        </Div>

        <%}%>
    </div>
    



</div>