
<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../../../common/require/head %>
    <Style>
        html,body{
            width: 100%;
            height: 100%;
        }
    </Style>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script src="/js/pay.js"></script>
    <script src="/js/kakaoPay.js"></script>
    <script>
        history.pushState(null, null, location.href)
        window.onpageshow = function (event) {
            if ( event.persisted || (window.performance && window.performance.navigation.type === 2)){
                location.replace('/')
            }
        }
    </script>
</head>
<body>

<% if(thismode == "user") {%>
    <% include ../../../common/require/topnav_usr %>
<%}else if(thismode == "affiliate"){%>
    <% include ../../../common/require/topnav_aff %>
<%}else if(thismode == "supplier"){%>
    <% include ../../../common/require/topnav_sup %>
<%}%>

<% if (itempayinfo[0].ItemType_CD == 'DTC' || itempayinfo[0].ItemType_CD == 'DCA' || itempayinfo[0].ItemType_CD == 'ATR') { %>
    <% include ./components/purchase %>
        <% include ./components/reserve %>
            <% include ./components/payment %>
<%} else if (itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE') {%>
    <% include ./components/purchase %>
        <% include ./components/order %>
            <% include ./components/payment %>
<%} else {%>
    <% include ./components/purchase %>
        <% include ./components/payment %>
<%}%>

<% include ./components/calendar %>
<% include ./components/search %>

<% include ../../../common/require/modal %>
<% include ../../../common/require/foot %>

<% if(thismode == "user" && isbottomnav) {%>
    <% include ../../../common/require/bottomnav_usr %>
<%}else if(thismode == "affiliate" && isbottomnav){%>
    <% include ../../../common/require/bottomnav_aff %>
<%}else if(thismode == "supplier" && isbottomnav){%>
    <% include ../../../common/require/bottomnav_sup %>
<%}%>

<% include ./components/script %>

</body>
</html>