<div class="afflilate myprofile">
    <!-- <div class="top h-50">
        <div class="noimg"><img src="<%= sess.CoverFilepath %><%= sess.CoverFilename %>" class="w-100 h-100" ></div>
    </div>
    <div class="bottom h-50 ">
        <div class="row m-0">
            <div class="col p-0">
                <div class="row m-0 w-100 info ">
                    <div class="col p-0 text-center justify-content-center align-self-center ">
                        <div class="row m-0 h-100 mt-1 invisible">
                            <div class="col p-0 justify-content-center align-self-center d-flex ">
                                <div class="wish aff">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center">위시리스트</p>

                                </div>
                                <div class="wishcount aff">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center pb-1">13</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-img p-0 text-center  ">
                            <img src="<%= sess.Filepath %><%= sess.Filename %>" class="w-100 h-100 rounded-circle" style="background: #ffffff;" onclick="move('/affiliate/profile/modify/intro')">
                     
                    </div>
                    <div class="col p-0 text-center justify-content-center align-self-center ">
                        <div class="row m-0 h-100 mt-1 invisible">
                            <div class="col p-0 justify-content-center align-self-center d-flex ">
                                <div class="wish ">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center">위시리스트</p>

                                </div>
                                <div class="wishcount ">
                                    <p class="d-inline-block m-0 justify-content-center align-self-center pb-1">13</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <div class="menu">
        <ul class="showstore">

            <div class="aff showstore-op m-0 border-bottom">
                <div class="top h-50">
                    <div class="noimg"><img src="<%= info.CoverFilepath %><%= info.CoverFilename %>" class="w-100" style="max-height:275px;"></div>
                </div>
                <div class="bottom h-50 ">
                    <div class="row m-0">
                        <div class="col p-0">
                            <div class="row m-0 w-100 info ">
                                <div class="col"></div>
                                <div class="col col-img p-0 text-center  ">
                                    <%  let dirmode = 'afflilate'  
                                        if (sess.MemberMode_CD == 'SUP') {
                                            dirmode = 'supplier'
                                        } 
                                    %>
                                    <img src="<%= info.Filepath %><%= info.Filename %>" style="background: #ffffff;" class="w-100 h-100 rounded-circle" onclick="move('/<%=dirmode%>/profile/<%= id %>')">
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 h-100">
                        <div class="col p-0 justify-content-center align-self-center mt-5">
                            <div class="row m-0 ">
                                <div class="col col-2 p-0"></div>
                                <div class="col p-0 text-center">
                                    <p class="p-0 m-0 name "><%= info.Nickname %></p>
                                </div>
                                <div class="col col-2 p-0"></div>
                            </div>
            
                            <div class="row m-0 justify-content-center align-self-center mr-3 ml-3 mb-3 mt-1">
                                <p class="subtitle p-0 m-0 " style="text-align:center; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; line-height:1.2em; display:-webkit-box;">
                                    <span style="font-size: 13px; letter-spacing: -0.025rem; display: inline-block;"><%= info.MemberIntro %></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>

<!--    <div class="menu">-->
<!--        <ul class="mypage">-->
<!--            <li class="aff mypage-op m-0">-->

<!--                <div class="row m-0 p-12" style="border-bottom: 1.25px solid #0293d1;">-->
<!--                    <div class="col col-img p-0">-->
<!--                        <img src="<%= info.Filepath %><%= info.Filename %>" style="background:#ffffff" onclick="move('/affiliate/profile/<%= id %>')">-->
<!--                    </div>-->
<!--                    <div class="col p-0 justify-content-center align-self-center" style="display: grid;">-->
<!--                        <p class="title m-0 mb-2"><%= info.Nickname %></p>-->
<!--                        <p class="subtitle m-0"-->
<!--                           style="overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1em;max-height: 2em;display: -webkit-box;">-->
<!--                            <%= info.MemberIntro %></p>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

    <!-- <div class="menu">
            <ul class="mypage">
                <li class="aff mypage m-0">
                    <div class="row m-0 p-12">
                        <div class="col col-img p-0">
                            <img src="<%= sess.Filepath %><%= sess.Filename %>" style="background:#ffffff">
                        </div>
                        <div class="col p-0 justify-content-center align-self-center" style="display: gird;">                                                        
                            <p class="name m-0 mb-2"><%= info.Nickname %></p>
                            <p class="name m-0" style="overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1em;max-height: 2em;display: -webkit-box;"><%= info.MemberIntro %></p>
                        </div>   
                        
                    </div>
    
                </li>
                
            </ul>
        </div>
        <div class="row m-0">
          
            <div class="col p-0 justify-content-center align-self-center"> -->
    <!-- <div class="row m-0 ">
                    <div class="col-1 p-0"></div>
                    <div class="col p-0 text-center">
                        <p class="text mynick"><%= sess.Nickname %></p>
                    </div>
                    <div class="col-1 p-0"></div>
                </div>

       -->

    <!-- <div class="row m-0 mt-4">
                    <Div class="col p-0 px-3">
                        <p class="text introrow text-center"><%= sess.MemberIntro %></p>
                    </Div>
                </div> -->

    <!-- <div class="row m-0 mt-4 px-12 justify-content-center align-self-center">
                    <div class="col p-0"></div>
               
                    <div class="col col-iconbox p-0 mr-4" onclick="move('/affiliate/profile/modify/intro', true); setRedirect('/affiliate/profile/<%= id %>',2)">
                        <div class="iconbox p-3">
                            <span class="icon s-30">modifymy</span>
                        </div>
                        <p class="text icondesc">프로필수정</p>
                    </div>
                        
                    <div class="col col-iconbox p-0 mr-4" onclick="myinfo()">
                        <div class="iconbox p-3">
                            <span class="icon s-30">userinfo</span>
                        </div>
                        <p class="text icondesc text-center">회원정보</p>
                    </div>
                    
                    <div class="col col-iconbox  p-0" onclick="store()">
                        <div class="iconbox p-3 ">
                            <span class="icon s-30">store</span>
                        </div>
                        <p class="text icondesc text-center">스토어</p>
                    </div>

                    <div class="col p-0"></div>
                </div>
            </div>
        </div>

    </div> -->

</div>