
<script>

    const modifyMyinfo = document.querySelectorAll('modifyMyinfo');
    var readonly = document.querySelectorAll('input[readonly]')[0];
    const gender = document.getElementsByName('gender');

    // readonly.style.backgroundColor = '#ffffff';

    // (20210618 유효경 추가) 제휴신청 철회
    var cancelfff = function (id) {
        var data = new Object();
        data.uri = '/api/v1/member/updatefriend'
        data.FriendType_CD = 'AFF'
        data.Member_ID = parseInt('<%= sess.Member_ID %>')
        data.Member_FID = id
        // data.MemberFriendReq_ID = reqid
        // data.MemberFriendReq_FID = reqid2

        // (20210618 유효경 추가) 제휴신청을 거절하는 값이지만, 임시로 제휴신청 철회에서 사용
        data.FriendStatus_CD = 'DEN'
        data.username = '<%=sess.AccountID%>'
    
        $.post("/api/execute", data, function (jqXHR) {
            console.log(jqXHR)

            if (jqXHR.msg == 'SUCCESS') {
                modal('제휴신청이 철회되었습니다.', 'ok', 'move(\'/supplier/partner/\')');
                // 알람 레거시 코드 주석처리 20210325 이병주 (알림)
                // data.event = 'newalarm'
                // ws.send(JSON.stringify(data));
            } else {
                modal('제휴신청 철회가 실패되었습니다.', 'ok', 'hide')
            }

        }, 'json' /* xml, text, script, html */)
        
        .done(function (jqXHR) { })
        .fail(function (jqXHR) { })
        .always(function (jqXHR) { });
  }

    var data = new Object();
    var id = 1;
    data.gender = '<%= sess.Gender %>'
    data.auth = 'yes'
    data.changephone = 'no'
    '<% if (sess.Birthday && sess.Birthday != "") { %>'
    data.year = '<%= sess.Birthday.substr(0, 4) %>'
    data.month = '<%= sess.Birthday.substr(5, 2) %>'
    data.day = '<%= sess.Birthday.substr(8, 2) %>'
    data.Birthday = data.year + '-' + data.month + '-' + data.day
    '<% } else { %>'
    data.Birthday = ''
    '<% } %>'


    var validName = function (obj) {
        if (checkName(obj)) {
            $('.nvname').addClass('invisible');
            return true
        } else {
            $('.nvname').removeClass('invisible');
            return false
        }
    }

    var validPhone = function (obj) {
        if (phoneCheck(obj)) {
            $('.nvphone').addClass('invisible');
            return true
        } else {
            $('.nvphone').removeClass('invisible');
            return false
        }
    }

    var validGender = function () {
        for (var i = 0; i < gender.length; i++) {
            if (!$(gender).hasClass('selected')) {
                $('.nvgender').removeClass('invisible')
            } else {
                $('.nvgender').addClass('invisible')
            }
        }
    }

    var validBirth = function () {

        if ($('.year').html() == '미입력') {
            $('.nvbirth').removeClass('invisible')
        } else if ($('.month').html() == '미입력') {
            $('.nvbirth').removeClass('invisible')
        } else if ($('.day').html() == '미입력') {
            $('.nvbirth').removeClass('invisible')
        } else {
            $('.nvbirth').addClass('invisible')
        }
    }


    function store() {
        var offset = $('.store').offset();
        var winH = $(window).height();
        $('html, body').animate({scrollTop: (offset.top - winH / 2)}, 0);
    }

    function myinfo() {
        var offset = $('.companyinfo').offset();
        var winH = $(window).height();
        $('html, body').animate({scrollTop: (offset.top - winH / 2)}, 0);
    }

    function authCheck() {
        data.uri = '/api/v1/member/checkcode'
        data.code = $('.authcode').val();
        data.Phone = $('.phone').val();
        data.CheckMode = 'CONFIRM'

        $.post("/api/execute", data, function (jqXHR) {
            if (jqXHR.msg == 'SUCCESS') {
                data.auth = 'yes'
                data.ConfirmTel = 'Y'
                // modal('authok', 'ok', 'hide')
                modal('인증에 성공하였습니다.', 'ok', 'hide')
            } else {
                data.auth = 'no'
                // modal('authfail', 'ok', 'hide')
                modal('인증에 실패하였습니다.', 'ok', 'hide')
            }


        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {

            })
            .fail(function (jqXHR) {

            })
            .always(function (jqXHR) {

            });
    }

    function phoneAuth() {
        data.uri = '/api/v1/member/gencode'

        data.smsphone = $('.phone').val();
        $.post("/api/execute", data, function (jqXHR) {

            if (jqXHR.msg == 'SUCCESS') {
                $('.btnauth').html('코드확인')
                $('.btnauth').attr('onclick', 'authCheck()')

                //  modal('sendsuccess', 'ok', 'hide')
                data.auth = 'no'
                modal('인증 번호가 전송되었습니다.', 'ok', 'hide')
            } else {
                //  modal('sendfail', 'ok', 'hide')
                modal('인증 번호 전송에 실패하였습니다.', 'ok', 'hide')
            }

        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {

            })
            .fail(function (jqXHR) {

            })
            .always(function (jqXHR) {

            });


    }

    var checkAuthPhone = function () {
        '<% if (sess.ConfirmTel == "Y") { %>'

        if ($('.phone').val() == '<%= sess.Phone %>') {
            $('.phoneauth').addClass('invisible')
            data.changephone = 'yes'
        } else {
            $('.phoneauth').removeClass('invisible')
            data.changephone = 'no'
        }
        '<% } %>'
    }
    
    var page = function (str) {
        var chk = new Object();
        chk.valid = "valid"
        // 폼체크 후 페이지 넘어가야 함
        if (str == 'modifyMyinfo') {
            if (!validName($('.name:eq(0)')[0])) {
                chk.valid = "이름이 비었거나 형식이 맞지않습니다."
            }

            if (!validPhone($('.phone:eq(0)')[0])) {
                chk.valid = "휴대폰이 비었거나 형식이 맞지않습니다."
            }
            if ($('.gender').eq(0).hasClass('.selected') || $('.gender').eq(1).hasClass('.selected')) {
                console.log($('.gender').hasClass('.selected').val())
            }
            if (!validBirth(data.Birthday)) {
                chk.Birthday = '<%= sess.Birthday %>'
            }

            if (data.year) {
                if (!data.month) {
                    chk.valid = "월을 입력하세요."
                }
                if (!data.day) {
                    chk.valid = "일을 입력하세요."
                }
            }

            if (data.month) {
                if (!data.year) {
                    chk.valid = "년도를 입력하세요."
                }
                if (!data.day) {
                    chk.valid = "일을 입력하세요."
                }
            }

            if (data.day) {
                if (!data.year) {
                    chk.valid = "년도를 입력하세요."
                }
                if (!data.month) {
                    chk.valid = "달을 입력하세요."
                }
            }

            if (data.auth == 'no') {
                chk.valid = "핸드폰 인증코드를 확인하세요."
            }

            '<% if ( sess.ConfirmTel == "Y" ) { %>'

            if ($('.phone').val() != '<%= sess.Phone %>') {

                chk.valid = "핸드폰인증이 필요합니다."
            }
            '<% } %>'

            if (chk.valid != 'valid') {
                modal(chk.valid, 'ok', 'hide');
                return;
            } else {

                var send = new Object();

                send.uri = '/api/v1/member/updatememberinfo'


                send.username = '<%= sess.AccountID %>'
                send.Member_ID = parseInt('<%= sess.Member_ID %>')
                send.Nickname = '<%= sess.Filepath %>'
                send.MemberIntro = '<%= sess.MemberIntro %>'
                send.Filename = '<%= sess.Filename %>'
                send.Filepath = '<%= sess.Filepath %>'
                send.CoverFilename = '<%= sess.CoverFilename %>'
                send.CoverFilepath = '<%= sess.CoverFilepath %>'


                if (data.ConfirmTel == 'Y')
                    send.ConfirmTel = 'Y'
                else
                    send.ConfirmTel = '<%= sess.ConfirmTel %>'

                send.MemberName = $('.name').val()
                send.Nickname = '<%= sess.Nickname %>'
                send.MemberType_CD = '<%= sess.MemberType_CD %>'
                send.MemberMode_CD = '<%= sess.MemberMode_CD %>'
                send.MemberGrade_CD = '<%= sess.MemberGrade_CD %>'
                send.AuthModeStep = '<%= sess.AuthModeStep %>'


                send.Gender = data.gender
                send.Birthday = data.Birthday
                send.MaritalStatus = '<%= sess.MaritalStatus %>'
                send.Area = '<%= sess.Area %>'
                send.Phone = $('.phone').val()
                send.PhoneEtc = '<%= sess.PhoneEtc %>'
                send.Email = '<%= sess.AccountID %>'
                send.ConfirmEMail = '<%= sess.ConfirmEMail %>'
                send.Addr = '<%= sess.Addr %>'
                send.AddrEtc = '<%= sess.AddrEtc %>'
                send.Postcode = '<%= sess.Postcode %>'
                console.log(send)

                $.post("/api/execute", send, function (jqXHR) {

                    console.log(jqXHR)
                    if (jqXHR.msg == 'SUCCESS') {
                        //modal('변경완료', 'ok', 'move(\'/affiliate/profile/' + send.Member_ID+ '\')' )
                        modal('수정이 완료되었습니다.', 'ok', 'move(\'/affiliate/profile/<%= sess.Member_ID %>\')')
                    } else {
                        modal('예상치못한 오류로 변경에 실패 했습니다.', 'ok', 'move(\'/affiliate/profile/<%= sess.Member_ID %>\')')
                    }

                }, 'json' /* xml, text, script, html */)
                    .done(function (jqXHR) {
                    })
                    .fail(function (jqXHR) {
                    })
                    .always(function (jqXHR) {
                    });

            }
        }
    }
    var selGender = function (gender, val) {

        $('.gender').removeClass('aff');
        $('.gender').removeClass('selected');

        $('.gender').eq(val).addClass('aff');
        $('.gender').eq(val).addClass('selected');

        data.gender = gender;
    }

    var selyear = function (year) {
        $('.year').html(year)
        selYear = year;
        $('.year').addClass('pr-2')

        data.year = selYear
        data.Birthday = data.year + '-' + data.month + '-' + data.day
    }

    var selmonth = function (month) {
        if (month < 10) {
            $('.month').html("0" + month)
            selMonth = "0" + month;
        } else {
            $('.month').html(month)
            selMonth = month;
        }
        $('.month').addClass('pr-2')
        data.month = selMonth
        data.Birthday = data.year + '-' + data.month + '-' + data.day
    }

    var selday = function (day) {
        if (day < 10) {
            $('.day').html("0" + day)
            selDay = "0" + day;
        } else {
            $('.day').html(day)
            selDay = day;
        }
        $('.day').addClass('pr-2')
        data.day = selDay
        data.Birthday = data.year + '-' + data.month + '-' + data.day
    }

    // 더보기 버튼 클릭 했을 때
    var showMore = function (itemName, itemNum) {
        if (itemName == 'marine_leisure_item') {
            $('#marine_leisure_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_marine_leisure_item").hide();
        } else if (itemName == 'sports_leisure_item') {
            $('#sports_leisure_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_sports_leisure_item").hide();
        } else if (itemName == 'horse_riding_item') {
            $('#horse_riding_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_horse_riding_item").hide();
        } else if (itemName == 'fishing_item') {
            $('#fishing_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_fishing_item").hide();
        } else if (itemName == 'show_display_museum_item') {
            $('#show_display_museum_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_show_display_museum_item").hide();
        } else if (itemName == 'submarine_cruise_item') {
            $('#submarine_cruise_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_submarine_cruise_item").hide();
        } else if (itemName == 'experience_item') {
            $('#experience_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_experience_item").hide();
        } else if (itemName == 'theme_park_item') {
            $('#theme_park_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_theme_park_item").hide();
        } else if (itemName == 'tour_item') {
            $('#tour_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_tour_item").hide();
        } else if (itemName == 'snapshot_item') {
            $('#snapshot_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_snapshot_item").hide();
        } else if (itemName == 'special_product_item') {
            $('#special_product_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_special_product_item").hide();
        } else if (itemName == 'kids_item') {
            $('#kids_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_kids_item").hide();
        } else if (itemName == 'restaurant_item') {
            $('#restaurant_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_restaurant_item").hide();
        } else if (itemName == 'cafe_item') {
            $('#cafe_content').find('div.showstore').nextAll().addClass("showstore").show();
            $(".showmore_cafe_item").hide();
        }
    }

    // 더보기 버튼 클릭 했을 때 (API Call 사용 시)
    var showMoreAPI = function (ItemCategory_CD, StartNum, EndNum) {
        var data = new Object();
        data.uri = '/api/v1/affiliate/storelist';
        data.Member_ID = parseInt('<%= id %>');
        data.Status = 'VAL';
        data.Offsetstart = StartNum;
        data.Offsetend = EndNum;
        data.ItemCategory_CD = ItemCategory_CD;

        $.post("/api/execute", data, function (jqXHR) {

            for (var i = 0; i < jqXHR.result[0].length; i++) {
                console.log(jqXHR.result[0][i]);

            }

        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {
            })
            .fail(function (jqXHR) {
            })
            .always(function (jqXHR) {
            });
    }

    // 카테고리 영역 클릭 시 아이템 보여주기/숨기기
    var clickItemCategory = function (itemName) {
        if (itemName == 'marine_leisure_item') {
            if ($('#marine_leisure_show').html() == 'bottom_s') { //아이템 보여주기
                $('#marine_leisure_show').html('top_s');
                $('#marine_leisure_content').find('div.showstore').show();
                $('.showmore_marine_leisure_item').parent().find('div.showstore').show();
            } else {
                $('#marine_leisure_show').html('bottom_s');
                $('#marine_leisure_content').find('div.showstore').hide();
                $('.showmore_marine_leisure_item').hide();
            }
        } else if (itemName == 'sports_leisure_item') {
            if ($('#sports_leisure_show').html() == 'bottom_s') { //아이템 보여주기
                $('#sports_leisure_show').html('top_s');
                $('#sports_leisure_content').find('div.showstore').show();
                $('.showmore_sports_leisure_item').parent().find('div.showstore').show();
            } else {
                $('#sports_leisure_show').html('bottom_s');
                $('#sports_leisure_content').find('div.showstore').hide();
                $('.showmore_sports_leisure_item').hide();
            }
        } else if (itemName == 'horse_riding_item') { //아이템 보여주기
            if ($('#horse_riding_show').html() == 'bottom_s') {
                $('#horse_riding_show').html('top_s');
                $('#horse_riding_content').find('div.showstore').show();
                $('.showmore_horse_riding_item').parent().find('div.showstore').show();
            } else {
                $('#horse_riding_show').html('bottom_s');
                $('#horse_riding_content').find('div.showstore').hide();
                $('.showmore_horse_riding_item').hide();
            }
        } else if (itemName == 'fishing_item') {
            if ($('#fishing_show').html() == 'bottom_s') { //아이템 보여주기
                $('#fishing_show').html('top_s');
                $('#fishing_content').find('div.showstore').show();
                $('.showmore_fishing_item').parent().find('div.showstore').show();
            } else {
                $('#fishing_show').html('bottom_s')
                $('#fishing_content').find('div.showstore').hide();
                $('.showmore_fishing_item').hide();
            }
        } else if (itemName == 'show_display_museum_item') {
            if ($('#show_display_museum_show').html() == 'bottom_s') { //아이템 보여주기
                $('#show_display_museum_show').html('top_s');
                $('#show_display_museum_content').find('div.showstore').show();
                $('.showmore_show_display_museum_item').parent().find('div.showstore').show();
            } else {
                $('#show_display_museum_show').html('bottom_s');
                $('#show_display_museum_content').find('div.showstore').hide();
                $('.showmore_show_display_museum_item').hide();
            }
        } else if (itemName == 'submarine_cruise_item') {
            if ($('#submarine_cruise_show').html() == 'bottom_s') { //아이템 보여주기
                $('#submarine_cruise_show').html('top_s');
                $('#submarine_cruise_content').find('div.showstore').show();
                $('.showmore_submarine_cruise_item').parent().find('div.showstore').show();
            } else {
                $('#submarine_cruise_show').html('bottom_s');
                $('#submarine_cruise_content').find('div.showstore').hide();
                $('.showmore_submarine_cruise_item').hide();
            }
        } else if (itemName == 'experience_item') {
            if ($('#experience_show').html() == 'bottom_s') { //아이템 보여주기
                $('#experience_show').html('top_s');
                $('#experience_content').find('div.showstore').show();
                $('.showmore_experience_item').parent().find('div.showstore').show();
            } else {
                $('#experience_show').html('bottom_s');
                $('#experience_content').find('div.showstore').hide();
                $('.showmore_experience_item').hide();
            }
        } else if (itemName == 'theme_park_item') {
            if ($('#theme_park_show').html() == 'bottom_s') { //아이템 보여주기
                $('#theme_park_show').html('top_s');
                $('#theme_park_content').find('div.showstore').show();
                $('.showmore_theme_park_item').parent().find('div.showstore').show();
            } else {
                $('#theme_park_show').html('bottom_s');
                $('#theme_park_content').find('div.showstore').hide();
                $('.showmore_theme_park_item').hide();
            }
        } else if (itemName == 'tour_item') {
            if ($('#tour_show').html() == 'bottom_s') { //아이템 보여주기
                $('#tour_show').html('top_s');
                $('#tour_content').find('div.showstore').show();
                $('.showmore_tour_item').parent().find('div.showstore').show();
            } else {
                $('#tour_show').html('bottom_s');
                $('#tour_content').find('div.showstore').hide();
                $('.showmore_tour_show_item').hide();
            }
        } else if (itemName == 'snapshot_item') {
            if ($('#snapshot_show').html() == 'bottom_s') { //아이템 보여주기
                $('#snapshot_show').html('top_s');
                $('#snapshot_content').find('div.showstore').show();
                $('.showmore_snapshot_item').parent().find('div.showstore').show();
            } else {
                $('#snapshot_show').html('bottom_s');
                $('#snapshot_content').find('div.showstore').hide();
                $('.showmore_snapshot_item').hide();
            }
        } else if (itemName == 'special_product_item') {
            if ($('#special_product_show').html() == 'bottom_s') { //아이템 보여주기
                $('#special_product_show').html('top_s');
                $('#special_product_content').find('div.showstore').show();
                $('.showmore_special_product_item').parent().find('div.showstore').show();
            } else {
                $('#special_product_show').html('bottom_s');
                $('#special_product_content').find('div.showstore').hide();
                $('.showmore_special_product_item').hide();
            }
        } else if (itemName == 'kids_item') {
            if ($('#kids_show').html() == 'bottom_s') { //아이템 보여주기
                $('#kids_show').html('top_s');
                $('#kids_content').find('div.showstore').show();
                $('.showmore_kids_item').parent().find('div.showstore').show();
            } else {
                $('#kids_show').html('bottom_s');
                $('#kids_content').find('div.showstore').hide();
                $('.showmore_kids_item').hide();
            }
        } else if (itemName == 'restaurant_item') {
            if ($('#restaurant_show').html() == 'bottom_s') { //아이템 보여주기
                $('#restaurant_show').html('top_s');
                $('#restaurant_content').find('div.showstore').show();
                $('.showmore_restaurant_item').parent().find('div.showstore').show();
            } else {
                $('#restaurant_show').html('bottom_s');
                $('#restaurant_content').find('div.showstore').hide();
                $('.showmore_restaurant_item').hide();
            }
        } else if (itemName == 'cafe_item') {
            if ($('#cafe_show').html() == 'bottom_s') { //아이템 보여주기
                $('#cafe_show').html('top_s');
                $('#cafe_content').find('div.showstore').show();
                $('.showmore_cafe_item').parent().find('div.showstore').show();
            } else {
                $('#cafe_show').html('bottom_s');
                $('#cafe_content').find('div.showstore').hide();
                $('.showmore_cafe_item').hide();
            }
        }
    }

    for (var i = 2019; i >= 1900; i--) {
        $('.dropdown-menu:eq(0)').append("<a class='dropdown-item' onclick='selyear(" + i + ")'>" + i + "</a>");
    }

    for (var i = 1; i <= 12; i++) {
        if (i < 10) {
            $('.dropdown-menu:eq(1)').append("<a class='dropdown-item' onclick='selmonth(" + i + ")'>" + "0" + i + "</a>");
        } else {
            $('.dropdown-menu:eq(1)').append("<a class='dropdown-item' onclick='selmonth(" + i + ")'>" + i + "</a>");
        }
    }


    for (var i = 1; i <= 31; i++) {
        if (i < 10) {
            $('.dropdown-menu:eq(2)').append("<a class='dropdown-item' onclick='selday(" + i + ")'>" + "0" + i + "</a>");
        } else {
            $('.dropdown-menu:eq(2)').append("<a class='dropdown-item' onclick='selday(" + i + ")'>" + i + "</a>");
        }
    }

    console.log('Member_ID = <%= sess.Member_ID %>');

    // 카테고리 SelectBox 선택 시 선택된 아이템만 보여주기
    $(function () {
        $('#product_category').change(function () {
            if (this.value == 'all') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").show();
                    $(".noitem").hide();
                    if ($('#marine_leisure_show').html() == 'bottom_s') {
                        $('.marine_leisure_item').toggle();
                        $('#marine_leisure_show').html('top_s')
                    }
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").show();
                    $(".noitem").hide();
                    if ($('#sports_leisure_show').html() == 'bottom_s') {
                        $('.sports_leisure_item').toggle();
                        $('#sports_leisure_show').html('top_s')
                    }
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").show();
                    $(".noitem").hide();
                    if ($('#horse_riding_show').html() == 'bottom_s') {
                        $('.horse_riding_item').toggle();
                        $('#horse_riding_show').html('top_s')
                    }
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").show();
                    $(".noitem").hide();
                    if ($('#fishing_show').html() == 'bottom_s') {
                        $('.fishing_item').toggle();
                        $('#fishing_show').html('top_s')
                    }
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").show();
                    $(".noitem").hide();
                    if ($('#show_display_museum_show').html() == 'bottom_s') {
                        $('.show_display_museum_item').toggle();
                        $('#show_display_museum_show').html('top_s')
                    }
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").show();
                    $(".noitem").hide();
                    if ($('#submarine_cruise_show').html() == 'bottom_s') {
                        $('.submarine_cruise_item').toggle();
                        $('#submarine_cruise_show').html('top_s')
                    }
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").show();
                    $(".noitem").hide();
                    if ($('#experience_show').html() == 'bottom_s') {
                        $('.experience_item').toggle();
                        $('#experience_show').html('top_s')
                    }
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").show();
                    $(".noitem").hide();
                    if ($('#theme_park_show').html() == 'bottom_s') {
                        $('.theme_park_item').toggle();
                        $('#theme_park_show').html('top_s')
                    }
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").show();
                    $(".noitem").hide();
                    if ($('#tour_show').html() == 'bottom_s') {
                        $('.tour_item').toggle();
                        $('#tour_show').html('top_s')
                    }
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").show();
                    $(".noitem").hide();
                    if ($('#snapshot_show').html() == 'bottom_s') {
                        $('.snapshot_item').toggle();
                        $('#snapshot_show').html('top_s')
                    }
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").show();
                    $(".noitem").hide();
                    if ($('#special_product_show').html() == 'bottom_s') {
                        $('.special_product_item').toggle();
                        $('#special_product_show').html('top_s')
                    }
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                    $(".noitem").hide();
                    if ($('#kids_show').html() == 'bottom_s') {
                        $('.kids_item').toggle();
                        $('#kids_show').html('top_s')
                    }
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").show();
                    $(".noitem").hide();
                    if ($('#restaurant_show').html() == 'bottom_s') {
                        $('.restaurant_item').toggle();
                        $('#restaurant_show').html('top_s')
                    }
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").show();
                    $(".noitem").hide();
                    if ($('#cafe_show').html() == 'bottom_s') {
                        $('.cafe_item').toggle();
                        $('#cafe_show').html('top_s')
                    }
                }
            } else if (this.value == 'marine_leisure') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").show();
                    $(".noitem").hide();
                    if ($('#marine_leisure_show').html() == 'bottom_s') {
                        $('.marine_leisure_item').toggle();
                        $('#marine_leisure_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'sports_leisure') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").show();
                    $(".noitem").hide();
                    if ($('#sports_leisure_show').html() == 'bottom_s') {
                        $('.sports_leisure_item').toggle();
                        $('#sports_leisure_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'horse_riding') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").show();
                    $(".noitem").hide();
                    if ($('#horse_riding_show').html() == 'bottom_s') {
                        $('.horse_riding_item').toggle();
                        $('#horse_riding_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'fishing') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").show();
                    $(".noitem").hide();
                    if ($('#fishing_show').html() == 'bottom_s') {
                        $('.fishing_item').toggle();
                        $('#fishing_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'show_display_museum') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").show();
                    $(".noitem").hide();
                    if ($('#show_display_museum_show').html() == 'bottom_s') {
                        $('.show_display_museum_item').toggle();
                        $('#show_display_museum_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'submarine_cruise') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").show();
                    $(".noitem").hide();
                    if ($('#submarine_cruise_show').html() == 'bottom_s') {
                        $('.submarine_cruise_item').toggle();
                        $('#submarine_cruise_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'experience') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").show();
                    $(".noitem").hide();
                    if ($('#experience_show').html() == 'bottom_s') {
                        $('.experience_item').toggle();
                        $('#experience_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'theme_park') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").show();
                    $(".noitem").hide();
                    if ($('#theme_park_show').html() == 'bottom_s') {
                        $('.theme_park_item').toggle();
                        $('#theme_park_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'tour') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").show();
                    $(".noitem").hide();
                    if ($('#tour_show').html() == 'bottom_s') {
                        $('.tour_item').toggle();
                        $('#tour_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'snapshot') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").show();
                    $(".noitem").hide();
                    if ($('#snapshot_show').html() == 'bottom_s') {
                        $('.snapshot_item').toggle();
                        $('#snapshot_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'special_product') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").show();
                    $(".noitem").hide();
                    if ($('#special_product_show').html() == 'bottom_s') {
                        $('.special_product_item').toggle();
                        $('#special_product_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'kids') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").show();
                    $(".noitem").hide();
                    if ($('#kids_show').html() == 'bottom_s') {
                        $('.kids_item').toggle();
                        $('#kids_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'restaurant') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").show();
                    $(".noitem").hide();
                    if ($('#restaurant_show').html() == 'bottom_s') {
                        $('.restaurant_item').toggle();
                        $('#restaurant_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").hide();
                }
            } else if (this.value == 'cafe') {
                if ($(".marine_leisure_item").hasClass("marine_leisure_item") === true) {
                    $("#marine_leisure").hide();
                }
                if ($(".sports_leisure_item").hasClass("sports_leisure_item") === true) {
                    $("#sports_leisure").hide();
                }
                if ($(".horse_riding_item").hasClass("horse_riding_item") === true) {
                    $("#horse_riding").hide();
                }
                if ($(".fishing_item").hasClass("fishing_item") === true) {
                    $("#fishing").hide();
                }
                if ($(".show_display_museum_item").hasClass("show_display_museum_item") === true) {
                    $("#show_display_museum").hide();
                }
                if ($(".submarine_cruise_item").hasClass("submarine_cruise_item") === true) {
                    $("#submarine_cruise").hide();
                }
                if ($(".experience_item").hasClass("experience_item") === true) {
                    $("#experience").hide();
                }
                if ($(".theme_park_item").hasClass("theme_park_item") === true) {
                    $("#theme_park").hide();
                }
                if ($(".tour_item").hasClass("tour_item") === true) {
                    $("#tour").hide();
                }
                if ($(".snapshot_item").hasClass("snapshot_item") === true) {
                    $("#snapshot").hide();
                }
                if ($(".special_product_item").hasClass("special_product_item") === true) {
                    $("#special_product").hide();
                }
                if ($(".kids_item").hasClass("kids_item") === true) {
                    $("#kids").hide();
                }
                if ($(".restaurant_item").hasClass("restaurant_item") === true) {
                    $("#restaurant").hide();
                }
                if ($(".cafe_item").hasClass("cafe_item") === true) {
                    $("#cafe").show();
                    $(".noitem").hide();
                    if ($('#cafe_show').html() == 'bottom_s') {
                        $('.cafe_item').toggle();
                        $('#cafe_show').html('top_s')
                    }
                } else {
                    $(".noitem").show();
                }
            }
        });
    });

    var addplusfriend = function (id) {
        var data = new Object();
        data.uri = '/api/v1/member/reqfriend'
        data.FriendType_CD = 'PLU'
        data.Member_ID = parseInt('<%= sess.Member_ID %>')
        data.Member_FID = id
        data.FriendStatus_CD = 'ACC'
        data.username = '<%=sess.AccountID%>'
        data.MemberGrade_CD = '<%= sess.MemberGrade_CD %>'

        $.post("/api/execute", data, function (jqXHR) {

            if (jqXHR.msg == 'SUCCESS') {
                // 알람 레거시 코드 주석처리 20210325 이병주 (알림)
                // data.event = "newalarm"
                // ws.send(JSON.stringify(data))
                // modal('플러스친구로 추가하였습니다.', 'ok', 'location.reload()')
                modal('플러스친구로 추가하였습니다.', 'ok', 'hide')
            } else if (jqXHR.msg == 'Already AFF') {
                modal('이미 플러스친구로 등록되었습니다.', 'ok', 'hide')
            } else if (jqXHR.msg == 'Await AFF') {
                modal('플러스친구 추가에 실패하였습니다.', 'ok', 'hide')
            } else if (jqXHR.msg == 'GRADE ISSUE') {
                modal('등급 이슈로 추가에 실패하였습니다.', 'ok', 'hide')
            } else { 
                modal('플러스친구 추가에 실패하였습니다.', 'ok', 'hide')
            }
            $('.modal.yesno').modal('hide') //yesno modal hide
        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) { })
            .fail(function (jqXHR) { })
            .always(function (jqXHR) { })
        location.reload(true)
    }

    /**
     * 2021.06.29 고금필 : 복사
     *
     * 플러스친구 삭제
     * @param id 삭제할 대상 Member_ID
     */
    let deleteFriend = function (id) {
        let data = new Object()

        data.FriendType_CD = 'PLU'
        data.MemberMode_CD = 'USR'
        data.USR_ID = parseInt('<%= sess.Member_ID %>')
        data.USR_FID = id
        data.uri = '/api/v1/item/deletefriend'

        $.post( "/api/execute",data, function(jqXHR) {
            if (jqXHR.msg === 'SUCCESS') {
                modal('플러스친구 삭제가 완료되었습니다.','ok','hide')
            } else if (jqXHR.msg === 'NOT FOUND') {
                modal('플러스친구 삭제를 실패하였습니다.','ok','hide')
            } else {
                modal('알 수 없는 오류가 발생했습니다.','ok','hide')
            }
        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) { })
            .fail(function (jqXHR) { })
            .always(function (jqXHR) { });

        $('.modal.yesno').modal('hide') //yesno 모달 숨기기
        location.reload(true)
    }


    $(document).ready(function () {
        '<% if ( friend.msg === "Available" && sess.MemberMode_CD === "USR" && sess.AccountID ) { %>' //친구추가가능상태
        modal('<%= info.Nickname %> 스토어를 플러스친구추가 하시겠습니까?','yesno','','addplusfriend(<%= info.Member_ID %>)','hide')
        '<% } %>'
        setCookie("showstoreURL", String(document.location.href).substr(21,));

    });

</script>