<!-- 중개자 모드 내스토어 -->
<div class="affiliate fixedbottom store">

    <div class="row p-0 m-0 px-12 mt-2">
        <div class="col">
            <p class="subject aff border-bottom-0" style="margin-right:-5px; margin-bottom:-2px !important;">
                <select name="product_category" id="product_category" style="font-size: 12px; float:right; margin-top:-20px; height:30px;">
                    <option value="all" selected="selected">전체상품</option>
                    <option value="special_product">특산물</option>
                    <option value="experience">체험</option>
                    <option value="tour">투어</option>
                    <option value="snapshot">스냅사진</option>
                    <option value="show_display_museum">공연/전시/박물관</option>
                    <option value="theme_park">테마파크</option>                    
                    <option value="horse_riding">승마</option>
                    <option value="fishing">낚시</option>
                    <option value="submarine_cruise">잠수함/유람선</option>
                    <option value="marine_leisure">해양레저</option>
                    <option value="sports_leisure">스포츠레저</option>
                    <option value="restaurant">음식점</option>
                    <option value="cafe">카페</option>

                </select>
            </p> 
        </div>
    </div>

    <div id="special_product" class="special_product" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('special_product_item')">
            <div class="col p-0 m-0">
                <span class="icon special_product">special_product</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">특산물</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="special_product_show">top_s</span>
            </div>
        </div>
        <div id="special_product_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="experience" class="experience" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('experience_item')">
            <div class="col p-0 m-0">
                <span class="icon experience">experience</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">체험</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="experience_show">top_s</span>
            </div>
        </div>
        <div id="experience_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="tour" class="tour" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('tour_item')">
            <div class="col p-0 m-0">
                <span class="icon tour">tour</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">투어</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="tour_show">top_s</span>
            </div>
        </div>
        <div id="tour_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="snapshot" class="snapshot" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('snapshot_item')">
            <div class="col p-0 m-0">
                <span class="icon snapshot">snapshot</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">스냅사진</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="snapshot_show">top_s</span>
            </div>
        </div>
        <div id="snapshot_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="show_display_museum" class="show_display_museum" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('show_display_museum_item')">
            <div class="col p-0 m-0">
                <span class="icon show_display_museum">show_display_museum</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">공연/전시/박물관</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="show_display_museum_show">top_s</span>
            </div>
        </div>
        <div id="show_display_museum_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="theme_park" class="theme_park" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('theme_park_item')">
            <div class="col p-0 m-0">
                <span class="icon theme_park">theme_park</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">테마파크</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="theme_park_show">top_s</span>
            </div>
        </div>
        <div id="theme_park_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="horse_riding" class="horse_riding" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('horse_riding_item')">
            <div class="col p-0 m-0">
                <span class="icon horse_riding">horse_riding</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">승마</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="horse_riding_show">top_s</span>
            </div>
        </div>
        <div id="horse_riding_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="fishing" class="fishing" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('fishing_item')">
            <div class="col p-0 m-0">
                <span class="icon fishing">fishing</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">낚시</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="fishing_show">top_s</span>
            </div>
        </div>
        <div id="fishing_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="submarine_cruise" class="submarine_cruise" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('submarine_cruise_item')">
            <div class="col p-0 m-0">
                <span class="icon submarine_cruise">submarine_cruise</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">잠수함/유람선</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="submarine_cruise_show">top_s</span>
            </div>
        </div>
        <div id="submarine_cruise_content" class="row m-0 border-top">
        </div>
    </div>


    <div id="marine_leisure" class="marine_leisure" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('marine_leisure_item')">
            <div class="col p-0 m-0">
                <span class="icon marine_leisure">marine_leisure</span>
            </div>
            <div class="col p-0 category-title" >
                <p class="itemcategory-title">해양레저</p>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="marine_leisure_show">top_s</span>
            </div>
        </div>
        <div id="marine_leisure_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="sports_leisure" class="sports_leisure" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('sports_leisure_item')">
            <div class="col p-0 m-0">
                <span class="icon sports_leisure">sports_leisure</span>
            </div>
            <div class="col p-0 category-title" >
                <p class="itemcategory-title">스포츠레저</p>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="sports_leisure_show">top_s</span>
            </div>
        </div>
        <div id="sports_leisure_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="restaurant" class="restaurant" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('restaurant_item')">
            <div class="col p-0 m-0">
                <span class="icon restaurant">restaurant</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">음식점</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="restaurant_show">top_s</span>
            </div>
        </div>
        <div id="restaurant_content" class="row m-0 border-top">
        </div>
    </div>

    <div id="cafe" class="cafe" style="margin-bottom:-10px; display:none">
        <hr class="store_border">
        <div class="row" style="margin:-5px 5px 5px 10px;" onclick="clickItemCategory('cafe_item')">
            <div class="col p-0 m-0">
                <span class="icon cafe">cafe</span>
            </div>
            <div class="col p-0 category-title" >
                <span class="itemcategory-title">카페</span>
            </div>
            <div class="col text-right" style="margin-right: 10px; margin-top: 1px;">
                <span class="icon" id="cafe_show">top_s</span>
            </div>
        </div>
        <div id="cafe_content" class="row m-0 border-top">
        </div>
    </div>

    <Div id="noitem" class="col noitem" style="display:none" ;>
        <div class="col text joininfo noitem text-center" style="margin-top: 100px">
            <img src="/img/noitem.png">
            <input type="text " class="form-control text joininfo noitem text-center" value="판매중인 상품이 없습니다." disabled>
        </div>
    </Div>

<!--    <div id="showmore" class="row showmore justify-content-center align-self-center mt-2" style="display: none">-->
<!--        <button type="button" class="btn btn-more mt-3"><span>더보기</span></button>-->
<!--    </div>-->

    <div class="row m-0">

        <% if( storelist[0].length > 0 ) { %>

            <% for(var i = 0; i < storelist[0].length; i++) { %>
                <% if(storelist[0][i].Exposure == 'Y') { %>

                    <% if (storelist[0][i].ItemType_CD == 'DCO') {
                        var ItemType_CD = '할인쿠폰'
                        var color = 'yellow'
                    } else if (storelist[0][i].ItemType_CD == 'DVO') {
                        var ItemType_CD = '할인상품'
                        var color = 'cyan'
                    } else if (storelist[0][i].ItemType_CD == 'DCA') {
                        var ItemType_CD = '예약상품'
                        var color = 'green'
                    } else if (storelist[0][i].ItemType_CD == 'DTC') {
                        var ItemType_CD = '예약상품'
                        var color = 'green'
                    } else if (storelist[0][i].ItemType_CD == 'ATR') {
                        var ItemType_CD = '예약상품'
                        var color = 'green'
                    } else if (storelist[0][i].ItemType_CD == 'FDE') {
                        var ItemType_CD = '신선배송'
                        var color = 'purple'
                    } else if (storelist[0][i].ItemType_CD == 'DEL') {
                        var ItemType_CD = '일반배송'
                        var color = 'purple'
                    }
                    %>
                    <% if (sess.MemberMode_CD == 'USR') {
                        var MemberMode_CD = 'user'
                    } else if (sess.MemberMode_CD == 'SUP') {
                        var MemberMode_CD = 'supplier'
                    } else {
                        var MemberMode_CD = 'affiliate'
                    }
                    %>

                    <Div class="row m-0 storeitemlist storelistborder <%= storelist[0][i].Item_ID %> w-100" style="display:none"
                        onclick="move('/<%= MemberMode_CD %>/store/detail/?id=<%= storelist[0][i].Item_ID %>&Contract_ID=<%= storelist[0][i].Contract_ID %>');setRedirect('/affiliate/profile/<%= id %>',0)">

                        <div class="col col-img p-0">
                            <div class="icon-top "></div>
                            <div class="down"></div>

                            <% if( (storelist[0][i].ItemQty - (storelist[0][i].SaleNum - storelist[0][i].RefundNum)) <= 0){ %>
                                <div class="nodisp ">
                                    <div class="row m-0 h-100">
                                        <div class="col p-0"></div>
                                        <div class="col p-0 d-flex align-self-center">
                                            <div class="text">
                                                매진
                                            </div>
                                        </div>
                                        <div class="col p-0 mr-1"></div>
                                    </div>
                                </div>
                            <%  } %>

                            <% if( storelist[0][i].Qty <= 0 ) { %>
                                <div class="nodisp ">
                                    <div class="row m-0 h-100">
                                        <div class="col p-0"></div>
                                        <div class="col p-0 d-flex align-self-center">
                                            <div class="text">
                                                재고부족
                                            </div>
                                        </div>
                                        <div class="col p-0 mr-1"></div>
                                    </div>
                                </div>
                            <% } %>


                            <img src="<%= storelist[0][i].Filepath %><%= storelist[0][i].Filename %>" height="120px;" class="">
                            <div class="icon-btm "></div>
                            <div class="up"></div>
                            <!-- <div class="dashed"></div> -->
                        </div>

                        <div class="col p-0 mx-12 my-auto">
                            <div class="row m-0 position-absolute " style="top:2px; left:-2px;"  >
                                <div class="col col-category p-0 font-11" >
                                    <span class="icon type s-60 <%= color %>">type<span class="title "><%= ItemType_CD %></span></span>
                                </div>
                            </div>
    
                            <div class="row m-0 mt-3">
                                <div class="col p-0 py-1">
                                    <p class="list-itemtitle" style="font-size: 0.975rem;"><%= storelist[0][i].ItemTitle %></p>
                                </div>
                            </div>

                            <div class="row m-0 ">
                                <div class="row m-0 p-0">
                                    <div class="col p-0" style="margin-top: -4px;">
                                        <span class="won_profile" style="margin-top: -2px;"></span></div>
                                    <span class="text aff commission_profile float-right">
                                        <% if(storelist[0][i].SalePrice == 0) { %>
                                            <span class="aff sprice-price-aff m-0 mr-2" style="margin-top:-5px; ">무료</span>
                                        <% } else { %>
                                            <span class="aff sprice-price-aff m-0 "><%= storelist[0][i].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></span>
                                            <span class="aff sprice-price-aff">원</span>
                                        <% } %>
                                    </span>
                                    <span class="aff sprice-percent-aff m-0 pl-1">
                                        <% if(storelist[0][i].ItemType_CD == 'DCO' && storelist[0][i].SalePrice == 0) { %>
                                        <% } else { %>
                                            <% if ( storelist[0][i].SalePrice < storelist[0][i].MarketPrice ) { %>
                                                ( <%=parseFloat((100 - (storelist[0][i].SalePrice / (storelist[0][i].MarketPrice / 100))).toFixed(1).toString()) %>  ) %
                                            <% } %>  
                                        <% } %>
                                    </span>
                                </div>
                            </div>

                            <div class="row m-0 ">
                                <div class="row m-0 p-0">
                                    <div class="col p-0" style="margin-top: -4px;">
                                        <span class="won_profile" style="margin-top: -2px;"></span>
                                    </div>
                                    <span class="text mprice-price float-right">
                                        <% if ( storelist[0][i].SalePrice < storelist[0][i].MarketPrice ) { %>
                                            <del><%= storelist[0][i].MarketPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>원</del>
                                        <% } else { %>
                                        &nbsp;
                                        <% } %></del></span>
                                </div>
                            </div>

                            <div class="row m-0 ">
                                <div class="col p-0 ">
                                    <p class="info expire"><%= storelist[0][i].Started.substring(0, 10) %>-<%= storelist[0][i].Ended.substring(0, 10) %></p>
                                </div>
                            </div>

                        </div>

                    </Div>

                    <% if (storelist[0][i].ItemCategory_ID == 10000) { %>
                        <script>
                            $("#marine_leisure_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("marine_leisure_item").remove());
                            $("#marine_leisure").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 20000) { %>
                        <script>
                            $("#sports_leisure_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("sports_leisure_item").remove());
                            $("#sports_leisure").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 30000) { %>
                        <script>
                            $("#horse_riding_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("horse_riding_item").remove());
                            $("#horse_riding").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 40000) { %>
                        <script>
                            $("#fishing_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("fishing_item").remove());
                            $("#fishing").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 50000) { %>
                        <script>
                            $("#show_display_museum_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("show_display_museum_item").remove());
                            $("#show_display_museum").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% }else if (storelist[0][i].ItemCategory_ID == 60000) { %>
                        <script>
                            $("#submarine_cruise_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("submarine_cruise_item").remove());
                            $("#submarine_cruise").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 70000) { %>
                        <script>
                            $("#experience_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("experience_item").remove());
                            $("#experience").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 80000) { %>
                        <script>
                            $("#theme_park_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("theme_park_item").remove());
                            $("#theme_park").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 90000) { %>
                        <script>
                            $("#tour_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("tour_item").remove());
                            $("#tour").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 100000) { %>
                        <script>
                            $("#snapshot_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("snapshot_item").remove());
                            $("#snapshot").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 110000) { %>
                        <script>
                            $("#special_product_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("special_product_item").remove());
                            $("#special_product").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 120000) { %>
                        <script>
                            $("#kids_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("kids_item").remove());
                            $("#kids").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 130000) { %>
                        <script>
                            $("#restaurant_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("restaurant_item").remove());
                            $("#restaurant").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } else if (storelist[0][i].ItemCategory_ID == 140000) { %>
                        <script>
                            $("#cafe_content").append($(".<%= storelist[0][i].Item_ID %>").addClass("cafe_item").remove());
                            $("#cafe").show();

                            $(".<%= storelist[0][i].Item_ID %>").addClass("showstore").show();

                        </script>
                    <% } %>

                <% } %>
            <% } %>

        <% }else{ %>
            <script>
                $(".noitem").show();
            </script>
        <% } %>

    </div>
</div>