<div class="affiliate store fixedbottom">
        <ul class="afflist">       
            <li>
                <div class="row m-0 border-bottom pb-2">
                    <div class="col col-category p-0 font-11">
                        <i class="icon-green"><p class="category">예약상품</p></i>  
                    </div>
                    <div class="col-1 ml-1 mr-2 font-11 px-0 balance">
                        <i class="icon-text"><p class="prepaid">선불</p></i>  
                    </div>
                    <div class="col font-11 px-0 balance">
                            <p class="itemname">디럭스룸 예약권 2인 패키지 1박 2일 디럭스룸 예약권 2인 패키지 1박 2일</p>
                    </div>
                </div>
                <div class="row m-0  mt-2" >
                    <div class="col col-img p-0 ">                                                   
                        <img class="item" src="https://cdn.zeplin.io/5ccff5e4a53840687b091db9/assets/593715c4-8f14-403b-9bec-3b35c9ec15dc.png">                                                                                             
                    </div>
                    <div class="col p-0 ml-2">
                        <div class="row m-0 ">
                            <div class="col justify-content-center align-self-center col-profile p-0">
                                <img class="profile" src="https://cdn.zeplin.io/5ccff5e4a53840687b091db9/assets/593715c4-8f14-403b-9bec-3b35c9ec15dc.png">  
                            </div>
                            <div class="col ml-2 justify-content-center align-self-center p-0">
                                <p class="text nickname">카페EPL</p>
                            </div>
                            <div class="col mr-1 justify-content-center align-self-center col-date p-0">
                                <p class="text affdate ">2019.03.20</p>
                            </div>
                        </div>
                        <div class="row m-0 mt-3">
                            <div class="col p-0 text-center border">
                                <p class="text affcnt">공급수<span class="d-block amt">3,040,000<span class="unit">개</span></span></p>                                
                            </div>
                            <div class="col p-0 text-center border border-left-0">
                                <p class="text affcnt">공급가<span class="d-block amt">무료</span></p>                                
                            </div>
                            <div class="col p-0 text-center border border-left-0">
                                <p class="text affcnt">총 공급가<span class="d-block tot">무료</span></span></p>                                
                            </div>
                        </div>
                    </div>
                </div>
                              
            </li>

        </ul>
   
    </div>
    
    
    