<div class="row m-0 h-100 notfound">
    <div class="col p-0 justify-content-center align-self-center">

        <div class="row p-0">
            <div class="col m-3 text-center">
                <img id="jpass_warning" src="/img/jpass_warning.png" onclick="" style="width:130px;">
            </div>
        </div>

        <div class="row p-0">
            <div class="col m-0 text-center">
                <p class="h2 mt-2 text-center title" style="color:#ee7499">죄송합니다.</p>
                <p class="text-center desc">요청하신 페이지를 찾을 수 없습니다.</p>
            </div>
        </div>

        <div class="row m-3 p-0">
            <div class="col m-0 p-1 btn-return">
                <button class="btn btn-common usr" onclick="move(getRedirectURL(1),'replace')">이전화면</button>
            </div>

            <div class="col m-0 p-1">
                <button class="btn btn-common active usr" onclick="move('/','replace')">메인으로</button>
            </div>
        </div>
    </div>
</div>
<style>
    .notfound .title {
        font-weight: 500;
        font-size: 2.125rem;
        letter-spacing: -0.028rem;
        color: #ee7499;
    }

    .notfound .desc {
        font-weight: 350;
        font-size: 1.1rem;
        letter-spacing: -0.022rem;
        line-height: 1rem;
        color: #777777;
    }
</style>