<div class="bottomnav sup fixed-bottom border-top border-cccccc">
    <div class="row m-0">
        <div class="col p-0 text-center" onclick="move('/supplier/main');setRedirect('/supplier/main',0)"><span class="icon bottomnavi">home</span><span>메인</span></div>
        <% if (sess.MemberGrade_CD == 'CSR') {  %>
            <div class="col p-0 text-center" onclick="modal('현재 서비스 준비중 입니다.', 'ok', 'hide')"><span class="icon bottomnavi">search</span><span>검색</span></div>
        <% } else { %>
            <div class="col p-0 text-center" onclick="move('/supplier/search');setRedirect('/supplier/search',0)"><span class="icon bottomnavi">search</span><span>검색</span></div>
        <% } %>
        <div class="col p-0 text-center" onclick="move('/supplier/store');setRedirect('/supplier/store',0)"><span class="icon bottomnavi">store</span><span>스토어</span></div>
        <div class="col p-0 text-center" onclick="move('/supplier/usecode');setRedirect('/supplier/usecode',0)"><span class="icon bottomnavi">storecode</span><span>상점코드</span></div>
        <% if (sess.MemberGrade_CD == 'CSR') {  %>
            <div class="col p-0 text-center" onclick="modal('현재 서비스 준비중 입니다.', 'ok', 'hide')"><span class="icon bottomnavi">partner</span><span>제휴</span></div>
        <% } else { %>
            <div class="col p-0 text-center" onclick="move('/supplier/partner');setRedirect('/supplier/partner',0)"><span class="icon bottomnavi">partner</span><span>제휴</span></div>
        <% } %>
    </div>
    <div class="totheTop p-0 mr-3" style="display:none;">
        <img src="/img/icon_tothetop.png" style="width: 85px;" onclick="totheTop()">
    </div>
</div>
