<div class="bottomnav a fixed-bottom border-top border-cccccc">
    <div class="row m-0">
        <div class="col p-0 text-center" onclick="move('/affiliate/main');setRedirect('/affiliate/main',0)"><span class="icon bottomnavi">home</span><span>메인</span></div>
        <% if (sess.MemberGrade_CD == 'CSR') {  %>
            <div class="col p-0 text-center" onclick="modal('현재 서비스 준비중 입니다.', 'ok', 'hide')"><span class="icon bottomnavi">search</span><span>검색</span></div>
        <% } else { %>
            <div class="col p-0 text-center" onclick="move('/affiliate/search');setRedirect('/affiliate/search',0)"><span class="icon bottomnavi">search</span><span>검색</span></div>
        <% } %>
        <div class="col p-0 text-center" onclick="move('/affiliate/store');setRedirect('/affiliate/store',0)"><span class="icon bottomnavi">store</span><span>스토어</span></div>
        <div class="col p-0 text-center" onclick="move('/affiliate/plusfriend');setRedirect('/affiliate/plusfriend',0)"><span class="icon bottomnavi">plusfriend</span><span>플러스친구</span></div>
        <%if (sess.MemberGrade_CD == 'CSR') {%>
            <div class="col p-0 text-center" onclick="modal('현재 서비스 준비중 입니다.', 'ok', 'hide')"><span class="icon bottomnavi">partner</span><span>제휴</span></div>
        <%} else {%>
            <div class="col p-0 text-center" onclick="move('/affiliate/partner');setRedirect('/affiliate/partner',0)"><span class="icon bottomnavi">partner</span><span>제휴</span></div>
        <%}%>
    </div>
    <div class="totheTop p-0 mr-3" style="display:none;">
        <img src="/img/icon_tothetop.png" style="width: 85px;" onclick="totheTop()">
    </div>
</div>
