
<div class="bottomnav usr fixed-bottom border-top border-cccccc">
    <div class="row m-0">
        <div class="col p-0 text-center" onclick="move('/user/main');setRedirect('/user/main',0)"><span class="icon bottomnavi">home</span><span>메인</span></div>
        <div class="col p-0 text-center" onclick="move('/user/search');setRedirect('/user/search',0)"><span class="icon bottomnavi">search</span><span>검색</span></div>
        <div class="col p-0 text-center" onclick="move('/user/plusfriend');setRedirect('/user/plusfriend',0)"><span class="icon bottomnavi">plusfriend</span><span>플러스친구</span></div>
        <% /* %>
        <div class="col p-0 text-center" onclick="move('/user/friend');setRedirect('/user/friend',0)"><span class="icon bottomnavi">partner</span><span>친구</span></div>
        <% */%>
        <!-- <div class="col p-0 text-center" onclick="move('/user/shoppingcart?path=main');setRedirect('/user/shoppingcart',0)"><span class="icon bottomnavi">empty_store</span><span>장바구니</span></div> -->
        <div class="col p-0 text-center" onclick="move('/user/shoppingcart?path=main');setRedirect('/user/shoppingcart',0)"><img src="/img/icon/bottomnav/cart_mini.png" width="24px" style="margin-top: 10px; margin-bottom: 4px;"><span>장바구니</span></div>
        <div class="col p-0 text-center " onclick="move('/user/mypage');setRedirect('/user/mypage',0)"><span class="icon bottomnavi">myinfo</span><span>내정보</span></div>
    </div>
    <div class="totheTop p-0 mr-3" style="display:none;">
        <img src="/img/icon_tothetop.png" style="width: 85px;" onclick="totheTop()">
    </div>
</div>

