<footer id="page_footer" class="pb-2">

    <div class="row mt-2 m-0">
        <div class="col c_col-1200 text-center">

            <div class="row">

                <!-- <div class="col col-2">
                </div> -->

                <div class="col c_col-1100 ml-1 mr-1">
                    <div class="row m-0 border-bottom-footer">
                        <div class="col text-center mt-1" style="margin-left: -20px;">
                            <ul>
                                <li><a href="/../member/privacypolicy" onclick="ga('send', 'event', 'button', 'buttonclick', 'privacy');" style="color:#CCCCCC;">개인정보처리방침</a></li>
                                <li>｜</li>
                                <li><a href="/../member/accessterms" onclick="ga('send', 'event', 'button', 'buttonclick', 'access');" style="color:#CCCCCC;">이용약관</a></li>
                                <!-- <li onclick="move('/../member/privacypolicy')">개인정보취급방침</li>
                                <li>｜</li>
                                <li onclick="move('/../member/accessterms')">이용약관</li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="row c_footerrow mt-2" style="margin-bottom: 60px;">
                        <div class="col col-100 text-left c_footerrow">
                            <span class="d-block c_title">쉐어잇 (대표자: 정철현)</span>
                            <span class="d-block">63589 제주특별자치도 서귀포시 동홍로 41 (동홍동) <br> 아시아CGI애니메이션센터 나동 206호</span>
                            <span class="d-block">E-Mail. shareitstartup@gmail.com</span>
                            <span class="d-block">Tel. 064-900-3658</span>
                            <span class="d-block">Fax. 064-900-3614 </span>
                            <span class="d-block">사업자등록번호: 205-30-29370 </span>
                            <span class="d-block">통신판매업신고: 제2019-제주동홍-29호 </span>

                            <span class="d-block">Copyright ⓒ 2021 SHAREIT. All rights reserved</span>
                        </div>
                        <div class="col c_footerrow justify-content-center align-self-center">
                            <!-- <ul class="float-right">
                        </ul> -->
                        </div>
                    </div>
                </div>

                <!-- <div class="col col-2">
                </div> -->

            </div>
        </div>
    </div>
</footer>

<%
/*
    2021.08.19 route 에서 정의된 params가 템플릿엔진인 view.ejs로 가므로 js파일내에서 해당 파라미터값들을 사용할수 없으므로 
    script.ejs -> script.js 변경 보류.
*/ 
%>
