<title><%=title%></title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">
<meta name="naver-site-verification" content="006f5d8872c2074db8ee3308efd120a9cc90edf3" />

<!-- PWA -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="JPASS PWA">
<link rel="apple-touch-icon" href="/img/shortcut_logo.png">
<!-- <meta name="theme-color" content="blue"> -->
<link rel="manifest" href="/manifest.json">

<link rel="shortcut icon" href="/img/favicon.ico">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/icon.css">
<link rel="stylesheet" href="/css/fontface.css" async>
<link rel="stylesheet" href="/css/calendar.css" async>
<link rel="stylesheet" href="/css/jquery.bxslider.css">
<link rel="stylesheet" href="/css/prettify.css" async>
<link rel="stylesheet" href="/css/jquery-ui.min.css" async>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PT94H9B');</script>
  <!-- End Google Tag Manager -->

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui-custom.min.js"></script>

<script src="/js/prettify.js"></script> <!-- syntax highlighting -->
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.simple-calendar.js"></script>
<script src="/js/jquery.visible.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- <script src="/js/moment-with-locales.min.js"></script> -->
<script src="/js/formcheck.js"></script>
<script src="/js/accounting.min.js"></script>
<script src="/js/lang.js"></script>
<script src="/js/common.js"></script>
<script src="/js/progressbar.min.js"></script>
<!-- <script src="/js/chart.js"></script> -->
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.redirect.js"></script>
<script src="/js/hide-virtual-keyboard.js"></script>
<script src="/js/base64js.min.js"></script>
<script src="/js/hermite.js"></script>
<script src="/js/exif.js"></script>
<script src="/js/load-image.all.min.js"></script>
<script src="/js/compressor.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/exif-js"></script> -->

<!-- <script src="js/load-image.all.min.js"></script> -->

<!-- 통계쪽 사용되는 프로그레스바 (현재 사용되지 않아서 주석처리 2020.07.27 인성호)-->
<!-- <script type="text/javascript" src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script> -->

<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js?autoload=false"></script>

<!-- keyboard widget css & script (required) -->
<link href="/css/keyboard.css" rel="stylesheet" async>
<script src="/js/jquery.keyboard.js"></script>
<!-- keyboard widget css & script (optional) -->
<link href="/css/keyboard-basic.css" rel="stylesheet" async>
<script src="/js/jquery.keyboard.extension-all.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161721966-1"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    'pageCategory': 'signup',
    'visitor Type': 'high-value'
  });
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-161721966-1');
</script>

<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/service_worker.js')
        .then(function(reg) {
        //  console.log('Service worker registered.', reg);
        });
    });
  }

  // 2021.06.08 common.js에서 통합으로관리 이병주
  // function pcresize() {
    
  //   var filter = "win16|win32|win64|mac|macintel";
  //   if (navigator.platform) {
  //     if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {

  //     } else {
  //       $('body').css('width', '410px')
  //       $('#findaddr').css('width', '410px')
  //       $('#findaddr').css('margin', '0 auto')
  //       $('#findaddr').css('left', 'unset')
  //       $('body').css('height', '100%')

  //       if ($(window).height() == $(document).height()) {
  //         $('body').css('height', $(document).height())

  //       } else {
  //         $('body').css('height', 'auto')

  //       }

  //       var size = {
  //           width: window.innerWidth || document.body.clientWidth,
  //           height: window.innerHeight || document.body.clientHeight 
  //       }

  //       $('body').css('margin', '0 auto')
  //       $('body').css('border', '1px solid #dbdbdb')

  //       $('.main-store-image').css('height', '290px')
  //       $('.main-store-image').css('width', '385px')
  //       $('.main-store-image').css('overflow', 'hidden')

  //       $('.profile .left').css('left', (size.width/2)-205 + 'px' )
  //       $('.profile .right').css('right', (size.width/2)-205 + 'px' )

 
  //       $('.bx-wrapper').css('max-width', '410px')
  //       $('.bx-wrapper').css('width', '410px')
   
  //       $('.bxslider > div').css('width', '100%')
  //       $('.fixed-bottom').css('width', '410px')
  //       $('.fixed-bottom').css('margin', '0 auto')
  //       $('.fixed-bottom').css('max-width', '410px')
  //       $('#event-cal-container').css('width', '100%')
  //       $('#event-cal-container').css('margin', '0 auto')
  //       $('#event-cal-container').css('position', 'unset')
  //       $('#event-cal-container').css('background', 'unset')
  //       $('.icon-imgdel').css('background-size', '50%')
  //       $('.icon-imgdel').css('width', '3vw')
  //       $('.icon-expose').css('width', '35%')
  //       $('.fixed-bottom').removeClass('m-0')
  //       $('.fixed-bottom').removeClass('mt-3')
  //       $('.fixed-bottom').css('border', '1px solid #dbdbdb')
  //       // $('.count').css('position', 'relative')
  //       // $('.count').css('top', '-20px')
  //       // $('.count').css('left', '360px')
  //       // $('.count').css('z-index', '9999')
  //       $('#findaddr').css('width', '408px');
  //       $('#findaddr').css('margin', '0 auto');
  //     }
  //   }

  // }

  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  //window.history.forward();

  var hideie = function(){

    if(!getCookie('hideie')) {
        setCookie('hideie', 'true', 7);
        $('.modal').modal('hide');
    }else{

    }
  }

  $(document).ready(function () {

    var browse = navigator.userAgent.toLowerCase(); 
        
    if( (navigator.appName == 'Netscape' && browse.indexOf('trident') != -1) || (browse.indexOf("msie") != -1) ) {

      if(getCookie('hideie') != 'true'){
        modal('\'JPASS\'는 크롬 브라우저에 <br> 최적화되어있습니다.<br>', 'ok', 'hideie()', '', '', '일주일간 보지않기');
      }
    }

    // var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;

    // if(!isMobile){
    //     pcresize();
    // }

  })
    window.addEventListener("resize", function(){
      var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
      if(!isMobile){
          $('html,body').show();
          pcresize();
      }else{
        $('html,body').show();
      }
  });

  window.addEventListener('DOMContentLoaded', function(){
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    if(!isMobile){
      $('html,body').show();
      pcresize();
    }else{
      $('html,body').show();
    }
});


  gtag("js", new Date());
  gtag("config", "UA-161721966-1");


</script>

<% if(sess.AccountID ) { %>

<script>

    var headdata = new Object();
    headdata.Member_ID = '<%=sess.Member_ID %>'
    headdata.username = '<%=sess.AccountID %>'
    headdata.uri = '/api/v1/member/alarmcount'

    let MemberMode = '<%=sess.MemberMode_CD%>'
    $.post("/api/execute", headdata, function (jqXHR) {

      if (jqXHR.msg == 'SUCCESS') {
        if (jqXHR.result[0] && jqXHR.result[0].UnReadNo > 0) {

          
            // showstore 에서 USR 분기처리 이슈가 발생하여 두 구문다 실행하도록 if문제거.

            $('.newalarmUsr').removeClass('invisible')
            $('.newalarmUsr').html(jqXHR.result[0].UnReadNo)

            $('.newalarm').removeClass('invisible')
            $('.newalarm').html(jqXHR.result[0].UnReadNo)


        } else {
          if(MemberMode ==='USR'){
            $('.newalarmUsr').addClass('invisible')
          } else {
            $('.newalarm').addClass('invisible')
          }
        }
      }

    }, 'json' /* xml, text, script, html */)
      .done(function (jqXHR) { })
      .fail(function (jqXHR) { })
      .always(function (jqXHR) { });

    // var ws = new WebSocket('ws://127.0.0.1:3100');
    
    // var ws = new WebSocket('wss://jpass.jeju.kr:3100');
    // ws.onopen = (event) => {
    //   // let sendData = { event: 'open' }
    //   // ws.send(JSON.stringify(sendData));
    // }
    // ws.onmessage = (event) => {
    // console.log(event);
    //   let recData = JSON.parse(event.data);

    //   switch (recData.event) {

    //     case 'res':
    //       console.log(recData.data)
    //       break;

    //     case 'newalarm':
    //       if (recData.Member_FID == parseInt('<%= sess.Member_ID %>')) {
    //         if (window.location.pathname == '/member/notice') {
    //           move('/member/notice')
    //         }
    //         $('.newalarm').removeClass('invisible')
    //         headdata.Member_ID = parseInt('<%= sess.Member_ID %>')
    //         headdata.username = '<%=sess.AccountID %>'
    //         headdata.uri = '/api/v1/member/alarmcount' 

    //         $.post("/api/execute", headdata, function (jqXHR) {

    //           if (jqXHR.msg == 'SUCCESS') {
    //             if (jqXHR.result[0] && jqXHR.result[0].UnReadNo > 0) {
    //               $('.newalarm').removeClass('invisible')
    //               $('.newalarm').html(jqXHR.result[0].UnReadNo)

    //             } else {
    //               $('.newalarm').addClass('invisible')
    //             }
    //           }

    //         }, 'json' /* xml, text, script, html */)
    //           .done(function (jqXHR) { })
    //           .fail(function (jqXHR) { })
    //           .always(function (jqXHR) { });
    //       }

    //       break;

    //     default:
    //   }
    // }

  function myOnClick() {
    let sendData = { event: 'req', data: { comment: 'hi' } };
    // 알람 레거시 코드 주석처리 20210325 이병주 (알림)
    // ws.send(JSON.stringify(sendData));

  }


  console.log('Member_ID = <%= sess.Member_ID %>', 'Nickname = <%=sess.Nickname%>') // --> 나중에 삭제 
  console.log('MemberGrade_CD = <%= sess.MemberGrade_CD %> ') // --> 추후 삭제
  console.log('MemberMode_CD = <%= sess.MemberMode_CD %>') // --> 나중에 삭제 


</script>

<%}%>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PT94H9B"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->