<title><%=title%></title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">
<meta name="naver-site-verification" content="006f5d8872c2074db8ee3308efd120a9cc90edf3" />

<!-- PWA -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="JPASS PWA">
<link rel="apple-touch-icon" href="/img/shortcut_logo.png.png">
<!-- <meta name="theme-color" content="blue"> -->
<link rel="manifest" href="/manifest.json">

<link rel="shortcut icon" href="/img/favicon.ico">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/icon.css">
<link rel="stylesheet" href="/css/fontface.css">
<link rel="stylesheet" href="/css/calendar.css">
<link rel="stylesheet" href="/css/jquery.bxslider.css">
<link rel="stylesheet" href="/css/prettify.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui-custom.min.js"></script>

<script src="/js/prettify.js"></script> <!-- syntax highlighting -->
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.simple-calendar.js"></script>
<script src="/js/jquery.visible.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/formcheck.js"></script>
<script src="/js/accounting.min.js"></script>
<script src="/js/lang.js"></script>
<script src="/js/common.js"></script>
<script src="/js/progressbar.min.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.redirect.js"></script>
<script src="/js/hide-virtual-keyboard.js"></script>
<script src="/js/base64js.min.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js?autoload=false"></script>

<!-- keyboard widget css & script (required) -->
<link href="/css/keyboard.css" rel="stylesheet">
<script src="/js/jquery.keyboard.js"></script>
<!-- keyboard widget css & script (optional) -->
<link href="/css/keyboard-basic.css" rel="stylesheet">
<script src="/js/jquery.keyboard.extension-all.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-132419287-1"></script>

<button id="add_shortcut_btn" class="add_shortcut" >홈화면 바로가기 추가</button>

<script>

  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service_worker.js')
        .then((reg) => {
          console.log('Service worker registered.', reg);
        });
    });
  }

  // Code to handle install prompt on desktop
  let deferredPrompt;
  const addBtn = document.querySelector('.add_shortcut');
  addBtn.style.display = 'none';

  var visit_num = getCookie('visit_num');
  var login_check = getCookie('login_check');

  window.addEventListener('beforeinstallprompt', (e) => {
    // Prevent Chrome 67 and earlier from automatically showing the prompt
    e.preventDefault();
    // Stash the event so it can be triggered later.
    deferredPrompt = e;
    // Update UI to notify the user they can add to home screen
    // addBtn.style.display = 'block';
    if (visit_num < 2 && login_check == 2) {
      modal("홈화면에 바로가기 등록을 하시겠습니까?", 'yesno', 'ok', 'addBtn.click();$(\'.modal\').modal(\'hide\')', 'hide');
    }

    addBtn.addEventListener('click', (e) => {
      // hide our user interface that shows our A2HS button
      // addBtn.style.display = 'none';
      // Show the prompt
      // installPromptEvent.prompt();
      deferredPrompt.prompt();
      // Wait for the user to respond to the prompt
      deferredPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === 'accepted') {
          console.log('User accepted the A2HS prompt');
        } else {
          console.log('User dismissed the A2HS prompt');
        }
        deferredPrompt = null;
      });
    });

  });
  window.addEventListener('appinstalled', (evt) => {
    console.log('a2hs installed');
  });

  function pcresize() {

    var filter = "win16|win32|win64|mac|macintel";
    if (navigator.platform) {
      if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {

      } else {
        $('body').css('width', '410px')
        $('#findaddr').css('width', '410px')
        $('#findaddr').css('margin', '0 auto')
        $('#findaddr').css('left', 'unset')

        if ($(window).height() == $(document).height()) {
          $('body').css('height', $(document).height())

        } else {
          $('body').css('height', 'auto')


        }


        $('body').css('margin', '0 auto')
        $('body').css('border', '1px solid #dbdbdb')

        $('.main-store-image').css('height', '275px')
        $('.main-store-image').css('width', '385px')
        $('.main-store-image').css('overflow', 'hidden')


        $('.bx-wrapper').css('max-width', '410px')
        $('.bx-wrapper').css('width', '410px')
        $('.fixed-bottom').css('width', '410px')
        $('.fixed-bottom').css('margin', '0 auto')
        $('.fixed-bottom').css('max-width', '410px')
        $('#event-cal-container').css('width', '100%')
        $('#event-cal-container').css('margin', '0 auto')
        $('#event-cal-container').css('position', 'unset')
        $('#event-cal-container').css('background', 'unset')
        $('.icon-imgdel').css('background-size', '50%')
        $('.icon-imgdel').css('width', '3vw')
        $('.icon-expose').css('width', '35%')
        $('.fixed-bottom').removeClass('m-0')
        $('.fixed-bottom').removeClass('mt-3')
        $('.fixed-bottom').css('border', '1px solid #dbdbdb')
        $('.count').css('position', 'relative')
        $('.count').css('top', '-20px')
        $('.count').css('left', '360px')
        $('.count').css('z-index', '9999')
        $('#findaddr').css('width', '408px');
        $('#findaddr').css('margin', '0 auto');
      }
    }

  }

  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  //window.history.forward();


  $(document).ready(function () {

    pcresize()


  })

  gtag("js", new Date());
  gtag("config", "UA-132419287-1");



  setTimeout(function () {
    pcresize()
  }, 100);

</script>
<% if(sess.AccountID ) { %>
<script>
  var headdata = new Object();
  headdata.Member_ID = <%=sess.Member_ID %>
    headdata.uri = '/api/v1/member/alarmcount'

  $.post("/api/execute", headdata, function (jqXHR) {

    if (jqXHR.msg == 'SUCCESS') {
      if (jqXHR.result[0] && jqXHR.result[0].UnReadNo > 0) {
        $('.newalarm').removeClass('invisible')
        $('.newalarm').html(jqXHR.result[0].UnReadNo)

      } else {
        $('.newalarm').addClass('invisible')
      }
    }

  }, 'json' /* xml, text, script, html */)
    .done(function (jqXHR) { })
    .fail(function (jqXHR) { })
    .always(function (jqXHR) { });

  //  var ws = new WebSocket('ws://127.0.0.1:3100');
  var ws = new WebSocket('wss://jpass.jeju.kr:3100');
  ws.onopen = (event) => {
    // let sendData = { event: 'open' }
    // ws.send(JSON.stringify(sendData));
  }
  ws.onmessage = (event) => {
    // console.log(event);
    let recData = JSON.parse(event.data);

    switch (recData.event) {
      case 'res':
        console.log(recData.data)
        break;
      case 'newalarm':

        if (recData.Member_FID == <%= sess.Member_ID %>) {
          if (window.location.pathname == '/member/notice') {
            move('/member/notice')
          }
          $('.newalarm').removeClass('invisible')
          headdata.Member_ID = <%= sess.Member_ID %>
            headdata.uri = '/api/v1/member/alarmcount'

          $.post("/api/execute", headdata, function (jqXHR) {

            if (jqXHR.msg == 'SUCCESS') {
              if (jqXHR.result[0] && jqXHR.result[0].UnReadNo > 0) {
                $('.newalarm').removeClass('invisible')
                $('.newalarm').html(jqXHR.result[0].UnReadNo)

              } else {
                $('.newalarm').addClass('invisible')
              }
            }

          }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) { })
            .fail(function (jqXHR) { })
            .always(function (jqXHR) { });
        }
        break;

      default:
    }
  }

  function myOnClick() {
    let sendData = { event: 'req', data: { comment: 'hi' } };
    // 알람 레거시 코드 주석처리 20210325 이병주 (알림)
    // ws.send(JSON.stringify(sendData));

  }


  console.log('Member_ID = <%= sess.Member_ID %>', 'Nickname = <%=sess.Nickname%>') // --> 나중에 삭제 


</script>
<%}%>