<div class="modal ok fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content mx-3">

            <div class="modal-header text-center border-0 pb-0">
                <% if(requrl.indexOf('modify') != -1) { %>
                    <% if(sess.MemberMode_CD == "USR") { %>
                        <span class="icon usr pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">modify</span>
                    <% } else if(sess.MemberMode_CD == "AFF") { %>
                        <span class="icon aff pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">modify</span>
                    <% } else if(sess.MemberMode_CD == "SUP") { %>
                        <span class="icon sup pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">modify</span>
                    <% } %>
                <% } else if(requrl == '/member/membership/grade'){ %>
                    <% if(sess.MemberMode_CD == "USR") { %>
                        <span class="icon usr pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">level</span>
                    <% } else if(sess.MemberMode_CD == "AFF") { %>
                        <span class="icon aff pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">level</span>
                    <% } else if(sess.MemberMode_CD == "SUP") { %>
                        <span class="icon sup pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">level</span>
                    <% } %>
                <% } else if(requrl.indexOf('partner/sugest') != -1){ %>
                    <% if(sess.MemberMode_CD == "USR") { %>
                        <span class="icon usr pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">alliance</span>
                    <% } else if(sess.MemberMode_CD == "AFF") { %>
                        <span class="icon aff pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">alliance</span>
                    <% } else if(sess.MemberMode_CD == "SUP") { %>
                        <span class="icon sup pt-3 s-60" style="padding-bottom: 0; margin: 0 auto;">alliance</span>
                    <% } %>
                <% } %>

            </div>
            <div class="modal-body text-center">


            </div>
            <div class="modal-footer border-0 mb-1">
                <% if(requrl == '/affiliate/join' || requrl == '/affiliate/join/PEN'  ) { %>
                    <button type="button" class="btn btn-ok aff rounded w-100">확인</button>
                <% } else if(requrl == '/supplier/join' || requrl == '/supplier/join/PEN' ) { %>
                    <button type="button" class="btn btn-ok sup rounded w-100">확인</button>
                <% }else if(requrl == '/member/membership/grade'){ %>
                    <% if(sess.MemberMode_CD == "USR") { %>
                        <button type="button" class="btn btn-ok usr rounded w-100">확인</button>
                    <% } else if(sess.MemberMode_CD == "AFF") { %>
                        <button type="button" class="btn btn-ok aff rounded w-100">확인</button>
                    <% } else if(sess.MemberMode_CD == "SUP") { %>
                        <button type="button" class="btn btn-ok sup rounded w-100">확인</button>
                    <% } %>
                <% } else if(requrl == '/member/mode'){ %>
                    <% if(sess.MemberMode_CD == "USR") { %>
                        <button type="button" class="btn btn-ok usr rounded w-100">확인</button>
                    <% } else if(sess.MemberMode_CD == "AFF") { %>
                        <button type="button" class="btn btn-ok aff rounded w-100">확인</button>
                    <% } else if(sess.MemberMode_CD == "SUP") { %>
                        <button type="button" class="btn btn-ok sup rounded w-100">확인</button>
                    <% } %>
                <% }else if(sess.MemberMode_CD == "USR" && thismode != "member") { %>
                    <button type="button" class="btn btn-ok usr rounded w-100">확인</button>
                <% }else if(sess.MemberMode_CD == "AFF" && thismode != "member" ){ %>
                    <button type="button" class="btn btn-ok aff rounded w-100">확인</button>
                <% }else if(sess.MemberMode_CD == "SUP" && thismode != "member"){ %>
                    <button type="button" class="btn btn-ok sup rounded w-100">확인</button>
                <% }else if(thismode == "user" || thismode == "member" ) { %>
                    <button type="button" class="btn btn-ok usr rounded w-100">확인</button>
                <% }else if(thismode == "affiliate"){ %>
                    <button type="button" class="btn btn-ok aff rounded w-100">확인</button>
                <% }else if(thismode == "supplier"){ %>
                    <button type="button" class="btn btn-ok sup rounded w-100">확인</button>
                <% } %>

            </div>
        </div>
    </div>
</div>

<div class="modal yesno fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">

            <div class="modal-body text-center">

            </div>

            <div class="modal-footer border-0">

                <% if(requrl == '/affiliate/join' ) { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok aff rounded w-50">예</button>
                <% }else if(thismode == "user" || thismode == "member" ) { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok usr rounded w-50">예</button>
                <% }else if(requrl == '/supplier/join' ) { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok sup rounded w-50">예</button>
                <% }else if(sess.MemberMode_CD == "USR" && thismode != "member") { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok usr rounded w-50">예</button>
                <% }else if(sess.MemberMode_CD == "AFF" && thismode != "member"){ %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok aff rounded w-50">예</button>
                <% }else if(sess.MemberMode_CD == "SUP" && thismode != "member"){ %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok sup rounded w-50">예</button>
                <% }else if(thismode == "user" || thismode == "member" ) { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok usr rounded w-50">예</button>
                <% }else if(thismode == "affiliate" ){ %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok aff rounded w-50">예</button>
                <% }else if(thismode == "supplier"){ %>
                    <button type="button" class="btn btn-cancel white rounded w-50">아니오</button>
                    <button type="button" class="btn btn-ok sup rounded w-50">예</button>
                <% } %>

            </div>

        </div>
    </div>
</div>

<div class="modal social fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">

            <div class="social-modal-body text-center">
                <button type="button" class="btn btn-social btn-easy rounded">카카오톡으로 간편로그인</button>

            </div>
            <div class="social-modal-body text-center pb-2">
                <button type="button" class="btn btn-social btn-another rounded">다른 카카오계정으로 로그인</button>
            </div>
        </div>
    </div>
</div>

<div class="modal share fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header text-center border-0 pb-0">
                <span style="width: 100%; margin-top: 5px; margin-bottom: 12px; font-size: 20px; font-weight: 600;">링크 공유하기</span>
            </div>
            <div class="modal-body text-center py-1">
                <input type="image" class="button-share-item" id="share-Kakaotalk" name="button" src="/img/icon/sns/kakaotalk-64.png" alt="카카오톡"> <!--임시 이미지-->
                <input type="image" class="button-share-item" id="share-Faceboook" name="button" src="/img/icon/sns/facebook-64.png" alt="페이스북">
                <input type="image" class="button-share-item" id="share-Twitter" name="button" src="/img/icon/sns/twitter-64.png" alt="트위터">
                <input type="image" class="button-share-item" id="share-Copylink" name="button" src="/img/icon/sns/copy-64.png" alt="링크복사">
                <!--                <button type="button">링크복사</button>-->
                <!--                <button type="button">카카오톡</button>-->
                <!--                <button type="button" class="button-share-item"><img src="/img/icon/sns/facebook-56.png"/></button>-->
                <!--                <button type="button">트위터</button>-->
            </div>
            <div class="modal-footer border-0 mb-1">
                <% if(sess.MemberMode_CD == "USR") { %>
                    <button type="button" class="btn btn-ok usr rounded w-100">닫기</button>
                <% } else if(sess.MemberMode_CD == "AFF") { %>
                    <button type="button" class="btn btn-ok aff rounded w-100">닫기</button>
                <% } else if(sess.MemberMode_CD == "SUP") { %>
                    <button type="button" class="btn btn-ok sup rounded w-100">닫기</button>
                <% } else { %>
                    <button type="button" class="btn btn-ok usr rounded w-100">닫기</button>
                <% } %>
            </div>
        </div>
    </div>
</div>
