<div class="m-0 p-0" id="progress">
        <% if ( progressType === "return" ) { %>
        <div id="progress_bar" class="row m-0 px-2 pt-5 align-content-center justify-content-center">
            <div class="row m-0 p-0">
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/offer.png">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-1">신청</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/check.png">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-2">승인</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/usertosup.png" style="width: 30px;">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-3">반품</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/end.png">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-4">완료</div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let currentStatus = '<%=processStatus%>'
                let currentObject;
                let currentText;
                switch (currentStatus) {
                    case "NON":
                        currentObject = document.getElementById("return-proc-1");
                        currentText = "반품교환신청"
                        break;
                    case "RTR":
                        currentObject = document.getElementById("return-proc-1");
                        currentText = "반품신청중"
                        if('<%=delResult.PickupOption%>' === 'Y') {
                            currentText += " (공급자수거)"
                        } else if('<%=delResult.PickupOption%>' === 'N') {
                            currentText += " (사용자반송)"
                        } else {
                            currentText += " (공급자수거)"
                        }
                        break;
                    case "RTA":
                        currentObject = document.getElementById("return-proc-2");
                        currentText = "반품신청승인"
                        break;
                    case "RSU":
                        currentObject = document.getElementById("return-proc-3");
                        currentText = "반품반송중"
                        break;
                    case "RPS":
                        currentObject = document.getElementById("return-proc-3");
                        currentText = "반품반송완료"
                        break;
                    case "RTC":
                        currentObject = document.getElementById("return-proc-4");
                        currentText = "반품완료"
                        break;
                    case "RTF":
                        currentObject = document.getElementById("return-proc-4");
                        currentText = "반품완료실패"
                        break;
                }
                currentObject.classList.add('<%=thismode%>-color')
                currentObject.style.fontWeight = "bold"
                document.getElementsByClassName("progress-explain-text")[0].innerHTML = currentText;
            })
        </script>
        <% } else if ( progressType === "exchange" ) { %>
        <div id="progress_bar" class="row m-0 px-2 pt-5 align-content-center justify-content-center">
            <div class="row m-0 p-0">
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/offer.png">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-1">신청</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/check.png">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-2">승인</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/usertosup.png" style="width: 30px;">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-3">반품</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/end.png">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-4">수령</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/usertosup.png" style="width: 30px;-webkit-transform: scaleX(-1); transform: scaleX(-1);">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-5">교환</div>
                </div>
                <div class="col p-0 progress-middle-box">
                    <div class="row m-0 p-0 progress-middle-content <%=thismode%>-color">➔</div>
                </div>
                <div class="col m-0 p-0 progress-item">
                    <div class="row m-0 p-0 progress-item-box <%=thismode%>-box">
                        <img class="progress-item-box-icon" src="/img/icon/progress/return/end.png">
                    </div>
                    <div class="row m-0 p-0 progress-item-text" id="return-proc-6">완료</div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let currentStatus = '<%=processStatus%>'
                let currentObject;
                let currentText;
                switch (currentStatus) {
                    case "NON":
                        currentObject = document.getElementById("return-proc-1");
                        currentText = "반품교환신청"
                        break;
                    case "ECR":
                        currentObject = document.getElementById("return-proc-1");
                        currentText = "교환신청중"
                        if('<%=delResult.PickupOption%>' === 'Y') {
                            currentText += " (공급자수거)"
                        } else if('<%=delResult.PickupOption%>' === 'N') {
                            currentText += " (사용자반송)"
                        } else {
                            currentText += " (공급자수거)"
                        }
                        break;
                    case "ECA":
                        currentObject = document.getElementById("return-proc-2");
                        currentText = "교환신청승인"
                        break;
                    case "ESU":
                        currentObject = document.getElementById("return-proc-3");
                        currentText = "교환반송중"
                        break;
                    case "EPS":
                        currentObject = document.getElementById("return-proc-4");
                        currentText = "교환반송완료"
                        break;
                    case "ESS":
                        currentObject = document.getElementById("return-proc-5");
                        currentText = "교환배송중"
                        break;
                    case "EPU":
                        currentObject = document.getElementById("return-proc-5");
                        currentText = "교환배송완료"
                        break;
                    case "ECC":
                        currentObject = document.getElementById("return-proc-6");
                        currentText = "교환완료"
                        break;
                    case "ECF":
                        currentObject = document.getElementById("return-proc-6");
                        currentText = "중도환불실패"
                        break;
                }
                currentObject.classList.add('<%=thismode%>-color')
                currentObject.style.fontWeight = "bold"
                document.getElementsByClassName("progress-explain-text")[0].innerHTML = currentText;
            })
        </script>
        <% } else { %>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let currentStatus = '<%=processStatus%>'
                let currentText;
                switch (currentStatus) {
                    case "RTD":
                        currentText = "반품신청거절내역"
                        break;
                    case "RTW":
                        currentText = "반품신청취소내역"
                        break;
                    case "ECD":
                        currentText = "교환신청거절내역"
                        break;
                    case "ECW":
                        currentText = "교환신청취소내역"
                        break;
                    case "retry":
                        currentText = "반품교환재신청" // usr일때만 있는 processStatus
                        break;
                    default:
                        currentText = '반품교환신청'
                        break;

                }

                document.getElementsByClassName("progress-explain-text")[0].innerHTML = currentText;
            })

        </script>
        <% } %>
    <div class="row m-0 p-0 pt-3 pb-<%=["NON","RTD","RTW","ECD","ECW","RTF","ECF",""].includes(processStatus)?'3':'5'%> align-content-center justify-content-center">
        <div class="col m-0 p-0 text-center progress-explain-text">반품교환신청</div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded",function () {
            <% if( ["RTF","ECF"].includes(processStatus) ) { %>
            let prograss_bar = document.getElementById("progress_bar")
            prograss_bar.style.display = "none";
            <% } %>
        })
    </script>

</div>

<style>
    /*
    #progress {
       background-color: #CCCCCC;
    }
    */

    #progress .progress-item {
        min-width: 2.5rem;

        position: relative;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;

    }

    #progress .progress-item-box {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 30%;

        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    #progress .user-box {
        background-color:#ee7499;
        border:1px solid #ee7499;
    }

    #progress .affiliate-box {
        background-color:#23afeb;
        border:1px solid #23afeb;
    }

    #progress .supplier-box {
        background-color:#1962aa;
        border:1px solid #1962aa;
    }

    #progress .user-color {
        color:#ee7499;
    }

    #progress .affiliate-color {
        color:#23afeb;
    }

    #progress .supplier-color {
        color:#1962aa;
    }

    #progress .progress-item-box-icon {
        height: 24px;
        width: 24px;

        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    #progress .progress-item-text {
        font-size: 13px;
        font-weight: 400;
        /*color:#444444;*/

        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: auto;
    }

    #progress .progress-middle-box {
        line-height: 61px;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    #progress .progress-middle-content {
        font-size: 15px;
        -webkit-box-pack: center;
        justify-content: center;
    }

    #progress .progress-explain-text {
        font-size: 1.2rem;
        font-weight: 700;
        color:#444444;
    }
</style>