<div class="modal selectdelv_download fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header text-center border-0 pb-0">
                <span style="width: 100%; margin-top: 5px; margin-bottom: 12px; font-size: 20px; font-weight: 600;">운송장 다운로드 택배사 선택</span>
            </div>
            <div class="modal-body text-center py-1">
                <!--                내용-->
                <select id="select_shipping_company" name="shipping" style="height:36px; width:190px; font-size: 14px;">
                    <option value="none">택배사 선택</option>
                    <option value="jpass">제이패스 기본양식</option>
                    <!--                    <option value="post">우체국택배</option>-->
                    <option value="cj">CJ 대한통운</option>
                    <!--                    <option value="lotte">롯데택배</option>-->
                </select>
            </div>
            <div class="modal-footer border-0 mb-1">
                <% if(sess.MemberMode_CD == "USR") { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">닫기</button>
                    <button type="button" id="downloadBtn" class="btn btn-ok usr rounded w-50">다운로드</button>
                <% } else if(sess.MemberMode_CD == "AFF") { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">닫기</button>
                    <button type="button" id="downloadBtn" class="btn btn-ok aff rounded w-50">다운로드</button>
                <% } else if(sess.MemberMode_CD == "SUP") { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">닫기</button>
                    <button type="button" id="downloadBtn" class="btn btn-ok sup rounded w-50">다운로드</button>
                <% } else { %>
                    <button type="button" class="btn btn-cancel white rounded w-50">닫기</button>
                    <button type="button" id="downloadBtn" class="btn btn-ok usr rounded w-50">다운로드</button>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>
    // 발주서 다운로드
    let downloadOrderList = function(type,company) {
        // console.log(type)
        // console.log(checkedItemCount)
        if (checkedItemCount < 1) {
            modal("선택된 상품이 없습니다.", 'ok', 'hide')
        } else {
            //배송관련 데이터 배열로 보내기
            var voucherSaleIDStr = ''
            var ordNameStr = ''
            var ordTelStr = ''

            <% for (var i=0; i < item.length; i++) { %>
            if ($("#img_checkbox<%=item[i].VoucherSale_ID%>").prop('checked')) {
                voucherSaleIDStr += '<%=item[i].VoucherSale_ID%>'+'/'
                ordNameStr += '<%=item[i].OrdName%>'+'/'
                ordTelStr += '<%=item[i].OrdTel%>'+'/'

            }
            <% } %>

            var data = new Object()
            data.type = type
            data.checkedItem = checkedItemCount
            data.voucherSaleIDStr = voucherSaleIDStr
            data.ordNameStr = ordNameStr
            data.ordTelStr = ordTelStr
            data.upDown = 'down'
            data.company = company
            data.favorShippingCourier = favorShippingCourier

            $("input:checkbox").prop("checked", false);
            checkedItemCount = 0
            modal("발주서가 다운로드 되었습니다.<br>다운로드된 파일을 확인해주세요.", 'ok', 'hide')

            $.redirect("/supplier/delivery/list/excel/?type=" + type, data);

        }
    }
    let t = document.getElementById('downloadBtn')
    t.addEventListener('click', function (event){
        let selectObject = document.getElementById('select_shipping_company')
        let selectValue = selectObject.options[selectObject.selectedIndex];

        if ( selectValue.value === 'none' ) {
            modal('택배사를 선택해주세요','ok','hide')
        } else {
            $('.modal.selectdelv_download').modal('hide')
            downloadOrderList('<%= type %>', selectValue.value)
        }
    })
</script>