<script src="/summer_note/summernote-lite.js"></script>
<script src="/summer_note/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summer_note/summernote-lite.css">
<%  
/*  
    2021.10.07 이병주
    summnote 라이브러리 (summbernote-list.js 등을 customizing 하였음 ( 검색: summernote-customizing ) )
*/
%>