<div class="topnav usr row m-0 flex-column">
    <div class="col m-0 p-0">
        <div class="row m-0 p-0 mx-12 align-items-center h-100">
            <div class="col col-20 m-0 p-0 text-left">
                <%-topnav_left%>
            </div>
            <div class="col m-0 p-0 title">
                <%-topnav_title%>
            </div>
            <div class="col col-20 m-0 p-0 text-right">
                <%-topnav_right%>
            </div>
        </div>
    </div>
</div>