<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../../../common/require/head_alarm %>
    <Style>
      html,body{
        width: 100%;
        height: 100%;
      }
    </Style>
  </head>
  <body>
    <% // this mode (directory) 가아닌 MemberMode로 구분함 %>
    <% if( sess.MemberMode_CD == undefined || sess.MemberMode_CD =='USR' ) {%>
      <% include ../../../common/require/topnav_usr %>
     <%}else if(sess.MemberMode_CD == "AFF"){%>
      <% include ../../../common/require/topnav_aff %>
      <%}else if(sess.MemberMode_CD == "SUP"){%>
      <% include ../../../common/require/topnav_sup %>
    <%}%>

    <% if (sess.Member_ID  == id) { %>
        <% include components/profileme %>
        <% include components/storeme %>
        <% } else if (sess.Member_ID  != id) { %>
        <% include components/profile %>
        <% include components/store %>
      <%}%>

    <% include ../../../common/require/modal %>
    <% include ../../../common/require/foot %>
	  
 	<% if(thismode == "user" && isbottomnav) {%>
	   <% include ../../../common/require/bottomnav_usr %>
	  <%}else if(thismode == "affiliate" && isbottomnav){%>
	   <% include ../../../common/require/bottomnav_aff %>
	   <%}else if(thismode == "affiliate" && isbottomnav){%>
	   <% include ../../../common/require/bottomnav_aff %>
	  <%}%>
    <% include components/script %>

  </body>
</html>