<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../../../common/require/head %>
    <Style>
      html,body{
        width: 100%;
        height: 100%;
      }
    </Style>
  </head>
  <body>
	 <% if(thismode == "user") {%>
	   <% include ../../../common/require/topnav_usr %>
	  <%}else if(thismode == "affiliate"){%>
	   <% include ../../../common/require/topnav_aff %>
	   <%}else if(thismode == "affiliate"){%>
	   <% include ../../../common/require/topnav_aff %>
	  <%}%>
        
    <% if (sess.Member_ID  == id) { %>
        <% include components/profileme %>
        <% include components/myinfome %>
      <%  } else if (sess.Member_ID  != id) { %>
        <% include components/profile %>
        <% include components/myinfo %>
      <%}%>

    <% include ../../../common/require/modal %>
    <% include ../../../common/require/foot %>
	  
 	<% if(thismode == "user" && isbottomnav) {%>
	   <% include ../../../common/require/bottomnav_usr %>
	  <%}else if(thismode == "affiliate" && isbottomnav){%>
	   <% include ../../../common/require/bottomnav_aff %>
	   <%}else if(thismode == "affiliate" && isbottomnav){%>
	   <% include ../../../common/require/bottomnav_aff %>
	  <%}%>
    <% include components/script %>

  </body>
</html>