         
    <div class="information iteminfo fixedbottom" style="display: block;">

        <div class="subject mx-12 usr">상품정보</div>
        <ul class="rowinfo">
            <li>
                <div class="row m-0 dispatchday  ">
                    <div class="col  p-0">
                        <div class="row m-0 ">
                            <div class="col col-title p-0 justify-content-center align-self-center  ">
                                <p class="text purchase ">상품이름</p>
                            </div>
                            <div class="col p-0  justify-content-center align-self-center">
                                <input type="text" class="border-0 w-100 text purchase content name" style="width:11rem;" value="<%=iteminfo[0].ItemTitle%>" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row m-0 dispatchday  ">
                    <div class="col  p-0">
                        <div class="row m-0 ">
                            <div class="col col-title p-0 justify-content-center align-self-center  ">
                                <p class="text purchase ">유효기간</p>
                            </div>
                            <div class="col p-0  justify-content-center align-self-center">
                                <input type="text" class="border-0 w-100 text purchase content name" value="<%=iteminfo[0].Started.toString().substr(0,10)%> ~ <%=iteminfo[0].Ended.toString().substr(0,10)%>" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        <% if(iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'DCA' || iteminfo[0].ItemType_CD == 'ATR' ) { %>
            <div class="row m-0 py-2 border-bottom">
                <div class="col-3 p-0 ">
                    <span class="text purchase">예약일</span>
                </div>
                <div class="col-9 p-0">
                    <input type="text" class="border-0 w-100 text purchase content name" value="<%=selday%>" readonly>
                </div>
            </div>

            <div class="row m-0 py-2 border-bottom">
                <div class="col-3 p-0 ">
                    <span class="text purchase">메모</span>
                </div>
                <div class="col-9 p-0">
                    <input type="text" class="border-0 w-100 text purchase name" value="" placeholder="메모를 입력하세요" >
                </div>
            </div>
    
            <% if(iteminfo[0].ItemType_CD == 'DTC' || iteminfo[0].ItemType_CD == 'ATR' ) { %>
    
                <div class="row m-0 mt-2 dispatchday ">
                    <div class="col  p-0">
                        <div class="row m-0 ">
                            <div class="col col-title p-0 justify-content-center align-self-center  ">
                                <p class="text purchase ">선택옵션</p>
                            </div>
                            <div class="col p-0  justify-content-center align-self-center">
                                <input type="text" class="border-0 w-100  " value="<%= timename %>" onclick="this.blur();" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
         <%}%>

        <% if(iteminfo[0].ItemType_CD == 'DEL' || iteminfo[0].ItemType_CD == 'FDE' ) { %>
        <li>
            <div class="row m-0 dispatchday  ">
                <div class="col  p-0">
                    <div class="row m-0 ">
                        <span class="text title"> 해당상품은 희망 배송일로부터 <%= fdeinfo[0].PrepTime %>일 전에 주문 해야하는 상품입니다. </span><br>
                        <span class="text title"> 해당상품은 하루 최대 <%= fdeinfo[0].DailyMaxDelivery %>개까지만 배송 가능합니다. </span>
                    </div>
                </div>
            </div>
        </li>
        <%}%>

    </div>

