
<div class="user order mb-2" style="display: block;">

    <div class="subject mx-12 usr">
        <div class="row m-0 p-0">
            <div class="col col-30 m-0 p-0">
                <p>수령인 정보</p>
            </div>
            <div class="col col-30 m-0 p-0 ">
                <div class="row " onclick="checkLoadInfo('delvinfo');">
                    <span class="icon-check samedelvinfo usr mr-1" style="margin-top:4px;"></span>
                    <span class="" style="color: #777777; margin-top:2px;">구매자 정보 동일</span>
                </div>
            </div>
            <div class="col col-40 p-0 text-right">
                <div class="col-20 p-0 text-right ">
                    <button type="button" class="btn btn-upload join usr m-0" onclick="loadAddressbook('/member/addressbook?type=load', '', '')">주소록</button>
                </div>
            </div>
        </div>
    </div>
        
    <ul class="rowinfo">
        <li>
            <div class="row m-0 dispatchday mt-12">
                <div class="col  p-0">
                    <div class="row m-0 " style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">이름</p>
                        </div>
                        <div class="col p-0  justify-content-center align-self-center">
                            <input type="text" class="form-control text amount recname" placeholder="수령인 이름을 입력해주세요"
                                onfocusout="" maxlength="32" style="padding-left: 10px; text-align:left;">
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="row m-0 dispatchday mt-12">
                <div class="col  p-0">
                    <div class="row m-0 " style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">연락처</p>
                        </div>
                        <div class="col p-0  justify-content-center align-self-center">
                            <input type="tel" class="form-control text amount phone recphone" placeholder="- 없이 숫자만 입력해주세요" size="32"
                            onkeydown="insertHypen(this)" onkeyup="removeChar(event), insertHypen(this)" maxlength="24" style="padding-left: 10px; text-align:left;">
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>

    <div class="subject mx-12 usr">
        <div class="row m-0 p-0">
            <div class="col col-30 m-0 p-0">
                <p>배송 정보</p>
            </div>
            <div class="col ml-0 text-right ">
                <div class="col p-0 ml-3 text-right ">
                    <button type="button" class="btn btn-upload join usr m-0" onclick="searchAddr()">주소찾기</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="rowinfo">
        <li>
            <div class="row m-0 dispatchday mt-12">
                <div class="col  p-0">
                    <div class="row m-0 " style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center ">
                            <p class="text purchase ">배송지 주소</p>
                        </div>
                        <div class="col p-0  justify-content-center align-self-center">
                            <input id="delivery_address" type="text" class="text joininfo recaddr w-100 p-0"
                                placeholder="배송지 주소를 입력해주세요" size="32" onkeydown="insertHypen(this)"
                                onkeyup="removeChar(event), insertHypen(this)" maxlength="24"  readonly >
                        </div>

                        <!-- <div class="col-20 p-0 text-right mt-1">
                            <button type="button" class="btn btn-upload join usr m-0" onclick="searchAddr()">주소찾기</button>
                        </div> -->
                        
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="row m-0 dispatchday mt-12">
                <div class="col  p-0">
                    <div class="row m-0 " style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">상세주소</p>
                        </div>
                        <div class="col p-0  justify-content-center align-self-center">
                            <input type="text" class="form-control text amount recaddretc" placeholder="배송지 상세주소를 입력해주세요"
                            onfocusout="" maxlength="32" style="padding-left: 10px; text-align:left;">
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="row m-0 dispatchday mt-12">
                <div class="col  p-0">
                    <div class="row m-0 " style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">우편번호</p>
                        </div>
                        <div class="col p-0  justify-content-center align-self-center">
                            <input id="address_zonecode" type="text" class="text joininfo recpostcode w-100" placeholder="우편번호 5자리를 입력해주세요"
                                onfocusout="" maxlength="32" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <% if(itempayinfo[0].ItemType_CD == 'FDE') {%>
            <li>
                <div class="row m-0 dispatchday mt-12">
                    <div class="col  p-0">
                        <div class="row m-0 " style="line-height: 0;">
                            <div class="col col-title p-0 justify-content-center align-self-center  ">
                                <p class="text purchase ">배송희망일</p>
                            </div>
                            <div class="col p-0  justify-content-center align-self-center">
                                <input type="text" class="text joininfo remarks wishshipday w-100" style="color: black;" value="" placeholder="배송희망일"
                                maxlength="24" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </li>    

            <!-- <li>
                <div class="row m-0 dispatchday mt-1">
                    <div class="col  p-0">
                        <div class="row m-0 ">
                            <div class="col col-title p-0 justify-content-center align-self-center  ">
                                <p class="text purchase ">배송 수량</p>
                            </div>
                            <div class="col p-0  justify-content-center align-self-center">
                                <input type="text" class="text joininfo remarks delvqty w-100" style="color: black;" value="<%= qty %> 개" placeholder="배송 수량"
                                maxlength="24" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
        <%}%>

        <li>
            <div class="row m-0 dispatchday mt-12">
                <div class="col  p-0">
                    <div class="row m-0 " style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">배송 메모</p>
                        </div>
                        <div class="col p-0  justify-content-center align-self-center">
                            <input type="text" class="form-control text amount shipmemo addrmessage remarks" placeholder="배송 메모를 입력해주세요"
                            maxlength="54" style="padding-left: 10px; text-align:left;">
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>

    <div class="text mt-3 invisible" style="background-color:#dddddd;">
        <div class="p-2 pt-3">
            <div class="row m-0">
                <div class="col p-0">
                    <div class="text">
                        <p class="explain">
                            서비스 제공자(발행자):&nbsp&nbsp<span class="explain light">리젠트마린</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <div class="text">
                        <p class="explain">
                            상품권 중개자:&nbsp&nbsp<span class="explain light">버스기사</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <div class="text">
                        <p class="explain">유효기간 연장 및 경과시 보상기준</p>
                        <p class="explain light">유효기간 내에 유효기간 연장을 신청하는 경우, 유효기간은 발급일로부터 5년 범위 내며, 3개월 단위로 연장됩니다. 유효기간이
                            만료되어 환불요청을 하는 경우, 결제 금액의 90%를 돌려드립니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="user store detail refund orderdetail usr" style="margin-top: 0rem; margin-bottom: -4.75rem;">
</div> -->