<div class="user payment fixedbottom mb-2" style="display: block;">

    <p class="subject mx-12 usr">결제 정보</p>
    <div class="gift m-2 mt-0">
        <div class="row m-0 ">
            <% if (itempayinfo[0].ItemType_CD == 'ATR') { %>
                <!-- (2021.07.23 유효경) 결제정보 박스 높이 조절 -->
                <!-- <div class="col p-0 background" style="height: 8rem !important;"> -->
                <div class="col p-0 background" style="height:auto; max-height: 8.8rem;">
            <% } else { %>
                <div class="col p-0 background">
            <% } %>
                <div class="row m-2 ">
                    <!-- (2021.07.23 유효경) 이미지 수직 가운데 정렬 -->
                    <!-- <div class="col col-img p-0 "> -->
                    <div class="col col-img p-0 align-self-center">
                        <img class="product " src="<%=itempic[0].Filepath%><%=itempic[0].Filename%>">
                    </div>
                    <div class="col p-0 ml-2">
                        <div class="row m-0 p-0 ">
                            <!-- (2021.07.15 유효경 추가) class="itemname" 상품 제목 2줄 처리를 위해 style="word-break:break-all;" 추가 -->
                            <!-- (2021.07.23 유효경) 상품명 2줄 처리 클래스 변경 class="list-itemtitle" style="font-weight: 400;" -->
                            <p class="list-itemtitle" style="font-weight: 400;"><%=iteminfo[0].ItemTitle%></p>
                        </div>
                        <div class="row m-0 p-0 invisible ">
                            <div class="col p-0 ">
                                <span class="price">예약날짜 : 2019-05-22 ~ 2019-05-23</span>
                            </div>
                        </div>
                        <% if (itempayinfo[0].ItemType_CD == 'ATR') { %>

                            <% if (itemoptionQtyArr[0] > 0) { %>
                                <div class="row m-0 p-0 mt-1">
                                    <div class="col p-0 ">
                                        <span class="price"> 대인 <%=itemoptionPriceArr[0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> 원 × </span>
                                        <span class="price"> <%=itemoptionQtyArr[0]%> 개</span>
                                    </div>
                                    
                                    <div class="col p-0 text-right justify-content-center align-self-center">
                                        <span class="price"> 금액 : <span class="bold text _ee7499 "><%=(itemoptionPriceArr[0] * itemoptionQtyArr[0]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></span> 원</span>
                                    </div>
                                </div>    
                            <% } %>

                            <% if (itemoptionQtyArr[1] > 0) { %>
                                <div class="row m-0 p-0 mt-1">
                                    <div class="col p-0 ">
                                        <span class="price"> 청소년 <%=itemoptionPriceArr[1].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> 원 × </span>
                                        <span class="price"> <%=itemoptionQtyArr[1]%> 개</span>
                                    </div>
                                    
                                    <div class="col p-0 text-right justify-content-center align-self-center">
                                        <span class="price"> 금액 : <span class="bold text _ee7499 "><%=(itemoptionPriceArr[1] * itemoptionQtyArr[1]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></span> 원</span>
                                    </div>
                                </div>
                            <% } %>

                            <% if (itemoptionQtyArr[2] > 0) { %>
                                <div class="row m-0 p-0 mt-1">
                                    <div class="col p-0 ">
                                        <span class="price"> 소인 <%=itemoptionPriceArr[2].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> 원 × </span>
                                        <span class="price"> <%=itemoptionQtyArr[2]%> 개</span>
                                    </div>
                                    
                                    <div class="col p-0 text-right justify-content-center align-self-center">
                                        <span class="price"> 금액 : <span class="bold text _ee7499 "><%=(itemoptionPriceArr[2] * itemoptionQtyArr[2]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></span> 원</span>
                                    </div>
                                </div>
                            <% } %> 


                        <% } else { %>
                            <div class="row m-0 p-0 mt-1">
                                <div class="col p-0 ">
                                    <span class="price"> <%=iteminfo[0].SalePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> 원 × </span>
                                    <span class="price"> <%=qty%> 개</span>
                                </div>
                                <div class="col p-0 text-right justify-content-center align-self-center">
                                    <span class="price"> 금액 : <span class="bold text _ee7499 "><%=(iteminfo[0].SalePrice * qty).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></span> 원</span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="rowinfo ">
        <li class="invisible">
            <div class="row m-0 mt-2 dispatchday ">
                <div class="col  p-0">
                    <div class="row m-0 ">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">예약일</p>
                        </div>
                        <div class="col p-0 justify-content-center align-self-center">
                            <input type="text" class="border-0 w-100" value="2019-05-01 ~ 2019-05-01"
                                onclick="this.blur();">
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <!-- (2021.07.12 유효경) 입력칸 사이 간격 0.75rem(12px)로 설정 -->
        <li>
            <div class="row m-0 mt-12 dispatchday ">
                <div class="col p-0">
                    <div class="row m-0 "style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center ">
                            <p class="text purchase ">총 상품금액</p>
                        </div>
                        <% if (itempayinfo[0].ItemType_CD == 'ATR') { %>
                            <div class="col p-0 justify-content-center align-self-center">
                                <span class="text purchase sell" style="color: black;"> <%=totalPriceATR.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> 원 </span>
                            </div>
                        <% } else { %>
                            <div class="col p-0 justify-content-center align-self-center">
                                <span class="text purchase sell" style="color: black;"> <%=(iteminfo[0].SalePrice * qty).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> 원 </span>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </li>
        
        <% if (itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE') { %>
            <% if (itempayinfo[0].ShippingFeeType_CD == 'FRE') { %>
                <li>
                    <div class="row m-0 mt-12 dispatchday ">
                        <div class="col  p-0">
                            <div class="row m-0 " style="line-height: 0;">
                                <div class="col col-title p-0 justify-content-center align-self-center ">
                                    <p class="text purchase ">총 배송금액</p>
                                </div>
                                <div class="col p-0 justify-content-center align-self-center">
                                    <span class="text purchase sell" style="color: black;"> 무료 배송 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            <% } else { %>
                <li>
                    <div class="row m-0 mt-12 dispatchday ">
                        <div class="col  p-0">
                            <div class="row m-0 " style="line-height: 0;">
                                <div class="col col-title p-0 justify-content-center align-self-center ">
                                    <p class="text purchase ">총 배송금액</p>
                                </div>
                                <div class="col p-0 justify-content-center align-self-center">
                                    <span class="text purchase sell" style="color: black;"> <%=itempayinfo[0].ShippingFee.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> 원 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
              
            <% } %>
        <% } %>
        
        <li>
            <div class="row m-0 mt-12 dispatchday ">
                <div class="col  p-0">
                    <div class="row m-0 " style="line-height: 0;">
                        <div class="col col-title p-0 justify-content-center align-self-center ">
                            <p class="text purchase tot">주문금액</p>
                        </div>
                        <% if (ItemType_CD == 'ATR') { %>
                            <div class="col p-0 justify-content-center align-self-center"><span>
                                <span class="border-0 w-100 text _ee7499 font-weight-bold"><%=totalPriceATR.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></span> 원 </span>
                            </div>
                        <% } else { %>
                            <div class="col p-0 justify-content-center align-self-center"><span>
                                <span class="border-0 w-100 text _ee7499 font-weight-bold"><%=itempayinfo[0].TotalAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></span> 원 </span>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <p class="subject mx-12 usr">결제수단</p>

    <div class="row m-0 mt-3 mx-12" style="padding-bottom:5rem;">
        <div class="col p-0  justify-content-center align-self-center" >
            <button class="btn btn-common selected usr" name="payment" onclick="selectOne('payment', this, 'usr');selectMethod('card')">신용/체크카드</button>
        </div>
    </div>
    <div class="row m-0 mt-1 mx-12 invisible">
        <div class="col p-0  justify-content-center align-self-center">
            <button class="btn btn-common" name="payment" onclick="selectOne('payment', this, 'usr');selectMethod('vbank')">계좌이체/무통장입금</button>
        </div>
    </div>
    <div class="row m-0 mt-1 mx-12 invisible">
        <div class="col p-0  justify-content-center align-self-center" >
            <button class="btn btn-common" name="payment" onclick="selectOne('payment', this, 'usr');selectMethod('phone')">휴대폰결제</button>
        </div>
    </div>

    <div class="user search detail button fixed-bottom">
        <div class="row m-0 mt-3">
            <div class="col p-0  ">
                <!-- <button class="btn btn-ok btnpayment" onclick="<%if(sess.ConfirmTel === 'Y'){ %>kakaoPay()<%} else {%>  modal('휴대폰 인증을 확인하세요', 'ok', 'hide')<%}%>"><img src="/img/kakaopay.png"></button> -->
                <button class="btn btn-ok usr btnpayment" onclick="<%if(sess.ConfirmTel === 'Y'){ %>pay();<%} else {%>  modal('구매를 위한 휴대폰 인증이 필요합니다.', 'ok', 'hide')<%}%>">결제하기</button>
            </div>
        </div>
    </div>

</div>