<div class="user purchase mb-2" style="display: block;">

    <div class="subject mx-12 usr" onclick="showBuyerInfo();">
        <div class="row m-0 p-0">
            <div class="col col-70 m-0 p-0">
                <p>구매자 정보</p>
            </div>
            <div class="col col-20 m-0 p-0 text-right" >
                <p class="icon " id="buyerinfo" style="margin-top:-5px;">top_s</p>
            </div>
        </div>
    </div>
 
    <ul class="rowinfo buyerinfo"> 
        <li class="type3">
            <div class="row m-0 dispatchday">
                <div class="col  p-0">
                    <div class="row m-0 ">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">이름<% if(sess.ConfirmTel != 'Y'){ %>(변경가능)<%}%></p>
                        </div>
                        <div class="col p-0 justify-content-center align-self-center">
                            <input type="text" class="border-0 w-100 text purchase content name" value="<%=sess.MemberName%>" onfocusout="txtCheck('NAME', this)" maxlength="32" <% if(sess.ConfirmTel == 'Y'){ %>readonly<%}%>>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="type3">
            <div class="row m-0 dispatchday ">
                <div class="col  p-0">
                    <div class="row m-0 ">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">이메일</p>
                        </div>
                        <div class="col p-0 justify-content-center align-self-center">
                            <input type="email" class="border-0 w-100 text purchase content email" value="<%=sess.AccountID%>" onclick="this.blur();" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="type3">
            <div class="row m-0 dispatchday ">
                <div class="col  p-0">
                    <div class="row m-0 ">
                        <div class="col col-title p-0 justify-content-center align-self-center  ">
                            <p class="text purchase ">연락처<% if(sess.ConfirmTel != 'Y'){ %>(변경가능)<%}%></p>
                        </div>
                        <div class="col p-0 justify-content-center align-self-center">
                            <input type="tel" class="border-0 w-100 text purchase content phone" value="<%=sess.Phone%>" placeholder="- 없이 숫자만 입력해주세요" onfocusout="validPhone(this);checkAuthPhone();" onkeydown="insertHypen(this)" onkeyup="removeChar(event), insertHypen(this)" maxlength="24" <% if(sess.ConfirmTel == 'Y'){ %>readonly<%}%>>                          
                        </div>
                        <div class="col col-btn p-0 justify-content-center align-self-center text-right">
                            <button type="button" class="btn btn-modify usr border none m-0">                                                                                    
                                    <% if(sess.ConfirmTel != 'Y'){ %>
                                        미인증번호
                                    <% }else{%>
                                        인증완료
                                    <%}%>                                                                             
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </li>
    
        <li class="type3 phoneauth <% if(sess.ConfirmTel == 'Y'){ %> invisible <%}%>">        
            <div class="row m-0 ">
                <div class="col col-title p-0 justify-content-center align-self-center  ">
                    <p class="text purchase ">인증코드</p>            
                </div>

                <div class="col col-40 p-0 ">
                    <input type="number" class="border-0 w-100 text purchase authcode" value="" maxlength="4" oninput="maxLengthCheck(this)">
                </div>

                <div class="col p-0 justify-content-center align-self-center text-right">
                    <button type="button" class="btn btn-modify usr border btnauth m-0" onclick="phoneAuth()">전송하기 </button>
                </div>

                <div class="col p-0 justify-content-center align-self-center text-right ">
                    <button type="button" class="btn btn-modify usr p-0 m-0" onclick="authCheck()">인증하기 </button>
                </div>

            </div>
            <div id="timerDiv" style="display:none">
                <p class="text text-right user" style="font-size: 0.625rem; color:#ee7499">잠시후 시도하세요... <span id="timerSpan"></span></p>
            </div>
        </li>


    </ul>

</div>