     
     <div class="user reserve" style="display: block;">
      
              <!-- <div class="subject mx-12 usr">수령인 정보</div> -->

                <!-- <div class="row m-0 mt-2 pb-2 "  onclick="check('corporation', 1) ">
                    <div class="col col-check p-0 ">                      
                        <span class="icon-check sup"></span>
                    </div>
                    <div class="col p-0 h-100 mt-1 ml-2 ">                      
                        <p class="text check ">사업장 소재지와 동일</p>
                    </div>
                </div> -->
              
                <!-- <ul class="rowinfo">
                    <li>
                        <div class="row m-0 dispatchday mt-1">
                            <div class="col  p-0">
                                <div class="row m-0 ">
                                    <div class="col col-title p-0 justify-content-center align-self-center  ">
                                        <p class="text purchase ">수령인</p>
                                    </div>
                                    <div class="col p-0  justify-content-center align-self-center">
                                        <input type="text" class="text joininfo rsvname w-100" placeholder="수령인 이름을 입력해주세요"
                                        onfocusout="" maxlength="32">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row m-0 dispatchday mt-1">
                            <div class="col  p-0">
                                <div class="row m-0 ">
                                    <div class="col col-title p-0 justify-content-center align-self-center  ">
                                        <p class="text purchase ">연락처</p>
                                    </div>
                                    <div class="col p-0  justify-content-center align-self-center">
                                        <input type="tel" class="text joininfo rsvphone w-100" placeholder="- 없이 숫자만 입력해주세요" size="32"
                                        onkeydown="insertHypen(this)" onkeyup="removeChar(event), insertHypen(this)" maxlength="24">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul> -->
        
              <div class="subject mx-12 usr">예약 정보</div>

              <ul class="rowinfo">
                <!-- (2021.07.12 유효경) 입력칸 사이 간격 0.75rem(12px)로 설정 -->
                <li>
                    <div class="row m-0 dispatchday mt-12">
                        <div class="col  p-0">
                            <div class="row m-0 " style="line-height: 0;">
                                <div class="col col-title p-0 justify-content-center align-self-center  ">
                                    <p class="text purchase ">예약자명</p>
                                </div>
                                <div class="col p-0 justify-content-center align-self-center">
                                    <input type="text" class="form-control text amount remarks reservename" value="<%=sess.MemberName%>" placeholder="수령인 이름을 입력해주세요"
                                        onfocusout="txtCheck('NAME', this)" maxlength="32" style="padding-left: 10px; text-align:left;">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row m-0 dispatchday mt-12">
                        <div class="col  p-0">
                            <div class="row m-0 " style="line-height: 0;">
                                <div class="col col-title p-0 justify-content-center align-self-center  ">
                                    <p class="text purchase ">연락처</p>
                                </div>
                                <div class="col p-0 justify-content-center align-self-center">
                                    <input type="tel" class="form-control text amount remarks reservetel" value="<%=sess.Phone%>" placeholder="- 없이 숫자만 입력해주세요" 
                                        onfocusout="validPhone(this);checkAuthPhone();" onkeydown="insertHypen(this)" onkeyup="removeChar(event), insertHypen(this)" maxlength="24" 
                                        style="padding-left: 10px; text-align:left;">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row m-0 dispatchday mt-12">
                        <div class="col  p-0">
                            <div class="row m-0 " style="line-height: 0;">
                                <div class="col col-title p-0 justify-content-center align-self-center ">
                                    <p class="text purchase ">예약일</p>
                                </div>
                                <div class="col p-0 justify-content-center align-self-center">
                                    <input type="text" class="text joininfo remarks reserveday w-100" style="color: black;" value="" placeholder="예약일"
                                    maxlength="24" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row m-0 dispatchday mt-12">
                        <div class="col  p-0">
                            <div class="row m-0 " style="line-height: 0;">
                                <div class="col col-title p-0 justify-content-center align-self-center  ">
                                    <p class="text purchase ">예약 인원</p>
                                </div>
                                <div class="col p-0 justify-content-center align-self-center">
                                    <input type="text" class="text joininfo remarks reserveqty w-100" style="color: black;" value="<%= qty %>" placeholder="예약 인원"
                                    maxlength="24" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row m-0 dispatchday mt-12">
                        <div class="col  p-0">
                            <div class="row m-0 " style="line-height: 0;">
                                <div class="col col-title p-0 justify-content-center align-self-center  ">
                                    <p class="text purchase ">예약 메모</p>
                                </div>
                                <div class="col p-0 justify-content-center align-self-center">
                                    <input type="text" class="form-control text amount remarks reserveMemo" placeholder="예약 메모를 입력해주세요"
                                        maxlength="24" style="padding-left: 10px; text-align:left;">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
              
          </div>
       
          <div class="text mt-3 invisible" style="background-color:#dddddd;">
              <div class="p-2 pt-3">
                  <div class="row m-0">
                      <div class="col p-0">
                          <div class="text">
                              <p class="explain">
                                  서비스 제공자(발행자):&nbsp&nbsp<span class="explain light">리젠트마린</span>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="row m-0">
                      <div class="col p-0">
                          <div class="text">
                              <p class="explain">
                                  상품권 중개자:&nbsp&nbsp<span class="explain light">버스기사</span>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="row m-0">
                      <div class="col p-0">
                          <div class="text">
                              <p class="explain">유효기간 연장 및 경과시 보상기준</p>
                              <p class="explain light">유효기간 내에 유효기간 연장을 신청하는 경우, 유효기간은 발급일로부터 5년 범위 내며, 3개월 단위로 연장됩니다. 유효기간이
                                  만료되어 환불요청을 하는 경우, 결제 금액의 90%를 돌려드립니다.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
      </div>

     <!-- <div class="user store detail refund orderdetail usr" style="margin-top: 0rem; margin-bottom: -4.75rem;">
     </div> -->


