<script>

    setCookie("ItemType_CD", '<%=itempayinfo[0].ItemType_CD%>');

    // var IMP = window.IMP; // 생략가능
    // IMP.init('<%=IMPcode%>'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용

    var findaddr = document.getElementById("findaddr");
    const calendar = document.getElementById('event-cal-container')
    const purchase = document.getElementsByClassName('purchase');
    const payment = document.getElementsByClassName('payment');
    const order = document.getElementsByClassName('order');
    const reserve = document.getElementsByClassName('reserve');
    const start = document.getElementsByClassName('start')
    const end = document.getElementsByClassName('end')

    // 20210405 인증하기 전송 / 재전송 제어 ( 추가 이병주)
    let phoneAuthFlag = true
    let flagCount = 20 // 시간설정

    var data = new Object()
    let sdate = 0
    let fdate = 0
    var selday = ''
    // Fn pay 결제하기 flag (추가 이병주 20210309 )
    let payFlag = true

    var hideAll = function() {
        calendar.style.display = 'none'
        "<% if (itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE') {%>"
        order[0].style.display = 'none'
        "<%}%>"
        "<% if (itempayinfo[0].ItemType_CD == 'DTC' || itempayinfo[0].ItemType_CD == 'DCA' || itempayinfo[0].ItemType_CD == 'ATR') { %>"
        reserve[0].style.display = 'none'
        "<%}%>"
        payment[0].style.display = 'none'
        purchase[0].style.display = 'none'
        findaddr.style.display = 'none'
    }

    var showAll = function() {
        "<% if (itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE') {%>"
        order[0].style.display = 'block'
        "<%}%>"
        "<% if (itempayinfo[0].ItemType_CD == 'DTC' || itempayinfo[0].ItemType_CD == 'DCA' || itempayinfo[0].ItemType_CD == 'ATR') { %>"
        reserve[0].style.display = 'block'
        "<%}%>"
        payment[0].style.display = 'block'
        purchase[0].style.display = 'block'
    }


    var movePage = function(str) {
        let back = ''
        if (str == "detailbuy") {
            hideAll();
            back = '<span class="icon before"  onclick="move(getRedirectURL(1))">before</span>';
            changeTitle(back, '구매정보', '');

            payment[0].style.display = 'block'
            reserve[0].style.display = 'block'
            purchase[0].style.display = 'block'
        } else if (str == "detailbuycalendar") {
            hideAll();
            back = '<span class="icon before align-middle" onclick="movePage(\'detailbuy\')">before</span>';
            changeTitle(back, '날짜지정', '');

            calendar.style.display = 'block'
        }

        pcresize();

    }


    var showBuyerInfo = function(){
        if($('#buyerinfo').html() == 'top_s'){

            $('#buyerinfo').html('bottom_s')
        }else{
            $('#buyerinfo').html('top_s')
        }
        $('.buyerinfo').toggle();
    }


    // 주소록에서 불러온 정보를 초기화한다. (쿠키 초기화)
    var clearAddressbook = function() {
        setCookie("addr_title", "", -1)
        setCookie("addr_postcode", "", -1)
        setCookie("addr_addr", "", -1)
        setCookie("addr_addretc", "", -1)
        setCookie("addr_tel", "", -1)
        setCookie("addr_message", "", -1)
    }


    // 주소록에서 선택한 주소 정보를 불러와서 배송 정보에 넣는다.
    var loadAddressbook = function(uri, popupName, options) {

        clearAddressbook();

        openDialog(uri, popupName, options, function(win) {
            if (getCookie("addr_postcode")) {
                $('.recpostcode').val(getCookie("addr_postcode"));
            }
            if (getCookie("addr_addr")) {
                $('.recaddr').val(getCookie("addr_addr"));
            }
            if (getCookie("addr_addretc")) {
                $('.recaddretc').val(getCookie("addr_addretc"));
            }
            if (getCookie("addr_receiver")) {
                $('.recname').val(getCookie("addr_receiver"));
            }
            if (getCookie("addr_tel")) {
                $('.recphone').val(getCookie("addr_tel"));
            }
            if (getCookie("addr_message") == '') {
                $('.addrmessage').val("")
            } else {
                $('.addrmessage').val(getCookie("addr_message"));
            }

        });

        clearAddressbook();

        // $('.recadddrtitle').val(getCookie("addr_title"));
        // $('.recpostcode').val(getCookie("addr_postcode"));
        // $('.recaddr').val(getCookie("addr_addr"));
        // $('.recaddretc').val(getCookie("addr_addretc"));
        // $('.recaddrphone').val(getCookie("addr_tel"));

    }

    var openDialog = function(uri, name, options, closeCallback) {
        var win = window.open(uri, name, options);
        var interval = window.setInterval(function() {
            try {
                if (win == null || win.closed) {
                    window.clearInterval(interval);
                    closeCallback(win);
                }
            }
            catch (e) {
            }
        }, 500);
        return win;
    };


    function searchAddr() {
        // pcresize();
        hideAll();

        let left = '';
        let right = '';
        back = '<span class="icon before align-middle" onclick="closeAddr()">before</span>';
        right = '';

        findaddr.style.display = 'block';

        changeTitle(back, '주소검색', right);
        daum.postcode.load(function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    // console.log(data)
                    $('#delivery_address').val(data.address)
                    $('#address_zonecode').val(data.zonecode)
                    closeAddr()
                },
                width: "100%",
                height: "100%",
                maxSuggestItems: 5
            }).embed(findaddr);
        });

        findaddr.style.display = "block";      // iframe을 넣은 element를 보이게 한다.

        setAddrPosition();  // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
    }

    function closeAddr() {
        back = '<span class="icon before align-middle" onclick="history.back();">before</span>';
        right = '<span class="text _ee7499">결제</span>';

        changeTitle(back, '구매정보', right);
        findaddr.style.display = "none";
        showAll()
        pcresize()
    }

    function setAddrPosition() {

        findaddr.style.width = "100%";
        findaddr.style.height = "100%";
        findaddr.style.left = "0";
        findaddr.style.top = "6rem";
        pcresize()
    }


    // 구매자 정보 동일 버튼 클릭/해제 시 동작 (구매자 정보를 불러와서 배송 정보에 넣는다.)
    function checkLoadInfo(type) {

        if (type == "delvinfo") {
            if ($('.samedelvinfo').hasClass('active')) {
                $('.samedelvinfo').removeClass('active');
                $('.recname').val("");
                $('.recphone').val("");
                // $('.recaddr').val("")
                // $('.recaddretc').val("")
                // $('.recpostcode').val("")
            } else {
                $('.samedelvinfo').addClass('active');
                $('.recname').val('<%=sess.MemberName%>');
                $('.recphone').val('<%=sess.Phone%>');
                // $('.recaddr').val('<%=sess.Addr%>')
                // $('.recaddretc').val('<%=sess.AddrEtc%>')
                // $('.recpostcode').val('<%=sess.Postcode%>')
            }
        }

    }

    function selectMethod(str) {
        data.Method = str
    }

    // flag 변경함수 20210405 이병주 
    const changePhoneFlag = () => {

        document.getElementById("timerSpan").innerHTML = flagCount;
        if(flagCount === 0 ) {
            document.getElementById("timerDiv").style.display = "none"
        }

        if (flagCount--) {
            setTimeout(changePhoneFlag, 1000);

        } else {
            phoneAuthFlag = true
            flagCount = 20 // 최상단 시간이랑 맞춰야함
            return
        }

    }

    /**
     * 2021.06.10 고금필 : 사용중인번호, 인증번호 전송 통합 작업
     * 2021.06.10 고금필 : 사용중인번호, 인증번호 전송 재 분리 작업 (사유 : 상세 MODAL처리를 위해)
     */
    let phoneAuth = function () { //전화번호 형식 검증
        if ( validPhone($('.phone:eq(0)')[0]) === false ) {
            modal('nophonenum','ok','hide')
            return
        }
        data.Phone = $('.phone').val()

        data.usrname = 'CHECKPHONEEXIST'
        data.uri = '/api/v1/member/checkphone'

        $.post("/api/execute", data, function (jqXHR) {
            console.log(jqXHR)
            if (jqXHR.msg === 'SUPAFFEXIST') { // 공급자,중개자 사용번호 금지
                modal('affsupexistphonenum','ok','hide')
                phoneAuthFlag = true
            } else if (jqXHR.msg === 'USREXIST') {
                modal('alreadyusedphonenum','yesno','','sendAuthCode()','hide')
            } else if (jqXHR.msg === 'NOT EXIST') {
                sendAuthCode()
            } else {//실패
                modal('sendfail', 'ok', 'hide')
            }
        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) { })
            .fail(function (jqXHR) { })
            .always(function (jqXHR) { });
    }
    let sendAuthCode = function () {
        $('.modal.yesno').modal('hide') //yesno modal hide

        if ( validPhone($('.phone:eq(0)')[0]) === false ) { //전화번호 형식 한번더 재검사
            modal('nophonenum','ok','hide')
            return
        }

        $('.btnauth').html('재전송')
        $('.btnauth').attr('onclick', 'phoneAuth()')

        if ( phoneAuthFlag ) {
            showLoadingWithMask()
            data.Phone = $('.phone').val()
            data.usrname = 'SENDAUTHCODE'
            data.uri = '/api/v1/member/genauthcode'

            $.post("/api/execute", data, function (jqXHR) {

                if (jqXHR.msg === 'SUCCESS') { // 사용자 사용번호 YES OR NO
                    closeLoadingWithMask()
                    modal('sendsuccess', 'ok', 'hide')
                    data.auth = 'no'
                    $('.authcode').attr('disabled', false)
                    $('.authok').attr('disabled', false)
                    $('.authok').attr('onclick', 'authCheck()')
                } else { //실패
                    closeLoadingWithMask()
                    modal('sendfail', 'ok', 'hide')
                }
            }, 'json' /* xml, text, script, html */)
                .done(function (jqXHR) { })
                .fail(function (jqXHR) { })
                .always(function (jqXHR) { });

            phoneAuthFlag = false
            document.getElementById("timerDiv").style.display = "none"
            changePhoneFlag();
        } else {
            document.getElementById("timerDiv").style.display = "block"
        }
    }


    function authCheck() {

        if ( $('.authcode').val() === '' ) {
            modal('noauthcode','ok','hide')
            return;
        }

        data.code = $('.authcode').val();
        data.Phone = $('.phone').val();
        data.CheckMode = 'CONFIRM'
        data.uri = '/api/v1/member/checkcode'

        $.post("/api/execute", data, function (jqXHR) {
            if (jqXHR.msg == 'SUCCESS') {
                data.buy = 'Y'
                data.Member_ID = parseInt('<%=sess.Member_ID %>')
                    data.uri = '/api/v1/member/updateconfirmtel'

                $.post("/api/execute", data, function (jqXHR) {
                    if(jqXHR.msg == 'SUCCESS') {
                        modal('authok','ok','hide')
                        data.auth = 'yes'
                        data.ConfirmTel = 'Y'
                        $('.none').html('인증완료')
                        $('.phoneauth').addClass('invisible')
                        $('.btnpayment').attr('onclick', 'pay()')
                    } else {
                        data.auth = 'no'
                        modal('authfail', 'ok', 'hide')
                    }
                })
            } else {
                data.auth = 'no'
                modal('authfail', 'ok', 'hide')
            }
        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) {           })
            .fail(function (jqXHR) {            })
            .always(function (jqXHR) {            });
    }

    var checkAuthPhone = function () {
        "<% if (memberinfo[0].ConfirmTel == 'Y') { %>"

        if ($('.phone').val() == '<%=sess.Phone%>') {
            $('.phoneauth').addClass('invisible')
        } else {
            $('.phoneauth').removeClass('invisible')
        }
        "<% } %>"
    }

    var validPhone = function (obj) {
        if (phoneCheck(obj)) {
            $('.nvphone').addClass('invisible');
            return true
        } else {
            $('.nvphone').removeClass('invisible');
            return false
        }
    }

    // 기간 입력 캘린더 날짜 지정 시
    var showCalendar = function() {
        hideAll();

        start[0].value = ''
        end[0].value = ''
        back = '<span class="icon before align-middle" onclick="movePage(\'detailbuy\')">before</span>';
        changeTitle(back, '날짜지정', '');
        calendar.style.display = 'block'
    }

    var selectDay = function(obj) {
        let finalstr = ''

        if (calType == 'view') {
            $('.selected.usr').removeClass('selected usr')
            $(obj).addClass('selected usr')
            $('.today').addClass('usr')
        } else {
            if (cnt == 0) {
                $(obj).addClass('selected usr')
                if (calType == 'view') {
                    sdate = $(obj).attr('data-date_view')
                } else {
                    sdate = $(obj).attr('data-date')
                }
                cnt = 1;
            } else if (cnt == 1) {

                if (calType == 'view') {
                    fdate = $(obj).attr('data-date_view')
                } else {
                    fdate = $(obj).attr('data-date')
                }

                if (new Date(sdate).getTime() > new Date(fdate).getTime()) {
                    // 선택한 날짜보다 이전일때 기선택 날짜 selected 제거 이병주 
                    $('.day.selected').removeClass('selected') // 출력제거
                    sdate,cnt = 0; // 기선택 event제거
                    alert('선택한 날짜보다 이전 입니다.');
                    fdate = 0;
                    return;
                }
                $(obj).addClass('selected usr')
                finalstr = sdate + '~' + fdate
                //console.log(finalstr)
                let start = document.getElementsByClassName('start')
                let end = document.getElementsByClassName('end')
                getDateRange(sdate, fdate, listDate)
                if (calType == 'view') {
                    for (var i = 1; i < listDate.length - 1; i++) {
                        $("[data-date_view=" + listDate[i] + "]").addClass('range usr')
                    }
                } else {
                    for (var i = 1; i < listDate.length - 1; i++) {
                        $("[data-date=" + listDate[i] + "]").addClass('range usr')
                    }
                }
                start[0].value = sdate
                end[0].value = fdate
                move('/supplier/order/list?order=normal&type=date&sdate='+start[0].value+'&edate='+ end[0].value,true );

                //page('list')
                cnt = 2
            } else if (cnt == 2) {
                sdate = 0;
                fdate = 0;
                listDate = [];
                $('.selected.usr').removeClass('selected usr')
                $('.range.usr').removeClass('range usr')
                $(obj).addClass('selected usr')
                if (calType == 'view') {
                    sdate = $(obj).attr('data-date_view')
                } else {
                    sdate = $(obj).attr('data-date')
                }
                cnt = 1
                $('.today').addClass('usr')

            }

            if (calType == 'view') {
                selday = new Date($(obj).attr('data-date_view')).format('yyyy-MM-dd')
            } else {
                selday = new Date($(obj).attr('data-date')).format('yyyy-MM-dd')
            }

            // $('.selected.usr').removeClass('selected usr')
            $(obj).addClass('selected usr')
            $('.today').addClass('usr')
        }
    }


    var updatecal = function () {

        let elem = document.getElementById('resv');
        const cl = document.querySelectorAll('#resv .row');
        var row = cl[0].cloneNode(true);
        elem.innerHTML = ''
        elem.appendChild(row);

        var StartDate = new Date('<%= iteminfo[0].Started.toString().substring(0,10) %>').format('yyyy-MM-dd')
        var EndDate = new Date('<%= iteminfo[0].Ended.toString().substring(0,10) %>').format('yyyy-MM-dd')
        var days = $('.calendar').find('.day').length

        if (new Date().format('yyyy-MM-dd') > new Date($('.calendar').find('[data-date=' + StartDate + ']').attr('data-date')).format('yyyy-MM-dd')) {
            $('.calendar').find('[data-date=' + new Date().format('yyyy-MM-dd') + ']').addClass('selected usr')
        } else {
            $('.calendar').find('[data-date=' + StartDate + ']').addClass('selected usr')
        }

        // $('.selected').parents('td').removeClass('selected')
        $('.selected').removeClass('selected')
        $('.today').addClass('usr')

        var date = new Date(); /* 현재 */

        var year =$('.calmonth').html().split('/')[1]
        var month =$('.calmonth').html().split('/')[0]
        var datenum = new Date(year, month, 0).getDate();

        date.setDate(date.getDate() + 3);

        for(var i=0; i<datenum; i++){
            if(i<9){
                var day = '0'+(i+1)
            }else{
                var day = (i+1)
            }
            var caldate = year + '-'+month+'-' + day

            if(new Date(caldate) < new Date(date) ){
                $("[data-date=" + caldate + "]").parents('td').addClass('wrongday')
            }else{
                $("[data-date=" + caldate + "]").parents('td').removeClass('wrongday')
            }

        }

    }


    var noresv = function () {

        modal('예약 할 수 없는 날짜 입니다.', 'ok', 'hide')
        $('.selected.usr').removeClass('selected usr');

        selday = ''
        return;
    }


    var selectDay = function (obj) {

        if (new Date().format('yyyy-MM-dd') > new Date($(obj).attr('data-date')).format('yyyy-MM-dd')) {
            modal('오늘 날짜보다 이전 입니다.', 'ok', 'hide')
            return;
        }

        if( $(obj).hasClass( "wrongday" ) ){
            modal('선택 할 수 없는 날짜 입니다.', 'ok', 'hide')
            return;
        }

        $('.selected.usr').removeClass('selected usr')
        $(obj).addClass('selected usr')
        $('.today').addClass('usr')

        selday = new Date($(obj).attr('data-date')).format('yyyy-MM-dd')

    }

    // 카카오페이 API 테스트용
    var kakaoPay = function() {

        // console.log("!kakaoPay!")

        // 카카오페이 결제 관련 데이터 셋팅
        var data = new Object();
        data.cid = 'TC0ONETIME'
        data.partner_order_id = 'partner_order_id'
        data.partner_user_id = 'partner_user_id'
        data.item_name = '초코파이'
        data.quantity = '1'
        data.total_amount = '2200'
        data.vat_amount = '200'
        data.tax_free_amount = '0'
        data.approval_url = 'https://jpass.jeju.kr/user/main'
        data.fail_url = 'https://jpass.jeju.kr/user/main'
        data.cancel_url = 'https://jpass.jeju.kr/user/main'

        // 카카오페이 결제정보를 가지고 /pay/kakaopay 페이지로 리다이렉션
        $.redirect("/pay/kakaopay", {data}, "POST");

    }

    // 결제하기
    function pay() {
        var data = new Object();
        data.valid = 'valid';

        "<% if( itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE' ) { %>"

        if ($('.recaddretc').val()) {
        } else {
            data.valid = 'norecaddretc';
        }

        if ($('.recaddr').val()) {
        } else {
            data.valid = 'norecaddr';
        }

        if ($('.recphone').val()) {
            if (!(telPhoneCheck($('.recphone')[0]))) {
                data.valid = 'wrongrecphone';
            }
        } else {
            data.valid = 'norecphone';
        }

        if ($('.recname').val()) {
            if (!(checkReqName($('.recname')[0]))) {  // 수령인
                data.valid = 'wrongrecname';
            }
        } else {
            data.valid = 'norecname';
        }

        "<%}%>"

        "<% if( itempayinfo[0].ItemType_CD == 'DTC' || itempayinfo[0].ItemType_CD == 'DCA' || itempayinfo[0].ItemType_CD == 'ATR') { %>"
        if (selday == '') {
            data.valid = 'noresvselday'
        }
        "<%}%>"

        console.log("data.valid: ", data.valid);
        let msg = ''

        if (data.valid != 'valid') {
            switch (data.valid) {
                case 'norecname':
                    msg = '수령인 이름을 입력해주세요.';
                    break;
                case 'wrongrecname':
                    msg = '수령인 이름 형식을 확인해주세요.';
                    break;
                case 'norecphone':
                    msg = '수령인 연락처를 입력해주세요.';
                    break;
                case 'wrongrecphone':
                    msg = "수령인 연락처 형식을 확인해주세요."
                    break;
                case 'nofromname':
                    msg = '배송지 이름을 입력해주세요.';
                    break;
                case 'wrongfromname':
                    msg = '배송지 이름 형식을 확인해주세요.';
                    break;
                case 'nofromphone':
                    msg = '배송지 연락처를 입력해주세요.';
                    break;
                case 'wrongfromphone':
                    msg = '배송지 연락처 형식을 확인해주세요.';
                    break;
                case 'norecaddr':
                    msg = '배송지 주소를 입력해주세요.';
                    break;
                case 'norecaddretc':
                    msg = '상세주소를 입력해주세요.';
                    break;
                case 'noselday':
                    msg = '배송희망 날짜를 선택해주세요.';
                    break;
                case 'noresvselday':
                    msg = "예약 날짜를 선택해주세요."
                    break;
                default:
                    msg = data.valid
                    break;
            }

            modal(msg, 'ok', 'hide')
            return;
        } else {

            // 구매정보 기록하기
            // var historyData = payHistoryData()

            // $.post("/api/execute", historyData, function (jqXHR) {

            //     if (jqXHR.msg == 'SUCCESS') {
            //         // modal('구매기록성공', 'ok', 'hide')
            //     } else {
            //         // modal('구매기록실패', 'ok', 'hide')
            //     }
            // }, 'json' /* xml, text, script, html */)
            // .done(function (jqXHR) {console.log(jqXHR)})
            // .fail(function (jqXHR) {console.log(jqXHR)})
            // .always(function (jqXHR) {console.log(jqXHR)});

            //결제 요청하기 
            var data = payData()

            // 결제하기 flag 사용 post제어 (추가 이병주 20210309 )
            if(payFlag){ 
                let SendData = new Object();

                SendData.Member_ID = parseInt('<%=sess.Member_ID%>')
                SendData.Page = data.Page
                SendData.BuyQty = parseInt('<%=qty%>')

                "<% if( itempayinfo[0].ItemType_CD === 'DEL' || itempayinfo[0].ItemType_CD === 'FDE' ) { %>"
                    SendData.Contract_ID = parseInt('<%=Contract_ID%>')
                    "<% } else if( itempayinfo[0].ItemType_CD === 'DTC' || itempayinfo[0].ItemType_CD === 'DCA' || itempayinfo[0].ItemType_CD === 'ATR') { %>"
                SendData.Item_ID = data.Item_ID
                SendData.ResvDate = data.ResvDate
                SendData.ItemResvOpt_Seq = data.ItemResvOpt_Seq
                "<%}%>"

                SendData.uri = '/api/v1/item/checkoutofbuy'
                // console.log(SendData)
                $.post("/api/execute", SendData, function (jqXHRResult) {
                    if (jqXHRResult.msg === 'SUCCESS') { //재고 검증 성공 

                        $.post("/api/execute", data, function (jqXHR) { // member/payvoucher 

                            if (jqXHR.msg === 'SUCCESS') { // makefinalordfer 성공

                                //#region MemberGrade_CD : TST 테스터 (테스트) 등급 일때 로직, 2021.07.29 이병주 
                                
		                        let envPgPassGrade = '<%=global_PgPassGrade%>' // TST 테스터 등급 일때 (설정) ,  추후 실서비스 반영시 .env 환경변수로 설정하여 사용 (예 : PGP (PG PASS)) 2021.07.29)
                                let trigger = '<%=sess.MemberGrade_CD%>'
                                let supTrigger = '<%=iteminfo[0].MemberGrade_CD%>'
                                if ( trigger == envPgPassGrade && supTrigger  == envPgPassGrade) { // 사용자, 공급자 등급이 모두 TST 일떄
                                    let confirmTst = confirm('사용자/공급자 모두 '+envPgPassGrade+'등급 입니다. 확인시 즉시 결제처리됩니다.')
                                    if(confirmTst){                                        
                                        pgPass(data, jqXHR.result.OrderNumber) //    /js/pay.js 정의함수
                                        payFlag = true
                                    }
                                }else {
                                    // pay.js로 결제정보와 OrderNumber 보내기
                                    pgpay(data, jqXHR.result.OrderNumber) 
                                    payFlag = false
                                }
                                //#endregion

                                // 기존코드
                                // // pay.js로 결제정보와 OrderNumber 보내기
                                // pgpay(data, jqXHR.result.OrderNumber)
                                
                                

                            } else {
                                modal('결제요청실패', 'ok', 'hide')

                            }
                        }, 'json' /* xml, text, script, html */)
                            .done(function (jqXHR) {})
                            .fail(function (jqXHR) {})
                            .always(function (jqXHR) {});

                        
                    } else if (jqXHRResult.msg === 'NOTENOUGHINVENTORY' ) {  //재고소진
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>재고가 부족합니다.<br>잔여재고 : ' + jqXHRResult.result[0][0].Stock + '개', 'ok', 'hide');
                        return;
                    } else  if (jqXHRResult.msg === 'NEEDINVENTORY' && SendData.Page === 'Single' ) {  // 품절
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>품절된 상품입니다.<br>잔여재고 : ' + jqXHRResult.result[0][0].Stock + '개', 'ok', 'hide');
                        return;
                    } else if ( jqXHRResult.msg === 'NEEDINVENTORY' && SendData.Page === 'Option' ) { //품절 - 해당시간대 예약불가
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약상품이 품절되었습니다.<br>예약가능 인원 : ' + jqXHRResult.result[0][0].Stock + '명', 'ok', 'hide');
                        return
                    } else  if (jqXHRResult.msg === 'PERIODPASSED' ) {  // 유효기간 지남
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>구매가능기간이 지난 상품입니다.', 'ok', 'hide');
                        return;
                    } else if ( jqXHRResult.msg === 'OVERBOOKING' ) {   //오버부킹
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약가능 인원수가 부족합니다.<br>예약가능 인원 : ' + jqXHRResult.result[0][0].Stock + '명', 'ok', 'hide');
                        return
                    } else if ( jqXHRResult.msg === 'RESVTIMEAUTOCANCELED' ) {  //예약시간대 자동취소됨
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약 가능시간이 지난 시간대 입니다.', 'ok', 'hide');
                        return
                    } else if ( jqXHRResult.msg === 'RESVTIMEPASSED' ) {  //예약시간대가 이미지남
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약 가능시간이 지난 시간대 입니다.', 'ok', 'hide');
                        return
                    } else if ( jqXHRResult.msg === 'SELDAYPASSED' ) {  //예약일이 지남
                        modal('[ 상품명 : ' + jqXHRResult.result[0][0].ItemTitle + ']<br>예약 할 수 없는 날짜 입니다.', 'ok', 'hide');
                        return
                    } else {
                        modal('예기치 못한 오류가 발생하였습니다.','ok','hide');
                        return;
                    }
                }, 'json' /* xml, text, script, html */)
                    .done(function (jqXHRResult) {
                    })
                    .fail(function (jqXHRResult) {
                    })
                    .always(function (jqXHRResult) {
                    });



            }else{
                // console.log('payFlag = ' + payFlag) // 처리내용
                return false
            }


        }
    }


    var merchant_uid = ''


    $(function(){
        payinit(payData());
        merchant_uid = '<%=merchant_uid%>'
    });

    // function payHistoryData() {

    //     var data = new Object();
    //     data.uri = '/api/v1/item/inserpaymentpagehistory'

    //     data.Contract_ID = '<%= Contract_ID %>'
    //     data.Item_ID= '<%= Item_ID %>'
    //     data.User_ID = '<%= sess.Member_ID %>'
    //     data.Amount ='<%= itempayinfo[0].TotalAmount %>'

    //     return data;
    // }


    // 결제 관련 데이터 셋팅
    function payData() {

        var data = new Object();

        "<% if (itempayinfo[0].ItemType_CD == 'ATR') { %>"
        setCookie("PageType", 'Option');
        data.Page = 'Option'
        "<% } else { %>"
        setCookie("PageType", 'Single');
        data.Page = 'Single'
        "<% } %>"

        data.uri = '/api/v1/member/payvoucher'
        data.Member_ID = '<%=sess.Member_ID %>'
        data.username = '<%=sess.AccountID%>'
        data.ItemType_CD = '<%=itempayinfo[0].ItemType_CD%>'
        data.DealType_CD = 'AUP'
        data.DealTRCode = merchant_uid
        data.Param = '<%=Contract_ID%>/<%=qty%>'
        data.PayType_CD = 'CRD'
        data.CardNo = ''
        data.CardCompany = ''
        data.AccountNo = ''
        data.BankName = ''
        data.Depositor = ''
        data.image = '<%=itempic[0].Filepath%><%=itempic[0].Filename%>'
        data.signdate = '<%= hashString %>'
        data.ediDate  = '<%= ediDate %>'
        data.qty = '<%=qty %>'
        data.grade = '<%=sess.MemberGrade_CD%>'
        data.MemberMode_CD = '<%=sess.MemberMode_CD%>'
        data.merchant_uid = merchant_uid
        data.storeid = '<%=merchantID%>'
        data.pay_method = 'card'
        data.MemberName = '<%= sess.MemberName %>'
        data.Email = '<%= sess.AccountID %>'
        // 2021.08.02 독자사이트 모바일 cookies이슈로 인하여 여기서 cookies값을 받아 post로도 보내주는 데이터를 추가
        data.itemdetailURL = getCookie('itemdetailURL');
        data.showstoreURL = getCookie('showstoreURL');

        setCookie("ImageURL", '<%=itempic[0].Filepath%><%=itempic[0].Filename%>');

        // console.log("qty:", data.qty)

        "<% if(itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE' ) { %>"
        data.ShippingFee = '<%= itempayinfo[0].ShippingFee %>'
        data.AdditionalFeeOther = '<%= itempayinfo[0].AdditionalFeeOther %>'
        data.AdditionalFeeAbroad = '<%= itempayinfo[0].AdditionalFeeAbroad %>'
        data.DiscountShippingFee = '<%= itempayinfo[0].DiscountShippingFee %>'
        "<% } else { %>"
        data.ShippingFee = 0
        data.AdditionalFeeOther = 0
        data.AdditionalFeeAbroad = 0
        data.DiscountShippingFee = 0
        "<% } %>"

        data.Contract_ID = '<%=Contract_ID %>'
        data.Item_ID= '<%=iteminfo[0].Item_ID%>'
        data.ItemName = '<%=iteminfo[0].ItemTitle%>'
        "<% if(itempayinfo[0].ItemType_CD == 'ATR') { %>"
        data.IssueQty = '<%=qty%>'
        data.PayAmount = '<%=totalPriceATR%>'
        data.TotalAmount = '<%= totalPriceATR %>'
        data.OptionStr = ''
        "<% for (var i = 0; i < itemoptionQtyArr.length; i++) {%>"
        if (parseInt('<%=itemoptionQtyArr[i]%>') > 0) {
            data.OptionStr += '<%=itemoptionContractID[i]%>'+ '!' + '<%=itemoptionQtyArr[i]%>' + '!' + '<%=itemoptionPriceArr[i]%>' + '/'
        }
        "<%}%>"
        // console.log("data.OptionStr: ", data.OptionStr)
        "<%} else {%>"
        data.IssueQty = '<%=itempayinfo[0].Qty%>'
        data.PayAmount = '<%= itempayinfo[0].SalePrice * itempayinfo[0].Qty %>'
        data.TotalAmount = '<%= itempayinfo[0].TotalAmount %>'
        "<%}%>"
        data.DiscountAmount = '<%= iteminfo[0].DiscountAmount %>'
        data.SaleAmount = '<%= itempayinfo[0].TotalAmount %>'
        data.PayStatus = 'BGN'

        // console.log("IssueQty: ", data.IssueQty)
        // console.log("PayAmount: ", data.PayAmount)
        // console.log("SaleAmount: ", data.SaleAmount)
        // console.log("TotalAmount: ", data.TotalAmount)

        "<% if (sess.Phone) { %>"
        data.Phone = '<%= sess.Phone %>'
        "<%} else {%>"
        data.Phone = $('.phone').val().replace(/-/gi, "")
        "<%}%>"

        data.pg = 'nicepay'
        data.supid = '<%=iteminfo[0].Supplier_ID%>'
        data.affid = '<%=iteminfo[0].Affiliate_ID%>'
        data.memberid = '<%=sess.Member_ID%>'
        data.image = '<%=itempic[0].Filepath%><%=itempic[0].Filename%>'
        data.redirect_url ='<%=returnURL%>'//결제정보를 가지고 payresult 페이지로 리디렉션됨
        data.ItemType_CD  = '<%=itempayinfo[0].ItemType_CD %>'
        setCookie("ItemType_CD", data.ItemType_CD)

        "<% if(itempayinfo[0].ItemType_CD == 'DCA' || itempayinfo[0].ItemType_CD == 'DTC' || itempayinfo[0].ItemType_CD == 'ATR') { %>"
            data.ResvDate = getCookie('selday');
            setCookie("ResvDate", data.ResvDate);
            data.ResvQty = parseInt($('.reserveqty').val());
            setCookie("ResvQty", data.ResvQty);
            data.ResvName = $('.reservename').val();
            setCookie("ResvName", data.ResvName);
            data.ResvTel = $('.reservetel').val();
            setCookie("ResvTel", data.ResvTel);
            data.ResvMemo = $('.reserveMemo').val();
            setCookie("ResvMemo", data.ResvMemo);  // Memo -> ResvMemo
            data.username = '<%=sess.AccountID%>'
            data.Item_ID = '<%=Item_ID %>'

            "<% if( itempayinfo[0].ItemType_CD == 'DTC' || itempayinfo[0].ItemType_CD == 'ATR') { %>"
            data.ItemResvOpt_Seq = '<%=seq%>'
            setCookie("ItemResvOpt_Seq", data.ItemResvOpt_Seq);
            "<% } else {%>"
            data.ItemResvOpt_Seq = 0
            setCookie("ItemResvOpt_Seq", data.ItemResvOpt_Seq);
            "<% } %>"

        "<% } %>"

        "<% if(itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE') { %>"

            data.OrdName = '<%= sess.MemberName %>'
            setCookie("OrdName", data.OrdName);
            data.OrdTel = $('.phone').val();
            setCookie("OrdTel", data.OrdTel);
            data.RecName = $('.recname').val();
            setCookie("RecName", data.RecName);
            data.RecTel = $('.recphone').val();
            setCookie("RecTel", data.RecTel);
            data.RecPostcode = $('.recpostcode').val();
            setCookie("RecPostcode", data.RecPostcode);
            data.RecAddr = $('.recaddr').val();
            setCookie("RecAddr", data.RecAddr);
            data.RecAddrEtc = $('.recaddretc').val();
            setCookie("RecAddrEct", data.RecAddrEct);
            data.ShipMemo = $('.shipmemo').val();
            setCookie("ShipMemo", data.ShipMemo);

            "<% if( itempayinfo[0].ItemType_CD == 'FDE' ) { %>"
            data.DelvWishDate = $('.wishshipday').val();
            setCookie("DelvWishDate", data.DelvWishDate);
            "<% } %>"
        "<% } %>"

        return data;
    }


    //배송상품 결제와 동시에 상품 예약되도록 하기위해 사용
    var reservation = function () {

        var data = new Object();
        data.uri = "/api/v1/item/getvoucherdetail"
        data.Member_ID = '<%=sess.Member_ID %>'
        data.Voucher_ID = '';

        $.post("/api/execute", data, function (jqXHR) {

            if (jqXHR.msg == 'SUCCESS') {
                $('.modal').modal('hide')
                modal('제휴종료를 수락하였습니다.', 'ok', 'move(\'/affiliate/partner\')')
                // 알람 레거시 코드 주석처리 20210325 이병주 (알림)
                // data.event = 'newalarm'
                // ws.send(JSON.stringify(data));

            } else {
                $('.modal').modal('hide')
                modal('예상치못한 오류로 수락에 실패 했습니다.', 'ok', 'move(\'/supplier/partner\')')
            }

        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) { })
            .fail(function (jqXHR) { })
            .always(function (jqXHR) { });

        var msg = ''
        var data = new Object();
        data.valid = 'valid'

        data.ResvDate = selday;
        data.ItemResvOpt_Seq = $('.btn.btn-common.usr.selected').attr('data-ItemResvOpt_Seq')
        data.username = '<%=sess.AccountID%>'
        data.Member_ID = parseInt('<%= sess.Member_ID %>')
        data.ResvName =  $('.nareservename').val()
        data.ResvTel = $('.phone').val()
        data.Memo = $('.remarks').val()
        data.Item_ID = parseInt('<%=Item_ID %>')
        data.Voucher_ID = ''
        data.VoucherSale_ID = ''
        data.ResvQty = 1
        data.uri = '/api/v1/item/reservevoucher'

        // if (!data.Memo) {
        //     data.valid = 'noMemo'
        //     msg = '비고를 입력 하세요.'
        // }

        if (!data.ResvTel) {
            data.valid = 'noResvTel'
            msg = '연락처를 입력 하세요.'
        }

        if (!data.ResvName) {
            data.valid = 'noResvName'
            msg = '예약자를 입력 하세요.'
        }
        // if( !data.ItemResvOpt_Seq ){
        //     data.valid = 'noItemResvOpt_Seq'
        //     msg = '예약옵션을 선택 하세요.'
        // }
        if (!data.ResvDate) {
            data.valid = 'noResvDate'
            msg = '날짜를 선택 하세요.'
        }
        if (data.valid != 'valid') {

            modal(msg, 'ok', 'hide')
            return;
        }
        if (!txtCheck('PHONE', $('.phone').get(0))) {
            return;
        }

        $.post("/api/execute", data, function (jqXHR) {

            if (jqXHR.msg == 'SUCCESS') {
                // 알람 레거시 코드 주석처리 20210325 이병주 (알림)
                // data.event = 'newalarm'
                // data.Member_FID = ''
                //     ws.send(JSON.stringify(data));
                // data.Member_FID = ''
                //     ws.send(JSON.stringify(data));
                modal('<span class=\'icon usr\' style=\'padding-bottom: 0; margin: 0 auto; padding-right:55px;\'>booked</span><p>예약이 완료되었습니다.</p>', 'ok', 'move(\'/user/myvoucher\')')
            } else {
                modal('알 수 없는 오류로 예약에 실패 하였습니다.', 'ok', 'move(\'/user/myvoucher\')')
            }

        }, 'json' /* xml, text, script, html */)
            .done(function (jqXHR) { })
            .fail(function (jqXHR) { })
            .always(function (jqXHR) { });
        // console.log(data)
    }


    $(document).ready(function () {

        clearAddressbook();

        pcresize();

        var StartDate = new Date()
        StartDate.setDate(StartDate.getDate() + 2)
        var StartDate = new Date('<%= iteminfo[0].Started.toString().substring(0,10) %>').format('yyyy-MM-dd')
        var EndDate = new Date('<%= iteminfo[0].Ended.toString().substring(0,10) %>').format('yyyy-MM-dd')

        $('#event-cal-container').simpleCalendar({
            StartDate: StartDate,
            EndDate: EndDate,
            selectCallback: function (date) { }
        });

        $('.today').addClass('usr');
        // $('.wrongday').removeClass('wrongday')

        updatecal();
        selday = getCookie('selday');
        $('.wishshipday').val(selday);
        $('.reserveday').val(selday);

        "<% if(itempayinfo[0].ItemType_CD == 'DEL' || itempayinfo[0].ItemType_CD == 'FDE') { %>"

            "<% if( !addrinfo[0] ) { %>"

            $('.samedelvinfo').addClass('active');
            $('.recname').val('<%= sess.MemberName %>');
            $('.recphone').val('<%= sess.Phone %>');
            $('.recaddr').val('<%= sess.Addr %>')
            $('.recaddretc').val('<%= sess.AddrEtc %>')
            $('.recpostcode').val('<%= sess.Postcode %>')

            "<% } else { %>"

            $('.recname').val('<%= addrinfo[0].Receiver %>');
            $('.recphone').val('<%= addrinfo[0].Tel %>');
            $('.addrmessage').val('<%= addrinfo[0].Message %>');
            $('.recaddr').val('<%= addrinfo[0].Addr %>')
            $('.recaddretc').val('<%= addrinfo[0].AddrEtc %>')
            $('.recpostcode').val('<%= addrinfo[0].Postcode %>')

            "<% } %>"
        "<%}%>"
    });
</script>